@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	font-size: 11pt;
	font-family: Calibri;
}

h1
{
	font-weight: bold;
	margin-top: -0.33px;
	margin-bottom: 6px;
	font-family: Calibri;
	color: #ffffff;
	mc-hyphenate: never;
	font-size: 16pt;
	margin-bottom: 20px;
	background-color: #46b3e9;
	padding-bottom: 0px;
}

h2
{
	font-weight: bold;
	font-family: Calibri;
	margin-top: 13.75px;
	margin-bottom: 3.75px;
	font-size: 13pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

p
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 5px;
	mc-disable-glossary-terms: false;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

a:link
{
	color: #0000D0;
	text-decoration: none;
}

a:visited
{
	color: #0000D0;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	color: #0000D0;
	text-decoration: none;
}

MadCapexpandingHead
{
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #000000;
	font-style: normal;
	font-size: 11pt;
	font-family: Calibri;
}

MadCapexpandingBody
{
	font-style: italic;
	color: #7b68ee;
}

MadCapdropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	font-style: normal;
	font-size: 12pt;
	font-family: Calibri;
	color: #4682b4;
}

li
{
	font-size: 11pt;
	font-family: Calibri;
	margin-left: -15px;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px ol;
}

p.bodyindent
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 20px;
}

ul
{
	font-size: 11pt;
	font-family: Calibri;
}

li.bullet2
{
	font-size: 11pt;
	font-family: Calibri;
	margin-left: 0px;
}

li.indentalpha
{
	font-size: 11pt;
	font-family: Calibri;
	margin-left: 0px;
}

p.bodyindent2
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 36px;
}

.note
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #e6e6fa;
}

.noteindent
{
	font-size: 11pt;
	font-family: Calibri;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 20px;
	background-color: #e6e6fa;
}

.noteindent2
{
	font-size: 11pt;
	font-family: Calibri;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: #e6e6fa;
	margin-left: 36px;
}

.important
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #99ccff;
}

.caution
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #ffffcc;
}

.warning
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #ffcccc;
}

MadCap|popupBody
{
	background-color: #fffacd;
}

.importantindent
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #99ccff;
	margin-left: 20px;
}

.importantindent2
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #99ccff;
	font-weight: normal;
	margin-left: 36px;
}

.cautionindent
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #ffffcc;
	margin-left: 20px;
}

.cautionindent2
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #ffffcc;
	margin-left: 36px;
}

.warningindent
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #ffcccc;
	margin-left: 20px;
}

.warningindent2
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #ffcccc;
	margin-left: 36px;
}

p.earlyaccess
{
	font-size: 11pt;
	font-family: Calibri;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: #fcc;
	text-align: center;
	padding-bottom: 5px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

td
{
	font-family: Calibri;
	font-size: 11pt;
}

MadCap|dropDownHead
{
	font-family: Calibri;
	font-weight: bold;
	font-style: normal;
	color: #4682b4;
	font-size: 11pt;
}

.copyright
{
	font-family: Calibri;
	margin-bottom: 3px;
	font-size: 9pt;
	color: #a9a9a9;
	margin-top: 35px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
}

img.LargeImage
{
	border: none;
	width: 220px;
	height: 165px;
	mc-thumbnail-max-height: 91px;
	mc-thumbnail: popup;
}

.pagetitle
{
	font-weight: bold;
	margin-top: -2px;
	margin-bottom: 0px;
	font-family: Calibri;
	color: #4682b4;
	mc-hyphenate: never;
	font-size: 16pt;
	padding-bottom: 0px;
}

