/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

a.MCBreadcrumbsLink
{
	text-decoration: underline;
	font-family: 'Proxima Nova Light';
	color: #ffffff;
}

a.MCBreadcrumbsLink:visited
{
	color: #ffffff;
}

a.MCBreadcrumbsLink:hover
{
	color: #e22866;
}

div.tiles a:hover	/*Complex Selector: When hovering over links within the tiles the following properties will apply.*/
{
	color: #3f4652;
}

div.LeftMenu	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.LeftMenu::before
{
	content: ' ';
	display: table;
}

div.LeftMenu::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.LeftMenu > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
}

div.LeftMenu > div:nth-child(1)
{
	background: #20313b;
	background-color: #20313b;
	background-attachment: scroll;
	padding: 60px 30px 60px 60px;
	height: auto;
	width: 25%;
	margin-left: 0%;
}

div.LeftMenu > div:nth-child(2)
{
	background: #ffffff;
	padding: 60px;
	width: 75%;
	margin-left: 0%;
}

div.LeftRightMenu	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.LeftRightMenu::before
{
	content: ' ';
	display: table;
}

div.LeftRightMenu::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.LeftRightMenu > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
	background: transparent;
}

div.LeftRightMenu > div:nth-child(1)
{
	background-attachment: scroll;
	height: auto;
	width: 25%;
	margin-left: 0%;
	padding: 40px 30px 60px 60px;
}

div.LeftRightMenu > div:nth-child(2)
{
	width: 58.333%;
	margin-left: 0%;
	background: #fff;
	border-bottom: solid 2px #d2d2d6;
	border-right-color: #d2d2d6;
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
	padding: 40px 60px 200px;
}

div.LeftRightMenu > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 0%;
	background-color: transparent;
}

div.TopBarLeftRight	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.TopBarLeftRight::before
{
	content: ' ';
	display: table;
}

div.TopBarLeftRight::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.TopBarLeftRight > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	background: transparent;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
}

div.TopBarLeftRight > div:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

div.TopBarLeftRight > div:nth-child(1)
{
	height: auto;
	width: 25%;
	box-shadow: none;
}

div.TopBarLeftRight > div:nth-child(2)
{
	height: auto;
	width: 58.333%;
	box-shadow: none;
	margin-bottom: 1px;
	padding-bottom: 0px;
	padding-top: 40px;
}

div.TopBarLeftRight > div:nth-child(3)
{
	height: auto;
	width: 16.667%;
	box-shadow: none;
}

p.TopBarTile-title
{
	text-align: center;
	color: #ffffff;
}

div.TopBarLeftRight a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #F26849;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: '  ';
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	mc-breadcrumbs-divider: '  >  ';
	color: #ffffff;
	font-size: 80%;
}

div.Footer	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.Footer::before
{
	content: ' ';
	display: table;
}

div.Footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.Footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 120px 60px;
	background: transparent;
}

div.Footer > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.Footer > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.Footer > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

footer
{
	padding: 100px 60px;
}

MadCap|popupBody
{
	background-color: #007dc1;
	color: #ffffff;
}

MadCap|dropDown
{
	mc-closed-image: url(resources:Images/DropDownClosed.gif);
	mc-open-image: url(resources:Images/DropDownOpen.gif);
}

MadCap|snippetBlock
{
	
}

@media only screen and (max-width: 1024px)
{
	div.LeftMenu > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftMenu > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		display: none;
	}

	div.LeftRightMenu > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftRightMenu > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		display: none;
	}

	div.TopBarLeftRight > div:nth-child(2)
	{
		width: 100%;
		margin-left: 5%;
	}

	div.TopBarLeftRight > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
		display: none;
	}

	div.Footer > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.TopBarLeftRight
	{
		display: block;
	}
}

@media only screen and (max-width: 480px)
{
	div.LeftMenu > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		padding-right: 20px;
	}

	div.LeftMenu > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftMenu > div
	{
		height: auto;
	}

	div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		padding-right: 20px;
		display: none;
	}

	div.LeftRightMenu > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftRightMenu > div
	{
		height: auto;
	}

	div.LeftRightMenu > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		padding-right: 20px;
		display: none;
	}

	div.TopBarLeftRight > div:nth-child(2)
	{
		width: 100%;
		margin-left: 5%;
	}

	div.TopBarLeftRight > div
	{
		height: auto;
	}

	div.TopBarLeftRight > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
		display: none;
	}

	div.Footer > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}
}

p.copyright
{
	color: #fff;
	font-size: 75%;
}

div.toolbar-main
{
	float: right;
}

/*==Tiles section==*/

div.tiles-container
{
	padding-top: 60px;
	padding-bottom: 60px;
}

div.tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.tiles::before
{
	content: ' ';
	display: table;
}

div.tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
}

div.tiles > div:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

div.tiles > div:nth-child(1)
{
	width: 32%;
	margin-left: 1%;
}

div.tiles > div:nth-child(2)
{
	width: 32%;
	margin-left: 1%;
}

div.tiles > div:nth-child(3)
{
	width: 32%;
	margin-left: 1%;
}

/*=Elements for text contained within each tile=*/

p.tile-title
{
	text-align: center;
	color: #000000;
}

div.tiles a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #F26849;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

