/*<meta />*/

@import url('okta-fonts.css');

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	color: #404040;
	line-height: 1.7em;
	font-family: 'Proxima Nova Light';
	background-attachment: scroll;
	background-origin: padding-box;
	background-size: auto;
	/*	background: #20313b;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #20313b, #336699);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #20313b, #336699);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #20313b, #336699);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #20313b, #336699);
	/* Standard syntax */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a.MCBreadcrumbsLink
{
	text-decoration: underline;
	font-family: 'Proxima Nova Light';
	color: #007dc1;
	/* overriden by okta-docs-custom */
}

a.MCBreadcrumbsLink:visited
{
	color: #ffffff;
}

a.MCBreadcrumbsLink:hover
{
	color: #e22866;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Proxima Nova';
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
}

h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-family: 'Proxima Nova';
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova';
}

h4
{
	font-family: 'Proxima Nova';
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: 'Proxima Nova Light';
}

MadCap|breadcrumbsProxy	/* overridden by okta-docs-custom */
{
	border-bottom: none;
	mc-breadcrumbs-prefix: 'HOME > ';
	font-family: 'Proxima Nova Light';
	font-weight: bold;
	font-style: normal;
	font-size: 1.8 em;
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	font-family: 'Proxima Nova';
	color: #1f93d0;
}

MadCap|xref:hover
{
	color: #78a900;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Proxima Nova Light';
}

p.Copyright
{
	font-size: 0.8em;
	text-align: left;
	color: #888888;
	line-height: 1.6em;
	margin: 0 0 0 0;
}

p.earlyaccess
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #f1d10d;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

p.update
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	font-family: 'Proxima Nova Light';
}

html.templateTopic div.sideContent
{
	display: none;
}

a:visited
{
	font-family: 'Proxima Nova Light';
	color: #895eb7;
}

a:hover
{
	font-family: 'Proxima Nova Light';
	color: #78a900;
}

html.templateTopic
{
	font-family: 'Proxima Nova';
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/DropDownClosed.png');
	mc-open-image: url('../Images/DropDownOpen.png');
}

/* Footer */

div.footer
{
	font-size: small;
	text-align: left;
	text-indent: 10px;
	vertical-align: bottom;
	height: auto;
	overflow: hidden;
	position: static;
	padding-bottom: 0px;
	padding-top: 0px;
	bottom: -20px;
	background-color: #ededed;
}

MadCap|bodyProxy
{
	margin-bottom: 25px;
}

MadCap|expanding
{
	mc-open-image: url('../Images/DropDownOpen.png');
	mc-closed-image: url('../Images/DropDownClosed.png');
}

img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

b
{
	font-weight: 900;
}

@media only screen and (max-width: 480px)
{
	MadCap|breadcrumbsProxy
	{
		mc-breadcrumbs-divider: '  >  ';
		mc-breadcrumbs-prefix: 'HOME  >  ';
	}

	img
	{
		width: 100%;
	}
}

