/*<meta fileTags="okta-authors.Helena Jerney" conditions="" />*/

/* Global Okta help css -- contains classes and elements used on any and all topics.  */

@import url('okta-fonts.css');

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	color: #404040;
	line-height: 1.7em;
	font-family: 'Proxima Nova Light';
	background-attachment: scroll;
	background-origin: padding-box;
	background-size: auto;
	/*	background: #20313b;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #20313b, #336699);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #20313b, #336699);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #20313b, #336699);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #20313b, #336699);
	/* Standard syntax */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a.Popup
{
	
}

a:visited
{
	font-family: 'Proxima Nova Light';
	color: #895eb7;
}

a:hover
{
	font-family: 'Proxima Nova Light';
	color: #78a900;
}

div.tiles a:hover	/*Complex Selector: When hovering over links within the tiles the following properties will apply.*/
{
	color: #3f4652;
}

a.MCBreadcrumbsLink
{
	text-decoration: none;
	font-family: 'Proxima Nova Light';
	color: #ffffff;
}

a.MCBreadcrumbsLink:visited
{
	color: #ffffff;
}

a.MCBreadcrumbsLink:hover
{
	color: #e22866;
}

b
{
	font-weight: 900;
}

img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Proxima Nova Light';
}

/* p.Copyright
{
	font-size: 0.8em;
	text-align: left;
	color: #888888;
	line-height: 1.6em;
	margin: 0 0 0 0;
} */

p.copyright
{
	color: #fff;
	font-size: 75%;
}

p.earlyaccess
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #f1d10d;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

p.beta
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

p.update
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: 'Proxima Nova Light';
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
}

h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-family: 'Proxima Nova';
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova';
}

h4
{
	font-family: 'Proxima Nova';
}

/* === divs === */

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Proxima Nova';
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	font-family: 'Proxima Nova Light';
}

html.templateTopic div.sideContent
{
	display: none;
}

html.templateTopic
{
	font-family: 'Proxima Nova';
}

div.toolbar-main
{
	float: right;
}

div.body-main
{
	clear: left;
	padding-bottom: 3%;
}

/* === Responsive Grid === */

div.TopBarLeftRight	/* First row */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.TopBarLeftRight::before
{
	content: ' ';
	display: table;
}

div.TopBarLeftRight::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.TopBarLeftRight > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	background: transparent;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
}

div.TopBarLeftRight > div:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

div.TopBarLeftRight > div:nth-child(1)
{
	height: auto;
	width: 25%;
	box-shadow: none;
}

div.TopBarLeftRight > div:nth-child(2)
{
	height: auto;
	width: 58.333%;
	box-shadow: none;
	padding-bottom: 0px;
	padding-top: 40px;
}

div.TopBarLeftRight > div:nth-child(3)
{
	height: auto;
	width: 16.667%;
	box-shadow: none;
}

div.LeftRightMenu	/* Main row*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.LeftRightMenu::before
{
	content: ' ';
	display: table;
}

div.LeftRightMenu::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.LeftRightMenu > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
	background: transparent;
}

div.LeftRightMenu > div:nth-child(1)
{
	background-attachment: scroll;
	height: auto;
	width: 25%;
	padding: 40px 30px 60px 60px;
}

div.LeftRightMenu > div:nth-child(2)
{
	width: 58.333%;
	background: #fff;
	border-bottom: solid 2px #d2d2d6;
	border-right-color: #d2d2d6;
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 200px;
	padding-top: 3%;
}

div.LeftRightMenu > div:nth-child(3)
{
	width: 16.667%;
	background-color: transparent;
}

/* div.footer -- Footer row --
{
	font-size: small;
	text-align: left;
	text-indent: 10px;
	vertical-align: bottom;
	height: auto;
	overflow: hidden;
	position: static;
	padding-bottom: 0px;
	padding-top: 0px;
	bottom: -20px;
	background-color: #ededed;
} */

div.Footer	/* Footer row */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.Footer::before
{
	content: ' ';
	display: table;
}

div.Footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.Footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 6% 3%;
	background: transparent;
}

div.Footer > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.Footer > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.Footer > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

footer
{
	padding: 100px 60px;
}

/* === Madcap styles === */

MadCap|bodyProxy
{
	margin-bottom: 25px;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: '  ';
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	mc-breadcrumbs-divider: '  >  ';
	color: #ffffff;
	font-size: 80%;
	border-bottom-color: transparent;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
	mc-image-spacing: 2%;
}

MadCap|expanding
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
}

MadCap|popupBody
{
	background-color: #007dc1;
	color: #ffffff;
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	font-family: 'Proxima Nova';
	color: #1f93d0;
}

MadCap|xref:hover
{
	color: #78a900;
}

/* === Back-to-top floating button === */

.sf-back-to-top
{
	background-color: #336699;
	/* button color */
	color: white;
	/* text/arrow color */
	display: none;
	z-index: 999;
	/* float in bottom right corner */
	/* 20 pixels from edge */
	position: fixed;
	right: 20px;
	bottom: 80px;
	/* size of button is 50 pixels*/
	width: 50px;
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* round button */
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.sf-back-to-top:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

a.sf-back-to-top
{
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.6;
	padding-left: 2px;
	padding-top: 4px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

a.sf-back-to-top .arrow:before
{
	font-size: 18px;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	display: block;
	vertical-align: middle;
	cursor: pointer;
	margin-left: -5px;
	font-weight: bold;
	content: '^';
}

/* === Tiles section === */

div.tiles-container
{
	padding-top: 60px;
	padding-bottom: 60px;
}

div.tiles	/* Tiles */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.tiles::before
{
	content: ' ';
	display: table;
}

div.tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
}

div.tiles > div:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

div.tiles > div:nth-child(1)
{
	width: 32%;
	margin-left: 1%;
}

div.tiles > div:nth-child(2)
{
	width: 32%;
	margin-left: 1%;
}

div.tiles > div:nth-child(3)
{
	width: 32%;
	margin-left: 1%;
}

/* Elements for text contained within each tile */

p.tile-title
{
	text-align: center;
	color: #000000;
}

div.tiles a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #F26849;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* HJ Elements for text contained within tile-like sections */

p.TopBarTile-title	/* HJ */
{
	text-align: center;
	color: #ffffff;
}

div.TopBarLeftRight a	/* HJ Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #F26849;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* === Form Factors: tablet and mobile === */

@media only screen and (max-width: 1024px)
{
	div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		display: none;
	}

	div.LeftRightMenu > div:nth-child(2)
	{
		width: 100%;
		padding-bottom: 3%;
	}

	div.LeftRightMenu > div:nth-child(3)
	{
		width: 8.3333%;
	}

	div.TopBarLeftRight
	{
		display: block;
	}

	div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		display: none;
	}

	div.TopBarLeftRight > div:nth-child(2)
	{
		width: 100%;
	}

	div.TopBarLeftRight > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
		display: none;
	}

	div.Footer > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.toolbar-main
	{
		float: left;
	}
}

@media only screen and (max-width: 480px)
{
	div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		display: none;
	}

	div.LeftRightMenu > div:nth-child(2)
	{
		width: 100%;
		padding-bottom: 3%;
	}

	div.LeftRightMenu > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		display: none;
	}

	div.TopBarLeftRight > div:nth-child(2)
	{
		width: 100%;
	}

	div.TopBarLeftRight > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
		display: none;
	}

	div.Footer > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.toolbar-main
	{
		float: left;
	}

	a.sf-back-to-top
	{
		line-height: 1.2;
		height: 45px;
		width: 45px;
	}

	img.MCDropDown_Image_Icon	/*To control box sizing for mobile output*/
	{
		box-sizing: border-box;
		max-height: 1.5ex;
		max-width: 2ex;
	}

	MadCap|glossaryTerm
	{
		background: #992f00;
	}

	img.new-leaf-icon	/*To style the "New" leaf icon responsively*/
	{
		
	}
}

