/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: okta_table_white_altRowShade;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #333333;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #333333;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #333333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-spacing-y: 0;
	margin-top: -4;
	margin-left: 10px;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	color: #333333;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	background-color: #b7d8ff;
	color: #333333;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	background-color: #ffffff;
	color: #333333;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: Body2;
	background-color: #f5f5f5;
	color: #333333;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
}


/* Cell Styles: */
 
.TableStyle-okta_table_white_altRowShade
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #333333;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	margin-left: 10px;
	margin-top: -4;
	border-spacing: 0px 0px;
}

.TableStyle-okta_table_white_altRowShade-Column-Column1
{
	
}

.TableStyle-okta_table_white_altRowShade-Head-Header1
{
	
}

.TableStyle-okta_table_white_altRowShade-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white_altRowShade-HeadI-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta_table_white_altRowShade-HeadE-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta_table_white_altRowShade-HeadF-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white_altRowShade-HeadH-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta_table_white_altRowShade-HeadD-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white_altRowShade-HeadC-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white_altRowShade-HeadB-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white_altRowShade-HeadA-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white_altRowShade-HeadG-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootI-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootI-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootE-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white_altRowShade-FootE-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootF-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootF-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootH-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white_altRowShade-FootH-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootD-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootD-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootC-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootC-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootB-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white_altRowShade-FootB-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootA-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootA-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootG-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-FootG-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-Body-Body1
{
	
}

.TableStyle-okta_table_white_altRowShade-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white_altRowShade-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white_altRowShade-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white_altRowShade-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-Body-Body2
{
	
}

.TableStyle-okta_table_white_altRowShade-BodyI-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyI-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyE-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white_altRowShade-BodyE-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyF-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyF-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyH-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white_altRowShade-BodyH-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyD-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyD-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyC-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyC-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyB-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white_altRowShade-BodyB-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyA-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyA-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyG-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
}

.TableStyle-okta_table_white_altRowShade-BodyG-Column1-Body2 p
{
	color: #333333;
}


