/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: standard-known_issues_with_heading;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	border-spacing-y: 0;
	max-id: 3;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

mcTableColumnStyle
{
	span: 7;
	separator-style: none;
	separator-width: 1px;
	separator-color: #a9a9a9;
	color: #333333;
	name: Column1;
	id: 0;
	size: 1pt;
	cell-padding-left: 7px;
	cell-padding-right: 7px;
	cell-padding-top: 7px;
	cell-padding-bottom: 7px;
	cell-content-style-tag: p;
	ruler-style: none;
	ruler-width: 1px;
	ruler-color: #c0c0c0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #c0c0c0;
	background-color: #e6e6e8;
	color: #333333;
	name: Header1;
	id: 3;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	color: #333333;
	name: Body1;
	id: 1;
	type: Automatic;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-standard-known_issues_with_heading
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #c0c0c0;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #c0c0c0;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-standard-known_issues_with_heading-Column-Column1
{
	width: 1pt;
}

.TableStyle-standard-known_issues_with_heading-Head-Header1
{
	
}

.TableStyle-standard-known_issues_with_heading-HeadI-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: none;
	color: #333333;
	text-align: left;
	background-color: #e6e6e8;
}

.TableStyle-standard-known_issues_with_heading-HeadI-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-HeadE-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: none;
	color: #333333;
	text-align: left;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: none;
}

.TableStyle-standard-known_issues_with_heading-HeadE-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-HeadF-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: none;
	color: #333333;
	text-align: left;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: none;
}

.TableStyle-standard-known_issues_with_heading-HeadF-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-HeadH-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: none;
	color: #333333;
	text-align: left;
	background-color: #e6e6e8;
}

.TableStyle-standard-known_issues_with_heading-HeadH-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-HeadD-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #333333;
	text-align: left;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: none;
}

.TableStyle-standard-known_issues_with_heading-HeadD-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-HeadC-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: none;
	color: #333333;
	text-align: left;
	background-color: #e6e6e8;
}

.TableStyle-standard-known_issues_with_heading-HeadC-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-HeadB-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: none;
	color: #333333;
	text-align: left;
	background-color: #e6e6e8;
}

.TableStyle-standard-known_issues_with_heading-HeadB-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-HeadA-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #333333;
	text-align: left;
	background-color: #e6e6e8;
}

.TableStyle-standard-known_issues_with_heading-HeadA-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-HeadG-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #333333;
	text-align: left;
	background-color: #e6e6e8;
}

.TableStyle-standard-known_issues_with_heading-HeadG-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-FootI-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-FootI-Column1- p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-FootE-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-FootE-Column1- p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-FootF-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-FootF-Column1- p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-FootH-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-FootH-Column1- p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-FootD-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-known_issues_with_heading-FootD-Column1- p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-FootC-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-FootC-Column1- p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-FootB-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-FootB-Column1- p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-FootA-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-known_issues_with_heading-FootA-Column1- p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-FootG-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-known_issues_with_heading-FootG-Column1- p
{
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-Body-Body1
{
	
}

.TableStyle-standard-known_issues_with_heading-BodyI-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-BodyE-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-BodyF-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-BodyH-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-BodyD-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-known_issues_with_heading-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-BodyC-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-BodyB-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-standard-known_issues_with_heading-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-BodyA-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-known_issues_with_heading-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-known_issues_with_heading-BodyG-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-known_issues_with_heading-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}


