/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: okta_table_VerHist;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #333333;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #333333;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #333333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-spacing-y: 0;
	margin-top: -4;
	margin-left: 10px;
	max-id: 2;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	color: #333333;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	background-color: #b7d8ff;
	color: #333333;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	background-color: #ffffff;
	color: #333333;
	name: Body1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-okta_table_VerHist
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #333333;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	margin-left: 10px;
	margin-top: -4;
	border-spacing: 0px 0px;
}

.TableStyle-okta_table_VerHist-Column-Column1
{
	
}

.TableStyle-okta_table_VerHist-Head-Header1
{
	
}

.TableStyle-okta_table_VerHist-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_VerHist-HeadI-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta_table_VerHist-HeadE-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta_table_VerHist-HeadF-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_VerHist-HeadH-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta_table_VerHist-HeadD-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_VerHist-HeadC-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_VerHist-HeadB-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_VerHist-HeadA-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_VerHist-HeadG-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootI-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootI-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootE-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_VerHist-FootE-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootF-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootF-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootH-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_VerHist-FootH-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootD-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootD-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootC-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootC-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootB-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_VerHist-FootB-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootA-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootA-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootG-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta_table_VerHist-FootG-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_VerHist-Body-Body1
{
	
}

.TableStyle-okta_table_VerHist-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_VerHist-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_VerHist-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_VerHist-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_VerHist-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}


