/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: okta_table_vert_rule_no_borders_no_background;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #333333;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #333333;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #333333;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	cell-padding-left: 0px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 0px;
	border-spacing-y: 14;
	margin-top: 0px;
	margin-left: 0px;
	max-id: 8;
	border-spacing-x: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #007dc1;
	color: #696969;
	name: Column1;
	id: 0;
	cell-padding-left: 1.25em;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	separator-style: none;
	separator-width: 1px;
	text-align: left;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #333333;
	color: #333333;
	name: Body1;
	id: 1;
	cell-padding-left: 1em;
	cell-content-style-tag: p;
}


/* Cell Styles: */
 
.TableStyle-okta_table_vert_rule_no_borders_no_background
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #333333;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #333333;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #333333;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-top: 0px;
	border-spacing: 0px 14px;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-Column-Column1
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-Column-Column2
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadI-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadI-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadE-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
	border-right-width: 3px;
	border-right-color: #007dc1;
	border-right-style: solid;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadE-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadF-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadF-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadH-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
	border-right-width: 3px;
	border-right-color: #007dc1;
	border-right-style: solid;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadH-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadD-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadD-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadC-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadC-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadB-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
	border-right-width: 3px;
	border-right-color: #007dc1;
	border-right-style: solid;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadB-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadA-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadA-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadG-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadG-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadI-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadI-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadE-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadE-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadF-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadF-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadH-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadH-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadD-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadD-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadC-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadC-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadB-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadB-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadA-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadA-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadG-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-HeadG-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootI-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootI-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootE-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
	border-right-width: 3px;
	border-right-color: #007dc1;
	border-right-style: solid;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootE-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootF-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootF-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootH-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
	border-right-width: 3px;
	border-right-color: #007dc1;
	border-right-style: solid;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootH-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootD-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootD-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootC-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootC-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootB-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
	border-right-width: 3px;
	border-right-color: #007dc1;
	border-right-style: solid;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootB-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootA-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootA-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootG-Column1-
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootG-Column1- p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootI-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootI-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootE-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootE-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootF-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootF-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootH-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootH-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootD-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootD-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootC-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootC-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootB-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootB-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootA-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootA-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootG-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-FootG-Column2- p
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-Body-Body1
{
	
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyI-Column1-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyI-Column1-Body1 p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyE-Column1-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: none;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
	border-right-width: 3px;
	border-right-color: #007dc1;
	border-right-style: solid;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyE-Column1-Body1 p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyF-Column1-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: none;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyF-Column1-Body1 p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyH-Column1-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
	border-right-width: 3px;
	border-right-color: #007dc1;
	border-right-style: solid;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyH-Column1-Body1 p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyD-Column1-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: none;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyD-Column1-Body1 p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyC-Column1-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyC-Column1-Body1 p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyB-Column1-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
	border-right-width: 3px;
	border-right-color: #007dc1;
	border-right-style: solid;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyB-Column1-Body1 p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyA-Column1-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyA-Column1-Body1 p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyG-Column1-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #696969;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 1.25em;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyG-Column1-Body1 p
{
	color: #696969;
	font-weight: bold;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyI-Column2-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	font-weight: normal;
	padding-left: 1em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyI-Column2-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyE-Column2-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	font-weight: normal;
	padding-left: 1em;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyE-Column2-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyF-Column2-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	font-weight: normal;
	padding-left: 1em;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyF-Column2-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyH-Column2-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	font-weight: normal;
	padding-left: 1em;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyH-Column2-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyD-Column2-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	font-weight: normal;
	padding-left: 1em;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyD-Column2-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyC-Column2-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	font-weight: normal;
	padding-left: 1em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyC-Column2-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyB-Column2-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	font-weight: normal;
	padding-left: 1em;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyB-Column2-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyA-Column2-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	font-weight: normal;
	padding-left: 1em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyA-Column2-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyG-Column2-Body1
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	font-weight: normal;
	padding-left: 1em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-okta_table_vert_rule_no_borders_no_background-BodyG-Column2-Body1 p
{
	color: #333333;
	font-weight: normal;
}


