/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: okta_table_white;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #333333;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #333333;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #333333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	cell-padding-left: 10px;
	cell-padding-right: 4px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
	border-spacing-y: 0;
	margin-top: 0px;
	margin-left: 10px;
	max-id: 2;
	border-spacing-x: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	color: #333333;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	background-color: #b7d8ff;
	color: #333333;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	background-color: #ffffff;
	color: #333333;
	name: Body1;
	id: 1;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-okta_table_white
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #333333;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	margin-left: 10px;
	margin-top: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-okta_table_white-Column-Column1
{
	
}

.TableStyle-okta_table_white-Head-Header1
{
	
}

.TableStyle-okta_table_white-HeadI-Column1-Header1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white-HeadI-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white-HeadE-Column1-Header1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta_table_white-HeadE-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white-HeadF-Column1-Header1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta_table_white-HeadF-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white-HeadH-Column1-Header1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white-HeadH-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white-HeadD-Column1-Header1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta_table_white-HeadD-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white-HeadC-Column1-Header1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white-HeadC-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white-HeadB-Column1-Header1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white-HeadB-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white-HeadA-Column1-Header1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white-HeadA-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white-HeadG-Column1-Header1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
	background-color: #b7d8ff;
}

.TableStyle-okta_table_white-HeadG-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta_table_white-FootI-Column1-
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
}

.TableStyle-okta_table_white-FootI-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white-FootE-Column1-
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white-FootE-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white-FootF-Column1-
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
}

.TableStyle-okta_table_white-FootF-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white-FootH-Column1-
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white-FootH-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white-FootD-Column1-
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
}

.TableStyle-okta_table_white-FootD-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white-FootC-Column1-
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
}

.TableStyle-okta_table_white-FootC-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white-FootB-Column1-
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white-FootB-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white-FootA-Column1-
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
}

.TableStyle-okta_table_white-FootA-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white-FootG-Column1-
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333333;
}

.TableStyle-okta_table_white-FootG-Column1- p
{
	color: #333333;
}

.TableStyle-okta_table_white-Body-Body1
{
	
}

.TableStyle-okta_table_white-BodyI-Column1-Body1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_white-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white-BodyE-Column1-Body1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white-BodyF-Column1-Body1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta_table_white-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white-BodyH-Column1-Body1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white-BodyD-Column1-Body1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta_table_white-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white-BodyC-Column1-Body1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_white-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white-BodyB-Column1-Body1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta_table_white-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white-BodyA-Column1-Body1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_white-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta_table_white-BodyG-Column1-Body1
{
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta_table_white-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}


