/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Columns;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #d3d3d3;
	name: Column1;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column2;
	id: 1;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 2;
}


/* Cell Styles: */
 
.TableStyle-Columns
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Columns .Column-Column1
{
	
}

.TableStyle-Columns .Column-Column2
{
	
}

.TableStyle-Columns .Head-Header1
{
	
}

.TableStyle-Columns .HeadI-Column1-Header1
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Columns .HeadE-Column1-Header1
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Columns .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Columns .HeadF-Column1-Header1
{
	background-color: #d3d3d3;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Columns .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Columns .HeadH-Column1-Header1
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Columns .HeadD-Column1-Header1
{
	background-color: #d3d3d3;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Columns .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Columns .HeadC-Column1-Header1
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Columns .HeadB-Column1-Header1
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Columns .HeadA-Column1-Header1
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Columns .HeadG-Column1-Header1
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Columns .HeadI-Column2-Header1
{
	
}

.TableStyle-Columns .HeadI-Column2-Header1 p
{
	
}

.TableStyle-Columns .HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Columns .HeadE-Column2-Header1 p
{
	
}

.TableStyle-Columns .HeadF-Column2-Header1
{
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Columns .HeadF-Column2-Header1 p
{
	
}

.TableStyle-Columns .HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .HeadH-Column2-Header1 p
{
	
}

.TableStyle-Columns .HeadD-Column2-Header1
{
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Columns .HeadD-Column2-Header1 p
{
	
}

.TableStyle-Columns .HeadC-Column2-Header1
{
	
}

.TableStyle-Columns .HeadC-Column2-Header1 p
{
	
}

.TableStyle-Columns .HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .HeadB-Column2-Header1 p
{
	
}

.TableStyle-Columns .HeadA-Column2-Header1
{
	
}

.TableStyle-Columns .HeadA-Column2-Header1 p
{
	
}

.TableStyle-Columns .HeadG-Column2-Header1
{
	
}

.TableStyle-Columns .HeadG-Column2-Header1 p
{
	
}

.TableStyle-Columns .FootI-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .FootI-Column1- p
{
	
}

.TableStyle-Columns .FootE-Column1-
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .FootE-Column1- p
{
	
}

.TableStyle-Columns .FootF-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .FootF-Column1- p
{
	
}

.TableStyle-Columns .FootH-Column1-
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .FootH-Column1- p
{
	
}

.TableStyle-Columns .FootD-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .FootD-Column1- p
{
	
}

.TableStyle-Columns .FootC-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .FootC-Column1- p
{
	
}

.TableStyle-Columns .FootB-Column1-
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .FootB-Column1- p
{
	
}

.TableStyle-Columns .FootA-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .FootA-Column1- p
{
	
}

.TableStyle-Columns .FootG-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .FootG-Column1- p
{
	
}

.TableStyle-Columns .FootI-Column2-
{
	
}

.TableStyle-Columns .FootI-Column2- p
{
	
}

.TableStyle-Columns .FootE-Column2-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .FootE-Column2- p
{
	
}

.TableStyle-Columns .FootF-Column2-
{
	
}

.TableStyle-Columns .FootF-Column2- p
{
	
}

.TableStyle-Columns .FootH-Column2-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .FootH-Column2- p
{
	
}

.TableStyle-Columns .FootD-Column2-
{
	
}

.TableStyle-Columns .FootD-Column2- p
{
	
}

.TableStyle-Columns .FootC-Column2-
{
	
}

.TableStyle-Columns .FootC-Column2- p
{
	
}

.TableStyle-Columns .FootB-Column2-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .FootB-Column2- p
{
	
}

.TableStyle-Columns .FootA-Column2-
{
	
}

.TableStyle-Columns .FootA-Column2- p
{
	
}

.TableStyle-Columns .FootG-Column2-
{
	
}

.TableStyle-Columns .FootG-Column2- p
{
	
}

.TableStyle-Columns .Body-Body1
{
	
}

.TableStyle-Columns .BodyI-Column1-Body1
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .BodyI-Column1-Body1 p
{
	
}

.TableStyle-Columns .BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .BodyE-Column1-Body1 p
{
	
}

.TableStyle-Columns .BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #d3d3d3;
}

.TableStyle-Columns .BodyF-Column1-Body1 p
{
	
}

.TableStyle-Columns .BodyH-Column1-Body1
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .BodyH-Column1-Body1 p
{
	
}

.TableStyle-Columns .BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #d3d3d3;
}

.TableStyle-Columns .BodyD-Column1-Body1 p
{
	
}

.TableStyle-Columns .BodyC-Column1-Body1
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .BodyC-Column1-Body1 p
{
	
}

.TableStyle-Columns .BodyB-Column1-Body1
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .BodyB-Column1-Body1 p
{
	
}

.TableStyle-Columns .BodyA-Column1-Body1
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .BodyA-Column1-Body1 p
{
	
}

.TableStyle-Columns .BodyG-Column1-Body1
{
	background-color: #d3d3d3;
}

.TableStyle-Columns .BodyG-Column1-Body1 p
{
	
}

.TableStyle-Columns .BodyI-Column2-Body1
{
	
}

.TableStyle-Columns .BodyI-Column2-Body1 p
{
	
}

.TableStyle-Columns .BodyE-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .BodyE-Column2-Body1 p
{
	
}

.TableStyle-Columns .BodyF-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Columns .BodyF-Column2-Body1 p
{
	
}

.TableStyle-Columns .BodyH-Column2-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .BodyH-Column2-Body1 p
{
	
}

.TableStyle-Columns .BodyD-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Columns .BodyD-Column2-Body1 p
{
	
}

.TableStyle-Columns .BodyC-Column2-Body1
{
	
}

.TableStyle-Columns .BodyC-Column2-Body1 p
{
	
}

.TableStyle-Columns .BodyB-Column2-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Columns .BodyB-Column2-Body1 p
{
	
}

.TableStyle-Columns .BodyA-Column2-Body1
{
	
}

.TableStyle-Columns .BodyA-Column2-Body1 p
{
	
}

.TableStyle-Columns .BodyG-Column2-Body1
{
	
}

.TableStyle-Columns .BodyG-Column2-Body1 p
{
	
}

