/* MadCap Table Style: */

mcTableStyle {
	name: IBC_Table_2; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #333333; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #333333; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #333333; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #333333; 
	cell-padding-left: 4px; 
	cell-padding-right: 4px; 
	cell-padding-top: 2px; 
	cell-padding-bottom: 2px; 
	border-spacing-y: 0; 
	margin-top: -4; 
        margin-left: 10px;
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #333333; 
	color: #333333; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #333333; 
	background-color: #b7d8ff; 
	color: #333333; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #333333; 
	background-color: #dedede; 
	color: #333333; 
}

 
 
/* Cell Styles: */
 
/*<meta />*/

.TableStyle_IBC_Table_2
{
	border-left-style: solid;
	border-left-color: #333333;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 4px 4px;
}

.TableStyle_IBC_Table_2_Head_0_0
{
	background-color: #b7d8ff;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Head_0_0_RowSep_ColSep
{
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle_IBC_Table_2_Head_0_0_RowSep
{
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Head_0_0_ColSep
{
	background-color: #b7d8ff;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle_IBC_Table_2_Head_0_0_RowSep_ColEnd
{
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Head_0_0_RowEnd
{
	background-color: #b7d8ff;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Head_0_0_RowEnd_ColSep
{
	background-color: #b7d8ff;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle_IBC_Table_2_Head_0_0_RowEnd_ColEnd
{
	background-color: #b7d8ff;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Head_0_0_ColEnd
{
	background-color: #b7d8ff;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Body_0_0
{
	font-weight: normal;
	background-color: #dedede;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	background-color: #dedede;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle_IBC_Table_2_Body_0_0_RowSep
{
	font-weight: normal;
	background-color: #dedede;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Body_0_0_ColSep
{
	font-weight: normal;
	background-color: #dedede;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle_IBC_Table_2_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	background-color: #dedede;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Body_0_0_RowEnd
{
	font-weight: normal;
	background-color: #dedede;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	background-color: #dedede;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle_IBC_Table_2_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	background-color: #dedede;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle_IBC_Table_2_Body_0_0_ColEnd
{
	font-weight: normal;
	background-color: #dedede;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}


