/*<meta />*/

/* Main Page Styles */

body
{
	margin: 0 !important;
	padding: 0 !important;
	max-width: 100% !important;
}

.inner-wrap
{
	min-height: 100vh;
}

.inner-wrap .outer-row
{
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 62.5em;
}

.main-section > .outer-row
{
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 62.5em;
}

img
{
	vertical-align: baseline;
}

.navigation-wrapper
{
	float: right;
}

.tab-bar-section.middle > div
{
	min-height: 40px;
}

/* Topbar (Navigation) Dropdown Styles*/

ul.navigation
{
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	white-space: nowrap;
	z-index: 1;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 100px;
	background-repeat: repeat;
	background-position: center center;
	color: #fafafa;
	font-family: 'Proxima Nova';
	font-size: 16px;
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px;
}

ul.navigation,
ul.navigation ul
{
	list-style: none;
}

ul.navigation ul
{
	z-index: 1000;
	width: auto;
	margin: 0;
	padding: 10px 0 10px 0;
	position: absolute;
	background-color: #007dc1;
}

ul.navigation > li > ul
{
	left: auto;
	right: 0;
}

ul.navigation > li.has-children:after
{
	content: ' ';
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	bottom: 0;
	left: 50%;
	margin-left: -8px;
	border-bottom-color: #007dc1;
}

ul.navigation ul,
ul.navigation > li.has-children:after
{
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	-ms-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	visibility: hidden;
	opacity: 0;
}

ul.navigation ul ul
{
	top: 0;
	left: 100%;
	background-color: #007dc1;
}

ul.navigation ul ul.openLeft
{
	left: auto;
	right: 100%;
}

ul.navigation ul ul.openRight
{
	right: auto;
	left: 100%;
}

ul.navigation a
{
	text-decoration: none;
	height: 100%;
	outline: none;
	color: #fafafa;
	font-family: 'Proxima Nova';
	font-size: 16px;
	font-weight: normal;
}

ul.navigation li
{
	position: relative;
	list-style: none;
	margin: 0;
	height: 100%;
}

ul.navigation li > a
{
	display: block;
	line-height: 45px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.navigation li li
{
	padding: 0 10px;
}

ul.navigation > li
{
	position: relative;
	float: left;
	display: block;
}

ul.navigation li:hover > ul,
ul.navigation > li.has-children:hover:after
{
	visibility: visible;
	opacity: 1;
}

ul.navigation li:hover
{
	background-color: transparent;
}

ul.navigation ul > li
{
	line-height: 15px;
}

ul.navigation ul > li > a
{
	padding: 0 15px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 15px;
}

ul.navigation ul > li:hover
{
	background-color: #4b4b4b;
}

#resultList .glossary .term a:visited
{
	
}

#resultList h3.title a:visited
{
	color: #895EB7;
	text-decoration: underline;
}

#resultList .glossary .term a:focus
{
	
}

#resultList h3.title a:focus
{
	color: #0a74b5;
	text-decoration: underline;
}

ul.navigation li > a:hover
{
	background-repeat: repeat;
	color: #ffffff;
}

ul.navigation ul > li > a:hover
{
	background-repeat: repeat;
}

ul.navigation ul ul > li > a:hover
{
	background-repeat: repeat;
}

ul.navigation ul ul ul > li > a:hover
{
	background-repeat: repeat;
}

ul.navigation ul ul ul ul > li > a:hover
{
	background-repeat: repeat;
}

#resultList .glossary .term a:hover
{
	
}

#pagination a:hover
{
	border-top: solid 1px #e2e2e6;
}

#resultList h3.title a:hover
{
	text-decoration: underline;
}

#resultList .glossary .term a:active
{
	
}

#resultList h3.title a:active
{
	color: #0a74b5;
	text-decoration: underline;
}

ul.navigation ul > li.has-children > a:after
{
	position: absolute;
	border: none;
	content: "\00bb";
	right: 5px;
	top: 9px;
}

nav.tab-bar
{
	height: auto;
	line-height: inherit;
	padding: 10px 0;
	display: block;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #007DC1 none;
	-pie-background: #007DC1;
}

nav.tab-bar .menu-icon
{
	display: none;
}

.tab-bar-section
{
	position: relative;
}

.tab-bar-section.middle
{
	width: 100%;
	left: 0;
	right: 0;
	height: auto;
	min-height: 2.5em;
}

.tab-bar-section a.logo
{
	border: none;
	padding: 0;
	margin: 0;
	position: absolute;
	display: block;
	width: 100px;
	height: 34px;
	top: 50%;
	bottom: auto;
	margin-top: -17px;
	left: 0;
	background: transparent url('Images/Okta_Logo_White_okta-help_1.png') no-repeat center center;
	-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Okta_Logo_White_okta-help_1.png') no-repeat center center;
}

/* Topbar Menu Functionality Styles */

#navigation.topbar > .row
{
	height: 100%;
}

#navigation.topbar
{
	background-color: #292928;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Search */

.nav-search
{
	margin-top: 10px;
}

.search-field
{
	padding: 0 0 0 10px;
	line-height: 1em;
	top: 0;
	left: 0;
	position: relative;
	height: 2em;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	color: #aBADAC;
	font-family: 'Proxima Nova';
	font-size: 16px;
	font-style: italic;
	padding-left: 15px;
	padding-top: 0px;
	background-color: #ffffff;
	padding-right: 95px;
}

.search-field::-webkit-search-cancel-button
{
	display: none;
}

.search-filter
{
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 2em;
	padding-right: 5px;
	cursor: pointer;
	height: 2em;
	border-bottom: none;
	border-top: none 0px transparent;
	border-right: solid 1px #000000;
	border-left: solid 1px #000000;
	width: 45px;
	background: #fafafa url('Images/FilterOutline.png') no-repeat center center;
	-pie-background: #fafafa url('Skins/Fluid/Stylesheets/Images/FilterOutline.png') no-repeat center center;
}

.search-filter.selected
{
	background: transparent url('Images/Filter.png') no-repeat center center;
	-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Filter.png') no-repeat center center;
}

.search-filter.open
{
	-pie-background: #fafafa url('Skins/Fluid/Stylesheets/Images/FilterOutline.png') no-repeat center center;
	color: #fafafa;
	font-family: 'Proxima nova';
	font-size: 15px;
	background-color: #007dc1;
}

.search-filter-wrapper
{
	display: none;
	position: absolute;
	top: 0;
	font-size: 16px;
	right: 45px;
}

.search-filter-content
{
	display: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	right: 0;
	line-height: normal;
	text-align: left;
	overflow: auto;
	z-index: 1;
	white-space: nowrap;
	top: 2em;
	color: #fafafa;
	font-family: 'Proxima nova';
	font-size: 15px;
	background-color: #007dc1;
}

.search-filter-content ul li
{
	padding: 5px;
	margin: 0;
}

.search-filter-content ul li:hover
{
	color: #fafafa;
	background-color: #007dc1;
}

.search-submit-wrapper
{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
}

/* OffCanvas */

ul.off-canvas-list li
{
	margin: 0;
}

.left-off-canvas-menu,
.right-off-canvas-menu
{
	display: none;
}

/* Pulse.htm */

html.pulseTopic .main-section .row.outer-row
{
	padding: 0;
	max-width: 1050px;
}

.inner-wrap nav.tab-bar .outer-row
{
	
}

.tab-bar .menu-icon span
{
	top: 10px;
}

ul.navigation ul a
{
	
}

ul.navigation ul ul a
{
	
}

ul.navigation ul ul ul
{
	background-color: #007dc1;
}

ul.navigation ul ul ul a
{
	
}

ul.navigation ul ul ul ul
{
	background-color: #007dc1;
}

ul.navigation ul ul ul ul a
{
	
}

ul.navigation ul ul > li > a
{
	margin-right: 0px;
	padding-right: 10px;
}

ul.navigation ul ul ul > li > a
{
	padding-right: 10px;
}

ul.navigation ul ul ul ul > li > a
{
	padding-right: 10px;
}

ul.navigation ul ul > li:hover
{
	background-color: #4b4b4b;
}

ul.navigation ul ul ul > li:hover
{
	background-color: #4b4b4b;
}

ul.navigation ul ul ul ul > li:hover
{
	background-color: #4b4b4b;
}

.row.nav-search
{
	display: block;
	margin-top: 10px;
	margin-bottom: 0px;
}

.search-bar
{
	width: 100%;
	margin-left: 0px;
}

.search-submit
{
	height: 2em;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	width: 45px;
	background: #fafafa url('Images/SearchIcon.png') no-repeat center center;
	-pie-background: #fafafa url('Skins/Fluid/Stylesheets/Images/SearchIcon.png') no-repeat center center;
}

#resultList .glossary .definition
{
	
}

#resultList .glossary
{
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-position: center center;
}

#resultList .glossary .term
{
	font-size: 1.5em;
	margin-bottom: 10px;
}

#resultList .glossary .term a
{
	
}

h1#results-heading
{
	color: #5d5d5d;
	font-family: 'Proxima Nova';
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
}

#results-heading
{
	border-bottom: solid 1px #EBEBEB;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.search-field::-webkit-input-placeholder
{
	color: #aBADAC;
}

.search-field::-moz-placeholder
{
	color: #aBADAC;
}

.search-field:-moz-placeholder
{
	color: #aBADAC;
}

.search-field:-ms-input-placeholder
{
	color: #aBADAC;
}

#pagination
{
	height: 2.5em;
	line-height: 2.5em;
}

#pagination a
{
	border-top: solid 1px #fafafc;
	border-right: solid 1px #fafafc;
	border-bottom: solid 1px #fafafc;
	border-left: solid 1px #fafafc;
	color: #007dc1;
	font-family: 'Proxima Nova';
	font-size: 1em;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
}

#pagination a#selected
{
	font-weight: bold;
	border-top: solid 1px #e2e2e6;
}

#resultList .description
{
	color: #5d5d5d;
	font-family: 'Proxima Nova';
	font-size: 0.8em;
}

#resultList h3.title a
{
	color: #0a74b5;
	font-family: 'Proxima Nova';
	font-size: 1em;
}

#resultList h3.title
{
	font-family: 'Proxima Nova';
	margin-bottom: 2px;
	text-decoration: none;
}

#resultList .url cite
{
	color: #007dc1;
	font-family: 'Proxima Nova';
	font-size: 0.8em;
	font-style: normal;
}

#resultList
{
	line-height: 1em;
	text-align: left;
	display: block;
}

