/*<meta />*/

@media only screen and (max-width: 480px)
{
	.search-bar
	{
		width: 100%;
	}

	.buttons._Skins_okta_toolbar.mc-component
	{
		display: block;
		margin-bottom: 2px;
	}

	._Skins_okta_toolbar.mc-component .button
	{
		background-repeat: no-repeat;
		background: #fff;
		background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: linear-gradient(#fff, #fff);
		background-position: center center;
	}

	._Skins_okta_toolbar.mc-component .button.collapse-all-button
	{
		display: block;
		background: #fff url('Images/collapse-all-non-hover-sm.png') no-repeat center center;
		background: url('Images/collapse-all-non-hover-sm.png') no-repeat center center, -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/collapse-all-non-hover-sm.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: url('Images/collapse-all-non-hover-sm.png') no-repeat center center, -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/collapse-all-non-hover-sm.png') no-repeat center center, -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/collapse-all-non-hover-sm.png') no-repeat center center, -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/collapse-all-non-hover-sm.png') no-repeat center center, linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/collapse-all-non-hover-sm.png') no-repeat center center, linear-gradient(#fff, #fff);
	}

	._Skins_okta_toolbar.mc-component .button.current-topic-index-button
	{
		background-repeat: no-repeat;
		background: #fff;
		background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: linear-gradient(#fff, #fff);
		background-position: center center;
	}

	._Skins_okta_toolbar.mc-component .button.expand-all-button
	{
		background: #fff url('Images/expand-all-non-hover-sm.png') no-repeat center center;
		background: url('Images/expand-all-non-hover-sm.png') no-repeat center center, -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/expand-all-non-hover-sm.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: url('Images/expand-all-non-hover-sm.png') no-repeat center center, -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/expand-all-non-hover-sm.png') no-repeat center center, -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/expand-all-non-hover-sm.png') no-repeat center center, -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/expand-all-non-hover-sm.png') no-repeat center center, linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/expand-all-non-hover-sm.png') no-repeat center center, linear-gradient(#fff, #fff);
	}

	._Skins_okta_toolbar.mc-component .button.next-topic-button
	{
		background: #fff url('Images/arrow-right-gray.png') no-repeat center center;
		background: url('Images/arrow-right-gray.png') no-repeat center center, -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/arrow-right-gray.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: url('Images/arrow-right-gray.png') no-repeat center center, -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/arrow-right-gray.png') no-repeat center center, -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/arrow-right-gray.png') no-repeat center center, -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/arrow-right-gray.png') no-repeat center center, linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/arrow-right-gray.png') no-repeat center center, linear-gradient(#fff, #fff);
	}

	._Skins_okta_toolbar.mc-component .button.previous-topic-button
	{
		background: #fff url('Images/arrow-left-gray.png') no-repeat center center;
		background: url('Images/arrow-left-gray.png') no-repeat center center, -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/arrow-left-gray.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: url('Images/arrow-left-gray.png') no-repeat center center, -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/arrow-left-gray.png') no-repeat center center, -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/arrow-left-gray.png') no-repeat center center, -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/arrow-left-gray.png') no-repeat center center, linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/arrow-left-gray.png') no-repeat center center, linear-gradient(#fff, #fff);
	}

	._Skins_okta_toolbar.mc-component .button.print-button
	{
		background: #fff url('Images/printer.png') no-repeat center center;
		background: url('Images/printer.png') no-repeat center center, -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/printer.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: url('Images/printer.png') no-repeat center center, -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/printer.png') no-repeat center center, -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/printer.png') no-repeat center center, -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/printer.png') no-repeat center center, linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/printer.png') no-repeat center center, linear-gradient(#fff, #fff);
	}

	._Skins_okta_toolbar.mc-component .button.remove-highlight-button
	{
		background: #fff url('Images/highlight.png') no-repeat center center;
		background: url('Images/highlight.png') no-repeat center center, -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/highlight.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: url('Images/highlight.png') no-repeat center center, -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/highlight.png') no-repeat center center, -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/highlight.png') no-repeat center center, -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/highlight.png') no-repeat center center, linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/highlight.png') no-repeat center center, linear-gradient(#fff, #fff);
	}

	._Skins_okta_toolbar.mc-component .button.select-language-button
	{
		background: #fff url('Images/select-language.png') no-repeat center center;
		background: url('Images/select-language.png') no-repeat center center, -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/select-language.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: url('Images/select-language.png') no-repeat center center, -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/select-language.png') no-repeat center center, -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/select-language.png') no-repeat center center, -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/select-language.png') no-repeat center center, linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/select-language.png') no-repeat center center, linear-gradient(#fff, #fff);
	}

	._Skins_okta_toolbar.mc-component .button.select-skin-button
	{
		background: #fff url('Images/select-skin.png') no-repeat center center;
		background: url('Images/select-skin.png') no-repeat center center, -moz-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/select-skin.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff));
		background: url('Images/select-skin.png') no-repeat center center, -webkit-linear-gradient(top, #fff 0%, #fff 100%);
		background: url('Images/select-skin.png') no-repeat center center, -o-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/select-skin.png') no-repeat center center, -ms-linear-gradient(top, #fff 0%,#fff 100%);
		background: url('Images/select-skin.png') no-repeat center center, linear-gradient(top, #fff 0%,#fff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/select-skin.png') no-repeat center center, linear-gradient(#fff, #fff);
	}

	._Skins_okta_toolbar.mc-component .toolbar-button-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_okta_toolbar.mc-component .toolbar-button-drop-down.select-language-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_okta_toolbar.mc-component .toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_okta_toolbar.mc-component .toolbar-button-drop-down.select-skin-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_okta_toolbar.mc-component .toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_okta_toolbar.mc-component .button-separator
	{
		
	}

	ul.menu._Skins_okta_side_menu.mc-component
	{
		display: none;
		background-color: transparent;
	}

	ul.menu._Skins_okta_side_menu.mc-component a
	{
		
	}

	ul.menu._Skins_okta_side_menu.mc-component li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_okta_side_menu.mc-component ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_okta_side_menu.mc-component ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_okta_side_menu.mc-component ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_okta_side_menu.mc-component ul ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_okta_side_menu.mc-component li > a.selected
	{
		background-color: transparent;
	}

	ul.menu._Skins_okta_side_menu.mc-component li > a:hover
	{
		background-color: #cacaca;
	}

	ul.menu._Skins_okta_side_menu.mc-component ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_okta_side_menu.mc-component ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_okta_side_menu.mc-component ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_okta_side_menu.mc-component ul ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_okta_side_menu.mc-component li > a.selected:hover
	{
		background-color: #cacaca;
	}
}

