#
# Description:
#  Code ownership file for the okta/okta-help GitHub repository for
#  mapping resources to teams.
#  See [CODEOWNERS] for details.
#
# Notes:
#  Users must have write access to the repo in order for this mechanism to
#  work correctly.
#  This will likely be true of @okta/team but not @team-okta
#
# Resources
#  - [CODEOWNERS] https://help.github.com/articles/about-codeowners
#


# Aliasing utility
/i18n-utils/ @paulwallace-okta @emikhasyak-okta
/okta_help.htm  @paulwallace-okta @emikhasyak-okta
# End aliasing utility
