@font-face {
  font-family: "Aeonik Air";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Air.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Air Italic";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Airitalic.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Black";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Black.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Black Italic";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Blackitalic.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Bold";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Bolditalic.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Light";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Light.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Light Italic";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Medium";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Regular";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Regularitalic.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Thin";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: url("Aeonik/Aeonik-Thinitalic.otf") format("opentype");
}

@font-face {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: url("DM-Sans/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("DM-Sans/DMSans-Bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: url("DM-Sans/DMSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: url("DM-Sans/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: url("DM-Sans/DMSans-Mediumitalic.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: url("DM-Sans/DMSans-Regular.ttf") format("opentype");
}
