/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: standard-no-borders-alt-row-color;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 4;
	border-spacing-y: 20;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-spacing-x: 20;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	background-color: #fafafa;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	vertical-align: top;
	type: Automatic;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-standard-no-borders-alt-row-color
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 20px 20px;
}

.TableStyle-standard-no-borders-alt-row-color-Column-Column1
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadI-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-HeadE-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadF-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-HeadH-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadD-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadC-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-HeadB-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadA-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadG-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootI-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-FootE-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootF-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-FootH-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootD-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootC-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-FootB-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootA-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootG-Column1- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-Body-Body1
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyI-Column1-Body1
{
	vertical-align: top;
	background-color: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyI-Column1-Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyE-Column1-Body1
{
	vertical-align: top;
	background-color: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyE-Column1-Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyF-Column1-Body1
{
	vertical-align: top;
	background-color: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyF-Column1-Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyH-Column1-Body1
{
	vertical-align: top;
	background-color: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyH-Column1-Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyD-Column1-Body1
{
	vertical-align: top;
	background-color: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyD-Column1-Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyC-Column1-Body1
{
	vertical-align: top;
	background-color: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyC-Column1-Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyB-Column1-Body1
{
	vertical-align: top;
	background-color: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyB-Column1-Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyA-Column1-Body1
{
	vertical-align: top;
	background-color: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyA-Column1-Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyG-Column1-Body1
{
	vertical-align: top;
	background-color: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyG-Column1-Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-Body-Body2
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyI-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyI-Column1-Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyE-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyE-Column1-Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyF-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyF-Column1-Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyH-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyH-Column1-Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyD-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyD-Column1-Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyC-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyC-Column1-Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyB-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyB-Column1-Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyA-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyA-Column1-Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyG-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyG-Column1-Body2 p
{
	
}


