# Setting default line endings
* text eol=lf

# Text file extensions
*.css text
*.eslintrc text
*.gitattributes text
*.gitignore text
*.htm text
*.html text
*.js text
*.json text
*.lock text
*.md text
*.svg text
*.txt text
*.xml text
*.yml text


# Binary file extensions
*.docx binary
*.gif binary
*.jpg binary
*.jpeg binary
*.otf binary
*.png binary
*.woff binary
*.woff2 binary
