/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: okta_table_one_row_shaded;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	size: 1in;
	text-align: left;
	cell-padding-left: 1em;
	background-color: #007dc1;
	color: #ffffff;
	font-weight: bold;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	background-color: #ffffff;
	size: 5in;
	cell-padding-right: 2em;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	background-color: #f5f5f5;
	size: 3em;
	cell-padding-left: 0em;
	vertical-align: bottom;
	text-align: left;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-okta_table_one_row_shaded
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-okta_table_one_row_shaded-Column-Column1
{
	width: 1in;
}

.TableStyle-okta_table_one_row_shaded-Column-Column2
{
	width: 5in;
}

.TableStyle-okta_table_one_row_shaded-Head-Header1
{
	
}

.TableStyle-okta_table_one_row_shaded-HeadI-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-HeadE-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-okta_table_one_row_shaded-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-HeadF-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-okta_table_one_row_shaded-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-HeadH-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-HeadD-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-okta_table_one_row_shaded-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-HeadC-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-HeadB-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-HeadA-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-HeadG-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-HeadI-Column2-Header1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-HeadI-Column2-Header1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-HeadE-Column2-Header1
{
	background-color: #ffffff;
	padding-right: 2em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-okta_table_one_row_shaded-HeadE-Column2-Header1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-HeadF-Column2-Header1
{
	background-color: #ffffff;
	padding-right: 2em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-okta_table_one_row_shaded-HeadF-Column2-Header1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-HeadH-Column2-Header1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-HeadH-Column2-Header1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-HeadD-Column2-Header1
{
	background-color: #ffffff;
	padding-right: 2em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-okta_table_one_row_shaded-HeadD-Column2-Header1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-HeadC-Column2-Header1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-HeadC-Column2-Header1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-HeadB-Column2-Header1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-HeadB-Column2-Header1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-HeadA-Column2-Header1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-HeadA-Column2-Header1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-HeadG-Column2-Header1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-HeadG-Column2-Header1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-Foot-Footer1
{
	
}

.TableStyle-okta_table_one_row_shaded-FootI-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-FootI-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-FootE-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-okta_table_one_row_shaded-FootE-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-FootF-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-okta_table_one_row_shaded-FootF-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-FootH-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-FootH-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-FootD-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-okta_table_one_row_shaded-FootD-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-FootC-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-FootC-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-FootB-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-FootB-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-FootA-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-FootA-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-FootG-Column1-Footer1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-FootG-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-FootI-Column2-Footer1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-FootI-Column2-Footer1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-FootE-Column2-Footer1
{
	background-color: #ffffff;
	padding-right: 2em;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-okta_table_one_row_shaded-FootE-Column2-Footer1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-FootF-Column2-Footer1
{
	background-color: #ffffff;
	padding-right: 2em;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-okta_table_one_row_shaded-FootF-Column2-Footer1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-FootH-Column2-Footer1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-FootH-Column2-Footer1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-FootD-Column2-Footer1
{
	background-color: #ffffff;
	padding-right: 2em;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-okta_table_one_row_shaded-FootD-Column2-Footer1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-FootC-Column2-Footer1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-FootC-Column2-Footer1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-FootB-Column2-Footer1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-FootB-Column2-Footer1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-FootA-Column2-Footer1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-FootA-Column2-Footer1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-FootG-Column2-Footer1
{
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-FootG-Column2-Footer1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-Body-Body1
{
	height: 3em;
}

.TableStyle-okta_table_one_row_shaded-BodyI-Column1-Body1
{
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-BodyI-Column1-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-BodyE-Column1-Body1
{
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-BodyE-Column1-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-BodyF-Column1-Body1
{
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-BodyF-Column1-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-BodyH-Column1-Body1
{
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-BodyH-Column1-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-BodyD-Column1-Body1
{
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-BodyD-Column1-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-BodyC-Column1-Body1
{
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-BodyC-Column1-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-BodyB-Column1-Body1
{
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-BodyB-Column1-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-BodyA-Column1-Body1
{
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-BodyA-Column1-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-BodyG-Column1-Body1
{
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #007dc1;
	padding-left: 1em;
}

.TableStyle-okta_table_one_row_shaded-BodyG-Column1-Body1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-okta_table_one_row_shaded-BodyI-Column2-Body1
{
	text-align: left;
	vertical-align: bottom;
	padding-left: 0em;
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-BodyI-Column2-Body1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-BodyE-Column2-Body1
{
	text-align: left;
	vertical-align: bottom;
	padding-left: 0em;
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-BodyE-Column2-Body1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-BodyF-Column2-Body1
{
	text-align: left;
	vertical-align: bottom;
	padding-left: 0em;
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-BodyF-Column2-Body1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-BodyH-Column2-Body1
{
	text-align: left;
	vertical-align: bottom;
	padding-left: 0em;
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-BodyH-Column2-Body1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-BodyD-Column2-Body1
{
	text-align: left;
	vertical-align: bottom;
	padding-left: 0em;
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-BodyD-Column2-Body1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-BodyC-Column2-Body1
{
	text-align: left;
	vertical-align: bottom;
	padding-left: 0em;
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-BodyC-Column2-Body1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-BodyB-Column2-Body1
{
	text-align: left;
	vertical-align: bottom;
	padding-left: 0em;
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-BodyB-Column2-Body1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-BodyA-Column2-Body1
{
	text-align: left;
	vertical-align: bottom;
	padding-left: 0em;
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-BodyA-Column2-Body1 p
{
	
}

.TableStyle-okta_table_one_row_shaded-BodyG-Column2-Body1
{
	text-align: left;
	vertical-align: bottom;
	padding-left: 0em;
	background-color: #ffffff;
	padding-right: 2em;
}

.TableStyle-okta_table_one_row_shaded-BodyG-Column2-Body1 p
{
	
}


