/*<meta />*/

:root
{
	--color-carbon: #191919;
	--color-slate: #6b665f;
	--color-gravel: #afaba1;
	--color-sand: #e8dcc7;
	--color-cream: #f6f1e7;
	--color-snow: #fffefa;
	--color-cobalt: #1a31a9;
	--color-sky: #3f59e4;
	--color-cloud: #b6c9ff;
	--color-ocean: #096256;
	--color-seafoam: #4cb7a3;
	--color-turqouise: #b1e4de;
	--color-fog: #f4f4f4;
	--color-smog: #ebebed;
	--color-steel: #f5fafe;
	--color-royalblue: #00297a;
	--color-white: #ffffff;

}
