/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: standard-horizonal-borders-only;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #333333;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #333333;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #333333;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	cell-padding-left: 0px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 0px;
	border-spacing-y: 14;
	margin-top: 0px;
	margin-left: 0px;
	max-id: 3;
	border-spacing-x: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #333333;
	color: #333333;
	name: Column1;
	id: 0;
	cell-padding-right: 14px;
}

mcTableHeadStyle
{
	span: 1;
	id: 3;
	name: Header1;
	separator-style: solid;
	separator-width: 3px;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	color: #333333;
	name: Body1;
	id: 1;
	vertical-align: top;
	cell-padding-right: 40px;
}


/* Cell Styles: */
 
.TableStyle-standard-horizonal-borders-only
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #333333;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #333333;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #333333;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-top: 0px;
	border-spacing: 0px 14px;
}

.TableStyle-standard-horizonal-borders-only-Column-Column1
{
	
}

.TableStyle-standard-horizonal-borders-only-Head-Header1
{
	
}

.TableStyle-standard-horizonal-borders-only-HeadI-Column1-Header1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	text-align: left;
}

.TableStyle-standard-horizonal-borders-only-HeadI-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: none;
	text-align: left;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-HeadF-Column1-Header1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	text-align: left;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.TableStyle-standard-horizonal-borders-only-HeadF-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-HeadH-Column1-Header1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: none;
	text-align: left;
}

.TableStyle-standard-horizonal-borders-only-HeadH-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-HeadD-Column1-Header1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	text-align: left;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.TableStyle-standard-horizonal-borders-only-HeadD-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-HeadC-Column1-Header1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	text-align: left;
}

.TableStyle-standard-horizonal-borders-only-HeadC-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-HeadB-Column1-Header1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: none;
	text-align: left;
}

.TableStyle-standard-horizonal-borders-only-HeadB-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-HeadA-Column1-Header1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	text-align: left;
}

.TableStyle-standard-horizonal-borders-only-HeadA-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-HeadG-Column1-Header1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	text-align: left;
}

.TableStyle-standard-horizonal-borders-only-HeadG-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-FootI-Column1-
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-FootI-Column1- p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-FootE-Column1-
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: none;
}

.TableStyle-standard-horizonal-borders-only-FootE-Column1- p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-FootF-Column1-
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-FootF-Column1- p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-FootH-Column1-
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: none;
}

.TableStyle-standard-horizonal-borders-only-FootH-Column1- p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-FootD-Column1-
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-FootD-Column1- p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-FootC-Column1-
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-FootC-Column1- p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-FootB-Column1-
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: none;
}

.TableStyle-standard-horizonal-borders-only-FootB-Column1- p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-FootA-Column1-
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-FootA-Column1- p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-FootG-Column1-
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-FootG-Column1- p
{
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-Body-Body1
{
	
}

.TableStyle-standard-horizonal-borders-only-BodyI-Column1-Body1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	padding-right: 14px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: none;
}

.TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-BodyF-Column1-Body1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-BodyH-Column1-Body1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-right: 14px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: none;
}

.TableStyle-standard-horizonal-borders-only-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-BodyC-Column1-Body1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-right: 14px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: none;
}

.TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-BodyA-Column1-Body1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-horizonal-borders-only-BodyG-Column1-Body1
{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-right: 14px;
}

.TableStyle-standard-horizonal-borders-only-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}


