/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: standard;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-spacing-y: 0;
	max-id: 3;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

mcTableColumnStyle
{
	span: 7;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	color: #333333;
	name: Column1;
	id: 0;
	size: 1pt;
	cell-padding-left: 7px;
	cell-padding-right: 7px;
	cell-padding-top: 7px;
	cell-padding-bottom: 7px;
	cell-content-style-tag: p;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #c0c0c0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	background-color: #e6e6e8;
	color: #333333;
	name: Header1;
	id: 3;
	text-align: left;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	color: #333333;
	name: Body1;
	id: 1;
	type: Automatic;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Body2;
	id: 2;
	type: Automatic;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-standard
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #c0c0c0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-standard-Column-Column1
{

}

.TableStyle-standard-Head-Header1
{
	
}

.TableStyle-standard-HeadI-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	color: #333333;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-HeadI-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-HeadE-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #333333;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-HeadE-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-HeadF-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	color: #333333;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-HeadF-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-HeadH-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #333333;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-HeadH-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-HeadD-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #333333;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-HeadD-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-HeadC-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	color: #333333;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-HeadC-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-HeadB-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #333333;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-HeadB-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-HeadA-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #333333;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-HeadA-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-HeadG-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #333333;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-HeadG-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-standard-FootI-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-FootI-Column1- p
{
	color: #333333;
}

.TableStyle-standard-FootE-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-FootE-Column1- p
{
	color: #333333;
}

.TableStyle-standard-FootF-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-FootF-Column1- p
{
	color: #333333;
}

.TableStyle-standard-FootH-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-FootH-Column1- p
{
	color: #333333;
}

.TableStyle-standard-FootD-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-FootD-Column1- p
{
	color: #333333;
}

.TableStyle-standard-FootC-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-FootC-Column1- p
{
	color: #333333;
}

.TableStyle-standard-FootB-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-FootB-Column1- p
{
	color: #333333;
}

.TableStyle-standard-FootA-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-FootA-Column1- p
{
	color: #333333;
}

.TableStyle-standard-FootG-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-FootG-Column1- p
{
	color: #333333;
}

.TableStyle-standard-Body-Body1
{
	
}

.TableStyle-standard-BodyI-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-BodyE-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-BodyF-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-BodyH-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-BodyD-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-BodyC-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-BodyB-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-BodyA-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-BodyG-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-standard-Body-Body2
{
	
}

.TableStyle-standard-BodyI-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-BodyI-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-standard-BodyE-Column1-Body2
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-BodyE-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-standard-BodyF-Column1-Body2
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-BodyF-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-standard-BodyH-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-BodyH-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-standard-BodyD-Column1-Body2
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-BodyD-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-standard-BodyC-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-BodyC-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-standard-BodyB-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-BodyB-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-standard-BodyA-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-BodyA-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-standard-BodyG-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-BodyG-Column1-Body2 p
{
	color: #333333;
}


