/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: srb_no_header;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-spacing-y: 0;
	max-id: 3;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

mcTableColumnStyle
{
	span: 7;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	color: #333333;
	name: Column1;
	id: 0;
	size: 1pt;
	cell-padding-left: 7px;
	cell-padding-right: 7px;
	cell-padding-top: 7px;
	cell-padding-bottom: 7px;
	cell-content-style-tag: p;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #c0c0c0;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	color: #333333;
	name: Body1;
	id: 1;
	type: Automatic;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Body2;
	id: 2;
	type: Automatic;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-srb_no_header
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #c0c0c0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-srb_no_header-Column-Column1
{

}

.TableStyle-srb_no_header-HeadI-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-HeadI-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-HeadE-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-HeadE-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-HeadF-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-HeadF-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-HeadH-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-HeadH-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-HeadD-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-HeadD-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-HeadC-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-HeadC-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-HeadB-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-HeadB-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-HeadA-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-HeadA-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-HeadG-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-HeadG-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-FootI-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-FootI-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-FootE-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-FootE-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-FootF-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-FootF-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-FootH-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-FootH-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-FootD-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-FootD-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-FootC-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-FootC-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-FootB-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-FootB-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-FootA-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-FootA-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-FootG-Column1-
{
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-FootG-Column1- p
{
	color: #333333;
}

.TableStyle-srb_no_header-Body-Body1
{
	
}

.TableStyle-srb_no_header-BodyI-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-srb_no_header-BodyE-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-srb_no_header-BodyF-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-srb_no_header-BodyH-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-srb_no_header-BodyD-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-srb_no_header-BodyC-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-srb_no_header-BodyB-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-srb_no_header-BodyA-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-srb_no_header-BodyG-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-srb_no_header-Body-Body2
{
	
}

.TableStyle-srb_no_header-BodyI-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyI-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-srb_no_header-BodyE-Column1-Body2
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyE-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-srb_no_header-BodyF-Column1-Body2
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyF-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-srb_no_header-BodyH-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyH-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-srb_no_header-BodyD-Column1-Body2
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-BodyD-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-srb_no_header-BodyC-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyC-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-srb_no_header-BodyB-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-srb_no_header-BodyB-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-srb_no_header-BodyA-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-BodyA-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-srb_no_header-BodyG-Column1-Body2
{
	vertical-align: top;
	color: #333333;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-srb_no_header-BodyG-Column1-Body2 p
{
	color: #333333;
}


