html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: #5e5e5e;
  font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.clearfix {
  display: block;
}

.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  content: '.';
  visibility: hidden;
}

.header {
  padding: 20px 0;
  background-color: #007dc1;
}

.logo-container {
  width: 1000px;
  margin: 0 auto;
}

.logo-container img {
  width: 80px;
}

.okta-instructions {
  overflow-x: hidden;
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0 40px;
}

.okta-instructions * + * {
  margin-top: 1em;
}

.okta-instructions ul {
  margin-left: 2em;
}

.okta-instructions ul {
  list-style-type: disc;
}

.okta-instructions ul li {
  list-style-type: disc;
}

.okta-instructions ol {
  list-style-type: none;
  margin-top: 1em;
  margin-left: 25px;
  padding: 0;
  counter-reset: li;
}

.okta-instructions ol > li {
  position: relative;
  padding-left: 10px;
  line-height: 24px;
  margin-top: 1.6em;
}

.okta-instructions ol > li:before {
  color: #fff;
  background-color: #46b3e9;
  position: absolute;
  top: 0;
  left: -25px;
  width: 20px;
  height: 20px;
  padding: 2px;
  line-height: 21px;
  text-align: center;
  border-radius: 50%;
  content: counter(li);
  counter-increment: li;
}

.okta-instructions ol > li > ol > li {
  list-style-type: lower-alpha;
}

.okta-instructions ol > li > ol > li:before {
  content: counter(li, lower-alpha);
}

.okta-instructions h1 {
  font-size: 36px;
  font-weight: 300;
}

.okta-instructions h2 {
  font-size: 30px;
  font-weight: 300;
}

.okta-instructions h3 {
  font-size: 24px;
  font-weight: normal;
}

.okta-instructions h4 {
  font-size: 18px;
  font-weight: normal;
}

.okta-instructions a {
  color: #0074b3;
}

.okta-instructions img {
  display: block;
  max-width: 100%;
}

.okta-instructions hr {
  border: 1px solid #eee;
  margin-top: 2.6em;
}

.okta-callout {
  position: relative;
  min-height: 18px;
  padding: 24px 24px 24px 70px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fbfbfb;
}

.okta-callout h2,
.okta-callout h3 {
  font-size: 15px !important;
  font-weight: bold;
}

.okta-callout h2 *,
.okta-callout h3 * {
  font-size: 15px !important;
  font-weight: 600;
  line-height: 18px;
}

.okta-callout ul {
  margin-right: 0;
  margin-left: 27px;
}

.okta-callout:before {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: 48px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  content: '';
}

.okta-callout > .icon-24 {
  display: block;
  position: absolute;
  top: 20px;
  left: 11px;
  width: 24px;
  height: 24px;
  background-image: url("../img/doc-sprite.png");
  background-repeat: no-repeat;
  background-size: 96px;
}

.okta-callout > .icon-24.icon-info {
  background-position: 0 0;
}

.okta-callout > .icon-24.icon-success {
  background-position: -24px 0;
}

.okta-callout > .icon-24.icon-warning {
  background-position: -48px 0;
}

.okta-callout > .icon-24.icon-error {
  background-position: -72px 0;
}

.okta-callout > .icon-24 + * {
  margin-top: 0;
}

.okta-callout[style='display: none;'] + .okta-callout,
.okta-callout[style='display:none;'] + .okta-callout {
  margin-top: 0;
}

.okta-callout h2 + *,
.okta-callout h3 + *,
.okta-callout p + *,
.okta-callout ul + *,
.okta-callout ol + *,
.okta-callout li + * {
  margin-top: 9px;
}

.okta-callout:before {
  background-color: #007dc1;
}

.okta-success:before {
  background-color: #4cbf9c;
}

.okta-warning:before {
  background-color: #f1d10d;
}

.okta-error:before,
.okta-danger:before {
  background-color: #e34843;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .okta-callout > .icon-24 {
    background-image: url("../img/doc-sprite@2x.png");
  }
}


/* Code and quotes */
kbd,
blockquote,
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 9px 19px;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #f9f9f9;
  box-shadow: 0 1px 1px rgba(160, 160, 160, 0.1) inset;
  line-height: 20px;
}

kbd,
code,
pre,
kbd *,
code *,
pre * {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -0.04em;
  font-weight: normal;
}

/* Tables */
.gridtable {
  font-size: 13px;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.gridtable th {
  padding: 8px;
  background: #f2f2f2;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #ddd;
  text-align: left;
}

.gridtable td {
  padding: 8px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  text-align: left;
}

.gridtable td:last-child {
  border-right: 0;
}

.gridtable tr:last-child td {
  border-bottom: 0;
}

