<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:fileTags="Tags/okta-authors.Ian Hakes" MadCap:conditions="Primary.do-not-publish">
    <head>
        <link rel="canonical" href="https://help.okta.com/wf/en-us/Content/Topics/Workflows/connector-reference/sendgrid/actions/addcontacttolist.htm" />
        <link href="../../TableStyles/standard-horizonal-borders-only.css" rel="stylesheet" MadCap:stylesheetType="table" /><title>[%=Heading.Level1%] | Okta</title>
        <meta name="coveo:connector" content="sendgrid" />
        <meta name="coveo:method-description" content="Add a contact to a list in SendGrid." />
        <meta name="coveo:method-name" content="addcontacttolist" />
        <meta name="coveo:method-type" content="action" />
    </head>
    <body>
        <div data-content-id="hoc-main-content">
            <h1>Card title</h1>
            <p>Card description.</p>
            <h2>Options</h2>
            <table style="width: 100%;mc-table-style: url('../../TableStyles/standard-horizonal-borders-only.css');margin-left: 0;margin-right: auto;" class="TableStyle-standard-horizonal-borders-only" cellspacing="14">
                <col style="width: 20%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <col style="width: 55%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <col style="width: 15%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <col style="width: 10%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <thead>
                    <tr class="TableStyle-standard-horizonal-borders-only-Head-Header1">
                        <th style="text-align: left;" class="TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1">Field</th>
                        <th style="text-align: left;" class="TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1">Definition</th>
                        <th class="TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1">Type</th>
                        <th style="text-align: left;" class="TableStyle-standard-horizonal-borders-only-HeadD-Column1-Header1">Required</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1">Field 1 label</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1">Field 1 description</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1">Field 1 type</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyA-Column1-Body1">[TRUE/FALSE]</td>
                    </tr>
                </tbody>
            </table>
            <h2>Input</h2>
            <table style="width: 100%;margin-left: 0;margin-right: auto;mc-table-style: url('../../TableStyles/standard-horizonal-borders-only.css');" class="TableStyle-standard-horizonal-borders-only" cellspacing="14">
                <col style="width: 20%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <col style="width: 55%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <col style="width: 15%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <col style="width: 10%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <thead>
                    <tr class="TableStyle-standard-horizonal-borders-only-Head-Header1">
                        <th style="text-align: left;" class="TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1">Field</th>
                        <th style="text-align: left;" class="TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1">Definition</th>
                        <th class="TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1">Type</th>
                        <th style="text-align: left;" class="TableStyle-standard-horizonal-borders-only-HeadD-Column1-Header1">Required</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1" style="font-weight: bold;" colspan="4"><span class="uicontrol">Group title 1</span>
                        </td>
                    </tr>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1" style="font-weight: normal;">Field 1 label</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1" style="font-weight: normal;">Description of field</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1" style="font-weight: normal;">Type</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1" style="font-weight: normal;">[TRUE/FALSE]</td>
                    </tr>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1" style="font-weight: normal;">Field 2 label</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1" style="font-weight: normal;">Description of field</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1" style="font-weight: normal;">Type</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1" style="font-weight: normal;">[TRUE/FALSE]</td>
                    </tr>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1" style="font-weight: normal;" colspan="4"><span class="uicontrol">Group title 2</span>
                        </td>
                    </tr>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1" style="font-weight: normal;">Field 3 label</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1" style="font-weight: normal;">Description of field</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1" style="font-weight: normal;">Type</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1" style="font-weight: normal;">[TRUE/FALSE]</td>
                    </tr>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1" style="font-weight: normal;">Field 4 label</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1" style="font-weight: normal;">Description of field</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1" style="font-weight: normal;">Type</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyA-Column1-Body1" style="font-weight: normal;">[TRUE/FALSE]</td>
                    </tr>
                </tbody>
            </table>
            <h2>Output</h2>
            <table style="width: 100%;margin-left: 0;margin-right: auto;mc-table-style: url('../../TableStyles/standard-horizonal-borders-only.css');" class="TableStyle-standard-horizonal-borders-only" cellspacing="14">
                <col style="width: 20%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <col style="width: 55%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <col style="width: 25%;" class="TableStyle-standard-horizonal-borders-only-Column-Column1" />
                <thead>
                    <tr class="TableStyle-standard-horizonal-borders-only-Head-Header1">
                        <th style="text-align: left;" class="TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1">Field</th>
                        <th style="text-align: left;" class="TableStyle-standard-horizonal-borders-only-HeadE-Column1-Header1">Definition</th>
                        <th class="TableStyle-standard-horizonal-borders-only-HeadD-Column1-Header1">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1" colspan="3"><span class="uicontrol">Group title 1</span>
                        </td>
                    </tr>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1">Field 1 label</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyE-Column1-Body1">Description of field</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1">Type</td>
                    </tr>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyD-Column1-Body1" colspan="3" style="font-weight: bold;">Response</td>
                    </tr>
                    <tr class="TableStyle-standard-horizonal-borders-only-Body-Body1">
                        <td class="TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1">Status Code</td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyB-Column1-Body1">
                            <MadCap:snippetBlock src="../../../Topics/Workflows/resources/snippets/field/output-status-code.flsnp" />
                        </td>
                        <td class="TableStyle-standard-horizonal-borders-only-BodyA-Column1-Body1">Number</td>
                    </tr>
                </tbody>
            </table>
            <MadCap:snippetBlock src="connectorseealso.flsnp" />
        </div>
    </body>
</html>