/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: okta-rn-custom-rollout-table;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #333333;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #333333;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #333333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-spacing-y: 0;
	margin-top: -4;
	margin-left: 1em;
	max-id: 5;
	margin-right: 1em;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	color: #333333;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	background-color: #b7d8ff;
	color: #333333;
	name: Header1;
	id: 2;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
	background-color: #ffffff;
	color: #333333;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: Body2;
	background-color: #f5f5f5;
	color: #333333;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #333333;
}


/* Cell Styles: */
 
.TableStyle-okta-rn-custom-rollout-table
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #333333;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: -4;
	border-spacing: 0px 0px;
}

.TableStyle-okta-rn-custom-rollout-table-Column-Column1
{
	
}

.TableStyle-okta-rn-custom-rollout-table-Head-Header1
{
	
}

.TableStyle-okta-rn-custom-rollout-table-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	text-align: left;
	background-color: #b7d8ff;
}

.TableStyle-okta-rn-custom-rollout-table-HeadI-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	text-align: left;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-HeadE-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	text-align: left;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-HeadF-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	text-align: left;
	background-color: #b7d8ff;
}

.TableStyle-okta-rn-custom-rollout-table-HeadH-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	text-align: left;
	background-color: #b7d8ff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-HeadD-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	text-align: left;
	background-color: #b7d8ff;
}

.TableStyle-okta-rn-custom-rollout-table-HeadC-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	color: #333333;
	text-align: left;
	background-color: #b7d8ff;
}

.TableStyle-okta-rn-custom-rollout-table-HeadB-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	text-align: left;
	background-color: #b7d8ff;
}

.TableStyle-okta-rn-custom-rollout-table-HeadA-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	text-align: left;
	background-color: #b7d8ff;
}

.TableStyle-okta-rn-custom-rollout-table-HeadG-Column1-Header1 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootI-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootI-Column1- p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootE-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-FootE-Column1- p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootF-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootF-Column1- p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootH-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-FootH-Column1- p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootD-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootD-Column1- p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootC-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootC-Column1- p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootB-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-FootB-Column1- p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootA-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootA-Column1- p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootG-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-FootG-Column1- p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-Body-Body1
{
	
}

.TableStyle-okta-rn-custom-rollout-table-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	background-color: #ffffff;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-Body-Body2
{
	
}

.TableStyle-okta-rn-custom-rollout-table-BodyI-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyI-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyE-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-BodyE-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyF-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyF-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyH-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-BodyH-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyD-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyD-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyC-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyC-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyB-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
}

.TableStyle-okta-rn-custom-rollout-table-BodyB-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyA-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyA-Column1-Body2 p
{
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyG-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #f5f5f5;
	color: #333333;
}

.TableStyle-okta-rn-custom-rollout-table-BodyG-Column1-Body2 p
{
	color: #333333;
}


