/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: standard-no-borders-alt-row-color;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 5;
	border-spacing-y: 20;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-spacing-x: 20;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #f5f5f6;
	name: Body1;
	id: 1;
	background-color: #f5f5f6;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	vertical-align: top;
	type: Automatic;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-standard-no-borders-alt-row-color
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 20px 20px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadI--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadI-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadE--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadE-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadF--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadF-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadH--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadH-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadD--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadD-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadC--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadC-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadB--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadB-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadA--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadA-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-HeadG--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-HeadG-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootI--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootI-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootE--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootE-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootF--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootF-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootH--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootH-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootD--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootD-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootC--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootC-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootB--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootB-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootA--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootA-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-FootG--
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-standard-no-borders-alt-row-color-FootG-- p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-Body-Body1
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyI--Body1
{
	vertical-align: top;
	background-color: #f5f5f6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyI--Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyE--Body1
{
	vertical-align: top;
	background-color: #f5f5f6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f6;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyE--Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyF--Body1
{
	vertical-align: top;
	background-color: #f5f5f6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f6;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyF--Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyH--Body1
{
	vertical-align: top;
	background-color: #f5f5f6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyH--Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyD--Body1
{
	vertical-align: top;
	background-color: #f5f5f6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f6;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyD--Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyC--Body1
{
	vertical-align: top;
	background-color: #f5f5f6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyC--Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyB--Body1
{
	vertical-align: top;
	background-color: #f5f5f6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyB--Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyA--Body1
{
	vertical-align: top;
	background-color: #f5f5f6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyA--Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyG--Body1
{
	vertical-align: top;
	background-color: #f5f5f6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyG--Body1 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-Body-Body2
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyI--Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyI--Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyE--Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyE--Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyF--Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyF--Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyH--Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyH--Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyD--Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-standard-no-borders-alt-row-color-BodyD--Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyC--Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyC--Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyB--Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyB--Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyA--Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyA--Body2 p
{
	
}

.TableStyle-standard-no-borders-alt-row-color-BodyG--Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-standard-no-borders-alt-row-color-BodyG--Body2 p
{
	
}


