/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: standard-shade-col1;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 7px;
	cell-padding-bottom: 2px;
	border-spacing-y: 0;
	max-id: 4;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Column1;
	id: 0;
	cell-padding-left: 7px;
	cell-padding-right: 7px;
	cell-padding-top: 7px;
	cell-padding-bottom: 7px;
	cell-content-style-tag: p;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #c0c0c0;
	background-color: #e6e6e8;
	text-align: left;
}

mcTableColumnStyle
{
	span: 18;
	id: 4;
	name: Column;
	type: Automatic;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #a9a9a9;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	background-color: #e6e6e8;
	color: #000000;
	name: Header1;
	id: 3;
	text-align: left;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	color: #333333;
	name: Body1;
	id: 1;
	type: Automatic;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Body2;
	id: 2;
	type: Automatic;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-standard-shade-col1
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #c0c0c0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-standard-shade-col1-Column-Column1
{
	
}

.TableStyle-standard-shade-col1-Column-Column
{
	
}

.TableStyle-standard-shade-col1-Head-Header1
{
	
}

.TableStyle-standard-shade-col1-HeadI-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadI-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadE-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-shade-col1-HeadE-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadF-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-shade-col1-HeadF-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadH-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadH-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadD-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-shade-col1-HeadD-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadC-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadC-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadB-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadB-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadA-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadA-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadG-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadG-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadI-Column-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadI-Column-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadE-Column-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-shade-col1-HeadE-Column-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadF-Column-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-shade-col1-HeadF-Column-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadH-Column-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadH-Column-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadD-Column-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-shade-col1-HeadD-Column-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadC-Column-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadC-Column-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadB-Column-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadB-Column-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadA-Column-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadA-Column-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-HeadG-Column-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e8;
}

.TableStyle-standard-shade-col1-HeadG-Column-Header1 p
{
	color: #000000;
}

.TableStyle-standard-shade-col1-FootI-Column1-
{
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootI-Column1- p
{
	
}

.TableStyle-standard-shade-col1-FootE-Column1-
{
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootE-Column1- p
{
	
}

.TableStyle-standard-shade-col1-FootF-Column1-
{
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootF-Column1- p
{
	
}

.TableStyle-standard-shade-col1-FootH-Column1-
{
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootH-Column1- p
{
	
}

.TableStyle-standard-shade-col1-FootD-Column1-
{
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-shade-col1-FootD-Column1- p
{
	
}

.TableStyle-standard-shade-col1-FootC-Column1-
{
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootC-Column1- p
{
	
}

.TableStyle-standard-shade-col1-FootB-Column1-
{
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootB-Column1- p
{
	
}

.TableStyle-standard-shade-col1-FootA-Column1-
{
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-shade-col1-FootA-Column1- p
{
	
}

.TableStyle-standard-shade-col1-FootG-Column1-
{
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-shade-col1-FootG-Column1- p
{
	
}

.TableStyle-standard-shade-col1-FootI-Column-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootI-Column- p
{
	
}

.TableStyle-standard-shade-col1-FootE-Column-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootE-Column- p
{
	
}

.TableStyle-standard-shade-col1-FootF-Column-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootF-Column- p
{
	
}

.TableStyle-standard-shade-col1-FootH-Column-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootH-Column- p
{
	
}

.TableStyle-standard-shade-col1-FootD-Column-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-standard-shade-col1-FootD-Column- p
{
	
}

.TableStyle-standard-shade-col1-FootC-Column-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootC-Column- p
{
	
}

.TableStyle-standard-shade-col1-FootB-Column-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-FootB-Column- p
{
	
}

.TableStyle-standard-shade-col1-FootA-Column-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-standard-shade-col1-FootA-Column- p
{
	
}

.TableStyle-standard-shade-col1-FootG-Column-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-standard-shade-col1-FootG-Column- p
{
	
}

.TableStyle-standard-shade-col1-Body-Body1
{
	
}

.TableStyle-standard-shade-col1-BodyI-Column1-Body1
{
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyI-Column1-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyE-Column1-Body1
{
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyE-Column1-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyF-Column1-Body1
{
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyF-Column1-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyH-Column1-Body1
{
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyH-Column1-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyD-Column1-Body1
{
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-shade-col1-BodyD-Column1-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyC-Column1-Body1
{
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyC-Column1-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyB-Column1-Body1
{
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyB-Column1-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyA-Column1-Body1
{
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-shade-col1-BodyA-Column1-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyG-Column1-Body1
{
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-shade-col1-BodyG-Column1-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyI-Column-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyI-Column-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyE-Column-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyE-Column-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyF-Column-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyF-Column-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyH-Column-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyH-Column-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyD-Column-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-shade-col1-BodyD-Column-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyC-Column-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyC-Column-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyB-Column-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #333333;
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyB-Column-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyA-Column-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #333333;
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-standard-shade-col1-BodyA-Column-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-BodyG-Column-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: #333333;
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-standard-shade-col1-BodyG-Column-Body1 p
{
	color: #333333;
	font-weight: normal;
}

.TableStyle-standard-shade-col1-Body-Body2
{
	
}

.TableStyle-standard-shade-col1-BodyI-Column1-Body2
{
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyI-Column1-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyE-Column1-Body2
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyE-Column1-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyF-Column1-Body2
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyF-Column1-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyH-Column1-Body2
{
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyH-Column1-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyD-Column1-Body2
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-shade-col1-BodyD-Column1-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyC-Column1-Body2
{
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyC-Column1-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyB-Column1-Body2
{
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyB-Column1-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyA-Column1-Body2
{
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-shade-col1-BodyA-Column1-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyG-Column1-Body2
{
	vertical-align: top;
	text-align: left;
	background-color: #e6e6e8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-standard-shade-col1-BodyG-Column1-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyI-Column-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyI-Column-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyE-Column-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyE-Column-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyF-Column-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyF-Column-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyH-Column-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyH-Column-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyD-Column-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-standard-shade-col1-BodyD-Column-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyC-Column-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyC-Column-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyB-Column-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-standard-shade-col1-BodyB-Column-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyA-Column-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-standard-shade-col1-BodyA-Column-Body2 p
{
	
}

.TableStyle-standard-shade-col1-BodyG-Column-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 2px;
	vertical-align: top;
}

.TableStyle-standard-shade-col1-BodyG-Column-Body2 p
{
	
}


