<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:onlyLocalStylesheets="False" MadCap:searchable="True" MadCap:fileTags="Tags/okta-authors.Ian Hakes" MadCap:conditions="Primary.do-not-publish">
    <head>
        <link rel="canonical" href="https://help.okta.com/wf/en-us/Content/Topics/Workflows/templates/about-templates.htm" /><title>[%=Heading.Level1%] | Okta</title>
        <link href="" rel="stylesheet" type="text/css" />
        <meta name="coveo:title" content="About Workflows Templates" />
        <meta name="coveo:method-description" content="Workflows Templates is a convenient platform to access to a variety of Flow packs." />
    </head>
    <body>
        <div data-content-id="hoc-main-content">
            <h1>About Workflows Templates</h1>
            <p>Workflows Templates is a convenient platform to access to a variety of flow packs. With easy-to-use search and integrated installation capabilities, you can find a flow sample that most closely fits your organization's needs, add it to your Workflows instance, and learn more about the flow's components right away. The Catalog includes template flows for many types of use cases, including a focus on user provisioning and identity management.</p>
            <p>The Workflows Templates platform also allows for collaboration and sharing of flows. If you want to implement a particular use case but one or more factors prevent you from building a flow efficiently, you can search the Templates catalog. Every template that is listed in the catalog is packaged with a video tutorial and setup documentation. </p>
            <h2>Workflows Templates catalog</h2>
            <p>The Workflows Templates catalog is available on the <span class="uicontrol">Templates</span> page in your Workflows instance. Each flow pack is tagged with the following metadata:</p>
            <ul>
                <li>Title</li>
                <li>Description</li>
                <li>Connectors included in the flow</li>
            </ul>
            <p>You can filter flows by one or more metadata categories. For example, if you enter <code>Salesforce </code>in the <span class="uicontrol">Search</span> field, all flows that include one or more Salesforce event or action cards will be displayed in the search results.</p>
            <h2>Related topics</h2>
            <p>
                <MadCap:xref href="templates-list.htm">Available Workflows Templates</MadCap:xref>
            </p>
            <p>
                <MadCap:xref href="add-template.htm">Add a template to your Workflows environment</MadCap:xref>
            </p>
            <p MadCap:conditions="Primary.do-not-publish">
                <MadCap:xref href="submit-template.htm">Submit a flow to the Workflows Templates catalog</MadCap:xref>
            </p>
        </div>
    </body>
</html>