<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:onlyLocalStylesheets="False" MadCap:searchable="True" MadCap:fileTags="Tags/okta-authors.Ian Hakes">
    <head>
        <link rel="canonical" href="https://help.okta.com/wf/en-us/Content/Topics/Workflows/templates/add-template.htm" /><title>[%=Heading.Level1%] | Okta</title>
        <link href="" rel="stylesheet" type="text/css" />
        <meta name="coveo:title" content="Add a template to your Workflows environment" />
        <meta name="coveo:method-description" content="Search and install Flows from the Workflows Templates catalog." />
    </head>
    <body>
        <div data-content-id="hoc-main-content">
            <h1>Add a template to your Workflows environment</h1>
            <p>Search and install flows from the Workflows templates catalog.</p>
            <ol>
                <li>
                    <p>From the  <span class="wintitle">Templates</span> page, enter a value in the <span class="uicontrol">Search</span> field. You can search  any of the following categories:</p>
                    <ul>
                        <li>
                            <p><span class="uicontrol">Title</span>: Any part of the title assigned to the flow by the builder.</p>
                        </li>
                        <li>
                            <p><span class="uicontrol">Description</span>: Any part of the description string of the flow.</p>
                        </li>
                        <li>
                            <p><span class="uicontrol">Connectors</span>: Any of the connector names or specific cards that are included in the flow.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Click the tile for the flow that you want to add to your environment.</p>
                </li>
                <li>
                    <p>Optional. From the landing page for the selected flow, watch a video walk-through or read the setup documentation.</p>
                </li>
                <li>
                    <p>Click <span class="uicontrol">Add Template</span>.</p>
                </li>
                <li>
                    <p>In the confirmation dialog, click <span class="uicontrol">Add Template</span> once again. The template is added as a folder in your Workflows environment. If a folder with the same name exists, this action adds a second folder with the same name.</p>
                    <p>On your Workflows <span class="wintitle">Home</span> page,  click the new folder to view the components of the flow. A flow may contain several components or parent and helper flows.</p>
                </li>
            </ol>
            <div class="noteOkta">
                <p class="noteContent">If an action or event card is included in a flow but you don't have a connection configured for that particular connector, then you need to   set up the connection and authorize that connector before the flow can execute.</p>
            </div>
            <h2>Related topics</h2>
            <p>
                <MadCap:xref href="templates-list.htm">Available Workflows Templates</MadCap:xref>
            </p>
        </div>
    </body>
</html>