<?xml version="1.0" encoding="utf-8"?>
<html MadCap:onlyLocalStylesheets="False" MadCap:searchable="True" MadCap:fileTags="Tags/okta-authors.Ian Hakes" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head><title>[%=Heading.Level1%] | Okta</title>
        <link rel="canonical" href="https://help.okta.com/wf/en-us/Content/Topics/Workflows/templates/workflows-templates.htm" />
        <link href="" rel="stylesheet" type="text/css" />
        <meta name="coveo:title" content="Get started with Workflows Templates" />
        <meta name="coveo:method-description" content="Workflows Templates provides a platform to download Flows from a catalog." />
    </head>
    <body>
        <div data-content-id="hoc-main-content">
            <h1>Workflows templates</h1>
            <p>Templates are pre-built flows that demonstrate the  capabilities of <MadCap:variable name="okta-feature-names.Okta Workflows" />. <MadCap:variable name="okta-variables.ProductName" /> has created an extensive collection of templates that you can freely copy, modify, and use to meet your business needs. The catalog includes templates for many types of use cases, including user provisioning and identity management. </p>
            <h2><a name="WorkflowsTemplatesCatalog"></a>Workflows templates catalog</h2>
            <p>The Workflows templates catalog is available through the <span class="wintitle">Templates</span> page in your Workflows instance. </p>
            <p>With an easy-to-use search filter, you can find a flow that matches your organization's needs or use case. You can filter flows by one or more metadata categories. For example, if you enter <span class="userinput">Salesforce</span> in the <span class="uicontrol">Search</span> field, the search results show all flows that include one or more <MadCap:variable name="workflows_connectors.Salesforce" /> event or action cards. </p>
            <p>Templates in the catalog generally include the following information to help you learn how the flow works:</p>
            <ul>
                <li>Title</li>
                <li>Description</li>
                <li>Connectors included in the flow</li>
                <li>Preview images of the flow</li>
                <li>Number of flows</li>
                <li>Number of tables</li>
            </ul>
            <p>Many templates in the catalog also include a video tutorial and a link to detailed setup documentation.</p>
            <h3>Add a Template</h3>
            <p>After you decide you want to use a template, you can click <span class="uicontrol">Add template</span> to use the integrated installation feature and add the template directly to your Workflows instance. See <MadCap:xref href="add-template.htm">Add a template to your Workflows environment</MadCap:xref>.</p>
            <h2>Share your templates</h2>
            <p>If you have a flow that you think would benefit other admins, you can submit your own flows through the <a href="https://github.com/okta/workflows-templates" target="_blank"><MadCap:variable name="workflows_connectors.GitHub" /> repository</a> or visit <a href="https://ideas.okta.com/" target="_blank">Okta Ideas</a> to submit your template suggestion.</p>
            <h2>Related topics</h2>
            <ul>
                <li>
                    <MadCap:xref href="templates-list.htm">Available Workflows Templates</MadCap:xref>
                </li>
                <li>
                    <MadCap:xref href="add-template.htm">Add a template to your Workflows environment</MadCap:xref>
                </li>
                <li MadCap:conditions="Primary.do-not-publish">
                    <MadCap:xref href="submit-template.htm">Submit a flow to the Workflows Templates catalog</MadCap:xref>
                </li>
            </ul>
        </div>
    </body>
</html>