<?xml version="1.0" encoding="utf-8"?>
<html MadCap:onlyLocalStylesheets="False" MadCap:searchable="True" MadCap:fileTags="Tags/okta-authors.Ian Hakes" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
        <link rel="canonical" href="https://help.okta.com/wf/en-us/Content/Topics/Workflows/templates/workflows-templates.htm" /><title>[%=Heading.Level1%] | Okta</title>
        <link href="" rel="stylesheet" type="text/css" />
        <meta name="coveo:title" content="Get started with Workflows Templates" />
        <meta name="coveo:method-description" content="Workflows Templates provides a platform to download Flows from a catalog." />
    </head>
    <body>
        <div data-content-id="hoc-main-content">
            <h1>Get started with Workflows use cases</h1>
            <p>The power of <MadCap:variable name="okta-feature-names.Okta Workflows" /> lies in its versatility to execute a wide range of identity automation. </p>
            <p>Workflows use cases help customers solve specific identity automation challenges using a bundled collection of curated pre-built and fully customizable Workflows templates that drive real business outcomes.</p>
            <h2>Workflows use cases catalog</h2>
            <p>The Workflows use cases catalog is available on the homepage of your Workflows instance. Each use case is navigable from the homepage  and includes the following resources:</p>
            <dl>
                <dt><span class="wintitle">Explore popular use cases</span>
                </dt>
                <dd>
                    <p>Templates are bundled together in a comprehensive use case scenario:</p>
                    <ul>
                        <li>Categorized by business function. For example, <span class="wintitle">IT Operations</span>.</li>
                        <li>Single solution card. For example, <span class="wintitle">Accelerate User Onboarding</span>.</li>
                        <li>Short description detailing the targeted business outcome.</li>
                        <li>How many tasks are covered in the scenario.</li>
                    </ul>
                </dd>
                <dt><span class="wintitle">Start with a template</span>
                </dt>
                <dd>
                    <p>Investigate and discover individual Workflows templates:</p>
                    <ul>
                        <li>Categorized by a simplified usage scenario. For example, <span class="wintitle">Get Started</span>. Click a tile to see detailed information for that template.</li>
                        <li>Each template description details the business challenge, key benefits, and outcome.</li>
                    </ul>
                </dd>
                <dt>
                    <h2>Filtering templates</h2>
                </dt>
                <p>Click <span class="uicontrol">See all templates</span> to access the full list of Workflow templates and the search utility.</p>
                <ul>
                    <li>You can search the templates by the associated connectors, or using any keyword that may be in the title or description.</li>
                    <li>Search results can be filtered using relevant use cases or task categories. For example: the <span class="uicontrol">IT Operations</span> use case has an <span class="uicontrol">Activate the workforce</span> selector to show multiple templates that help your organization handle user-specific enrollment tasks.</li>
                    <li>Any required connectors appear as icons on each template card.</li>
                </ul>
            </dl>
            <h2>Related topics</h2>
            <ul>
                <li MadCap:conditions="Primary.do-not-publish">
                    <MadCap:xref href="about-templates.htm">About Workflows Templates</MadCap:xref>
                </li>
                <li>
                    <MadCap:xref href="templates-list.htm">Available Workflows Templates</MadCap:xref>
                </li>
                <li>
                    <MadCap:xref href="add-template.htm">Add a template to your Workflows environment</MadCap:xref>
                </li>
                <li MadCap:conditions="Primary.do-not-publish">
                    <MadCap:xref href="submit-template.htm">Submit a flow to the Workflows Templates catalog</MadCap:xref>
                </li>
            </ul>
        </div>
    </body>
</html>