@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

:root
{
	--Brand1: #076685;
	--Brand2: #CDE0E7;
	--Black: #000000;
	--Dark: #45494c;
	--Medium: #b9bec1;
	--Light: #d0d3d5;
}

body
{
	color: var(--Black);
	font-family: Arial, Avenir, Myriad;
	font-size: 11pt;
	line-height: 13pt;
	margin: 8px;
}

/* Backmatter */

div.GlossaryPageDefinition
{
	font-size: 10pt;
}

div.GlossaryPageHeading
{
	font-size: 21pt;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom-color: var(--Medium);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: left;
	color: inherit;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 10px;
	background-repeat: no-repeat;
	background-image: url('../../Images/KX/Backmatter-Heading-Background.png');
}

div.GlossaryPageTerm
{
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}

MadCap|glossaryProxy
{
	border-top: none;
}

MadCap|indexProxy
{
	border-top: none;
}

p.Index1
{
	font-size: 10pt;
	font-weight: bold;
}

p.Index2
{
	font-size: 10pt;
	font-weight: normal;
}

p.IndexHeading
{
	font-size: 21pt;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom-color: var(--Medium);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: left;
	color: inherit;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 10px;
	background-repeat: no-repeat;
	background-image: url('../../Images/KX/Backmatter-Heading-Background.png');
}

/* Content */

p
{
	margin-bottom: 10px;
	margin-top: 10px;
	widows: 3;
	orphans: 3;
}

p.image
{
	margin-bottom: 30px;
	margin-top: 30px;
}

p.table-text
{
	font-size: 11pt;
}

/* Frontmatter */

hr.title-page
{
	border: solid 0px transparent;
	background-color: var(--Light);
	height: 1px;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 370px;
}

MadCap|tocProxy
{
	border-top: none;
	margin-right: 0.25in;
}

p.created-using-flare
{
	color: var(--Dark);
	font-weight: bold;
	margin-top: 18px;
	font-size: 9pt;
	line-height: 15pt;
	text-transform: uppercase;
}

p.title
{
	font-size: 55pt;
	line-height: 65pt;
	margin-top: 30px;
	mc-hyphenate: never;
}

p.title-page-footer
{
	color: var(--Dark);
	font-size: 9pt;
	frame-break-before: always;
	line-height: 15pt;
	margin-top: 30px;
}

p.title-page-url
{
	color: var(--Dark);
	font-size: 9pt;
	line-height: 15pt;
}

p.TOC1
{
	color: var(--Dark);
	font-size: 19pt;
	font-weight: normal;
	line-height: 21pt;
	margin-bottom: 15px;
	margin-top: 15px;
	page-break-after: avoid;
}

p.TOC2
{
	color: var(--Dark);
	font-size: 15pt;
	font-weight: normal;
	line-height: 21pt;
	margin-bottom: 13px;
	margin-left: .5in;
	margin-top: 13px;
}

p.TOC3
{
	color: var(--Dark);
	font-size: 13pt;
	line-height: 21pt;
	font-weight: normal;
	margin-bottom: 10px;
	margin-left: 1in;
	margin-top: 10px;
}

/* Headings */

h1
{
	color: var(--Brand1);
	font-size: 25pt;
	font-weight: bold;
	line-height: 27pt;
	margin-bottom: 20px;
}

h2
{
	font-size: 21pt;
	font-weight: normal;
	line-height: 23pt;
	margin-bottom: 18px;
	margin-top: 40px;
	page-break-before: always;
}

h3
{
	font-size: 15pt;
	font-weight: bold;
	line-height: 17pt;
	margin-bottom: 15px;
	margin-top: 40px;
}

/* Links */

a
{
	color: var(--Brand1);
}

a:link
{
	color: var(--Brand1);
}

a:visited
{
	color: var(--Brand1);
}

/* Lists */

li
{
	margin-bottom: 8px;
	margin-top: 8px;
}

li p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

ol,
ul
{
	letter-spacing: .25;
	line-height: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Page layout */

p.frame-footer-page-number
{
	color: var(--Medium);
	font-size: 11pt;
	font-weight: bold;
	text-align: right;
}

p.frame-footer-text
{
	color: var(--Medium);
	font-size: 11pt;
	font-weight: bold;
	text-transform: uppercase;
}

dt
{
	font-weight: bold;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	margin-top: 0px;
}

dd
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	margin-left: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

dl
{
	margin-left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}

@media print
{
	p
	{
		font-family: 'Proxima Nova Rg';
		margin: 1em 0;
		line-height: 1.45;
		font-size: 10pt;
	}

	p.title
	{
		font-size: 24pt;
		line-height: normal;
	}

	p.guide-type
	{
		font-size: 18pt;
		padding-top: 0.25in;
		font-family: 'Proxima Nova Rg';
	}

	:root
	{
		--Brand1: #00297A;
		--Light: #D7D7DC;
		--Medium: #AAAAB4;
		--Dark: #6E6E78;
	}

	p.TOC1
	{
		font-size: 14pt;
		font-family: 'Proxima Nova Rg';
	}

	p.TOC2
	{
		margin-left: 0.15in;
		font-size: 12pt;
		font-family: 'Proxima Nova Rg';
	}

	p.TOC3
	{
		margin-left: 0.4in;
		font-size: 12pt;
		font-family: 'Proxima Nova Rg';
	}

	p.last-updated
	{
		
	}

	p.frame-footer-text
	{
		text-transform: normal;
		font-size: 8pt;
		font-weight: normal;
		font-family: 'Proxima Nova Rg';
	}

	p.frame-footer-copyright
	{
		color: var(--Medium);
		font-size: 8pt;
		font-family: 'Proxima Nova Rg';
	}

	h2
	{
		page-break-before: avoid;
		font-family: 'Proxima Nova Rg';
		margin-top: 20px;
		font-size: 16pt;
		margin-left: 0;
		font-weight: bold;
		line-height: 20pt;
	}

	li
	{
		font-family: 'Proxima Nova Rg';
		margin-bottom: 2px;
		margin-top: 4px;
		font-size: 10pt;
		line-height: 1.45;
	}

	ol
	{
		margin-left: 40px;
	}

	h1
	{
		font-family: 'Proxima Nova Rg';
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #007DC1;
		margin-bottom: 15px;
	}

	h3
	{
		font-family: 'Proxima Nova Rg';
		font-style: normal;
		margin-top: 20px;
		font-weight: bold;
		font-size: 13pt;
	}

	h4
	{
		font-weight: bold;
		font-family: 'Proxima Nova Lt';
		font-size: 12pt;
		mc-heading-level: 0;
	}

	h5
	{
		font-family: 'Proxima Nova Rg';
		mc-heading-level: 0;
	}

	h6
	{
		font-family: 'Proxima Nova Rg';
		mc-heading-level: 0;
	}

	p.note
	{
		
	}

	p.table-text
	{
		font-size: 9pt;
	}

	ul.table
	{
		margin-left: 20px;
		list-style-type: disc;
	}

	li.table
	{
		line-height: 1.25;
		margin-top: 4px;
		font-size: 9pt;
		margin-bottom: 2px;
	}

	ul
	{
		list-style-position: outside;
		margin-left: 30px;
	}

	p.created-using-flare
	{
		font-size: 8pt;
	}

	p.frame-footer-page-number
	{
		font-size: 8pt;
		font-weight: normal;
		font-family: 'Proxima Nova Rg';
	}
}

