@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/* Global Okta help css -- contains classes and elements used on any and all topics.  */

p.copyright {
	font-size: 14px;
	line-height: 1.2;
	color: var(--color-gravel);
	position: relative;
}

.xref {
	color: var(--color-sky);
	text-decoration: underline;
}

.xref:hover {
	color: var(--color-sky);
	text-decoration: underline;
}

.xref:focus {
	outline: none;
}

/* Identity Engine label positioning */

.oie-label {
	position: absolute;
	top: 6px;
	right: 2em;
	width: 120px;
}

img.oie-label {
	width: 120px;
	height: 50px;
}

/*** Image styles ***/

ul li::marker {
	color: var(--color-gravel);
}

/*** Override: Main section/container styles ***/

div.body-container {
	padding: 0 !important;
	margin-top: 0;
}

div.height-container-no-footer, div.height-container {
	display: flex;
	flex-direction: column;
	padding-bottom: 1em;
}

div.okta-topics {
	padding-right: 20%;
	flex: 1 0 auto;
}

div.body-main {
	padding-left: 1.5em;
	padding-right: 1em;
	position: relative;
}

.main-section {
	padding-top: 70px;
}

.main-section > .outer-row {
	padding: 0;
}

/* 'index.htm' drops breadcrumbs and labels; push heading down */
h1.landing_title {
	margin-top: 32px;
}

/*** TODO: check ***/


.mcf_dd_heading2 {
	font-weight: bold;
}

.external-link-icon {
	margin: 0 8px 6px;
}

/* new standard per SRB 9/2019 */

img.new,
#img_new {
	max-width: 100%;
	border: 1px solid var(--color-snow);
	-moz-box-shadow: 3px 3px 7px var(--color-snow);
	-webkit-box-shadow: 3px 3px 7px var(--color-snow);
	box-shadow: 3px 3px 7px var(--color-snow);
}

p.earlyaccess {
	margin: 10px 0;
	padding: 10px 10px 10px 20px;
	text-align: left;
	background-color: var(--color-snow);
	background-clip: border-box;
	border: solid 2px var(--color-snow);
	border-left: solid 8px var(--color-sand);
}

p.beta {
	margin: 10px 0;
	padding: 10px 10px 10px 20px;
	text-align: left;
	background-color: var(--color-cream);
	background-clip: border-box;
	border: solid 2px var(--color-cream);
	border-left: solid 8px var(--color-cloud);
}

p.update {
	margin: 10px 0;
	padding: 10px 10px 10px 20px;
	text-align: left;
	background-color: var(--color-snow);
	background-clip: border-box;
	border: solid 2px var(--color-snow);
	border-left: solid 8px var(--color-sand);
}

/* ========================================================================= */

.topics {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

.topics > div {
	margin: 0 12px;
	width: calc(100% / 3 - 25px);
}

dt > MadCap|xref {
	font-weight: normal;
}

ul.tables_menu {
	columns: 2;
}

/* ===========================================================================
Styles after this point are styles that are for specific mediums. If any 
additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
============================================================================ */

@media only screen and (min-width: 1200px)
{
	ul.tables_menu {
		width: 70%;
	}
}

@media only screen and (max-width: 1024px) {
	div.okta-topics {
		padding-right: 5%;
	}

	.main-section
	{
		padding-top: 0;
	}

	/*** Body-main padding update ***/

	div.body-main
	{
		padding: 0 32px 16px;
	}

	.oie-label
	{
		right: 3%;
	}

}

@media only screen and (max-width: 767px) {
	/*** Body-main padding update ***/

	div.body-main
	{
		padding: 0 16px 16px;
	}

	/*** Featured topics width update ***/

	.topics > div
	{
		width: 100%;
	}
}

/* ==== For Release Notes Only ========================================== */

.ea-item {
	background: #fafafa;
	border-left: solid 2px #f1d10d;
	padding-left: 1rem;
}

/* =============================================================================================== */

/* ======================== Top Nav menu customizations  DO NOT TOUCH ============================ */

/* =============================================================================================== */

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

span.disableGlossary {
	mc-disable-glossary-terms: true;
}

img.thumbnail,
#thumbnail {
	mc-thumbnail: popup;
	mc-thumbnail-max-width: 220px;
	mc-thumbnail-max-height: 220px;
	border: 1px solid var(--color-snow);
	-moz-box-shadow: 3px 3px 7px var(--color-snow);
	-webkit-box-shadow: 3px 3px 7px var(--color-snow);
	box-shadow: 3px 3px 7px var(--color-snow);
}

span.wintitle {
	font-weight: bold;
}

span.uicontrol {
	font-weight: bold;
}

span.menucascade > span.uicontrol:not(:last-child)::after {
	content: ' > ';
}

span.userinput {
	font-family: monospace;
}

span.term {
	font-style: italic;
}

span.msgblock {
	font-family: monospace;
}

span.varname {
	font-family: monospace;
}

span.varname::before {
	content: '<';
}

span.varname::after {
	content: '>';
}

span.filepath {
	font-family: monospace;
}

span.url {
	font-family: monospace;
}

p.deprecation {
	text-align: left;
	background-clip: border-box;
	margin: 10px 0;
	padding: 10px;
	background-color: var(--color-snow);
	border-color: var(--color-cream) var(--color-sky);
	border-width: 2px 2px 2px 8px;
	border-style: solid;
}

.err_title {
	text-align: center;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	font-size: 36px;
	color: #5c6971;
	margin-top: 98px;
}

.err_msg {
	text-align: center;
	font-weight: normal;
	font-style: normal;
	line-height: 1.4em;
	font-size: 24px;
	color: #2f3f4a;
}
