/*<meta />*/

/* stylelint-disable value-keyword-case */
/* stylelint-enable value-keyword-case */

.font-weight-book
{
	color: #191919 !important;
}

.font-weight-normal
{
	font-weight: 400 !important;
}

.font-weight-medium
{
	font-weight: 500 !important;
}

.font-weight-bold
{
	font-weight: 700 !important;
}

.text-main
{
	color: #191919 !important;
}

.text-gray
{
	color: #6b665f !important;
}

.text-orange
{
	color: #4cb7a3 !important;
}

.text-blue
{
	color: #3f59e4 !important;
}

.text-brand
{
	color: #1a31a9 !important;
}

body
{
	font-family: "Aeonik Regular", Helvetica, Arial, sans-serif;
	color: #191919;
	background-color: #fff;
	font-size: 17px;
	line-height: 1.6;
}

h1,
.h1
{
	font-size: 32px;
	color: #191919;
	line-height: 1.2;
	margin: 0 0 23px;
}

@media only screen and (max-width: 767px)
{
	h1,
	.h1
	{
		font-size: 28px;
		line-height: 1.25;
	}
}

h2,
.h2
{
	font-size: 26px;
	color: #191919;
	line-height: 1.25;
}

.h2
{
	margin-top: 24px;
	margin-bottom: 23px;
}

h2
{
	margin-bottom: 20px;
	margin-top: 23px;
}

h3
{
	font-size: 20.5px;
	color: #191919;
	line-height: 1.25;
	margin: 30px 0 23px;
}

h4,
.h4
{
	color: #191919;
	line-height: 1.35;
}

.h4
{
	font-size: 20px;
	margin-bottom: 32px;
}

h4
{
	font-size: 18px;
	margin: 26px 0 20px;
}

h5,
.h5
{
	color: #191919;
}

.h5
{
	font-size: 18px;
	margin-bottom: 16px;
}

h5
{
	font-size: 16.8px;
	margin: 20px 0 0 22px;
}

h6
{
	font-size: 16.5px;
	color: #191919;
	font-weight: 500;
	margin: 18px 0 16px;
}

.title-bar-container,
#title-bar-container
{
	display: none;
}

@media only screen and (max-width: 1024px)
{
	.title-bar-container,
	#title-bar-container
	{
		width: 100%;
		display: inline-flex;
		z-index: 70;
	}
}

@media only screen and (max-width: 1024px)
{
	.title-bar-layout a.logo
	{
		width: 190px;
		height: 26px;
		background: transparent url('../../images/okta-assets/logo.png') no-repeat center center;
		background-size: contain;
	}
}

@media only screen and (max-width: 767px)
{
	.title-bar-layout a.logo
	{
		width: 147px;
		height: 20px;
	}
}

nav.title-bar .menu-icon span
{
	width: 32px;
	height: 32px;
}

@media only screen and (max-width: 1024px)
{
	nav.title-bar
	{
		padding-top: 15px;
		padding-bottom: 14px;
		border-bottom: 1px solid #d7d7dc;
		z-index: 1;
	}

	nav.title-bar .menu-icon
	{
		right: 0;
	}

	nav.title-bar .menu-icon span
	{
		background-image: url('../../images/okta-assets/hamburger-icon.svg');
	}

	nav.title-bar .menu-icon[aria-expanded="true"] span
	{
		background-image: url('../../images/okta-assets/cross-icon.svg');
	}
}

@media only screen and (max-width: 767px)
{
	nav.title-bar
	{
		padding-top: 12px;
		padding-bottom: 11px;
	}
}

.replace_top_nav
{
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #afaba1;
}

.logo_container
{
	width: 318px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 2;
}

.logo_container .logo
{
	max-width: 190px;
	width: 190px;
	height: 26px;
}

@media only screen and (max-width: 1024px)
{
	.logo_container
	{
		display: none;
	}
}

.navbar,
#navbar
{
	display: flex;
	align-items: center;
	padding-right: 22px;
	padding-left: 22px;
	order: 3;
	flex-grow: 1;
	max-width: calc(100% - 318px);
}

.navbar a:hover,
#navbar a:hover
{
	color: #191919;
	background-color: transparent;
}

@media only screen and (max-width: 1200px)
{
	.navbar,
	#navbar
	{
		width: calc(80% - 290px);
		margin-left: -40px;
	}
}

@media only screen and (max-width: 1024px)
{
	.navbar,
	#navbar
	{
		display: none;
	}
}

.is-open-right .js-off-canvas-exit
{
	right: 0;
	height: 70px;
	background: none;
	box-shadow: none;
	border-bottom: 1px solid #fffefa;
}

@media only screen and (max-width: 767px)
{
	.is-open-right .js-off-canvas-exit
	{
		height: 64px !important;
	}
}

.off-canvas-wrapper-inner.is-open-right
{
	right: 0;
}

.position-right.is-open
{
	left: 0;
	top: 70px;
	width: 100%;
	transition: width 0s, top 0.3s;
}

@media only screen and (max-width: 767px)
{
	.position-right.is-open
	{
		top: 64px !important;
	}
}

ul.off-canvas-list li a
{
	font-size: 16px;
	color: #191919;
	padding: 24px 32px;
	line-height: 1.4;
	border-bottom: 1px solid #f6f1e7;
	background-color: #fffefa;
	width: 100%;
	position: relative;
}

ul.off-canvas-list li a:hover
{
	background-color: #fffefa;
	color: #191919;
}

ul.off-canvas-list li.js-drilldown-back > a
{
	padding-left: 46px;
}

@media only screen and (max-width: 767px)
{
	ul.off-canvas-list
	{
		margin-bottom: 4em !important;
	}
}

@media only screen and (max-width: 480px)
{
	ul.off-canvas-list
	{
		margin-bottom: 4em !important;
	}
}

ul.off-canvas-list ul > li > a:hover,
ul.off-canvas-list ul ul > li > a:hover
{
	background-color: #fffefa;
	color: #191919;
}

.off-canvas
{
	transition: top 0.3s;
}

.off-canvas.position-right ul ul .tree-node.tree-node-leaf
{
	margin-left: 16px;
	border-left: 14px solid #f6f1e7;
}

.is-drilldown-submenu-parent > a::before,
.js-drilldown-back > a::before
{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 5em;
	height: 4em;
}

.is-drilldown-submenu-parent > a::after
{
	content: "";
	position: absolute;
	top: 50%;
	right: 32px;
	width: 9px;
	height: 9px;
	border: 1px #e8dcc7;
	border-style: none solid solid none;
	transform: translate(0, -50%) rotate(-45deg);
	transition: transform 0.2s;
}

.js-drilldown-back > a::after
{
	content: "";
	position: absolute;
	top: 50%;
	width: 9px;
	height: 9px;
	border: 1px #e8dcc7;
	border-style: none solid solid none;
	transition: transform 0.2s;
	transform: translate(0, -50%) rotate(135deg);
	right: auto;
	left: 16px;
}

ul.sub-menu > li.has-children > a::after,
ul.sub-menu > li.tree-node-leaf > a::after
{
	content: none;
}

ul.sub-menu > li[data-mc-id="7"] > a::after
{
	content: url('../../images/okta-assets/external-link-icon.svg');
	padding-left: 6px;
	position: relative;
	top: 4px;
}

ul.navigation > li > a
{
	border: 1px solid transparent;
}

ul.navigation > li > a:hover,
ul.navigation > li > a:focus
{
	border-bottom: 1px solid #000 !important;
	padding-bottom: 15px !important;
	color: #30d5c8;
}

ul.navigation > li > a::after
{
	content: url('../../images/okta-assets/caret-down.png');
	padding-left: 12px;
}

ul.navigation > li[data-mc-id="1"] > a::after
{
	content: none;
}

ul.navigation > li[data-mc-id="4"] > a::after
{
	content: url('../../images/okta-assets/external-link-icon.svg');
	padding-left: 6px;
	position: relative;
	top: 4px;
}

ul.navigation > li.has-children::after
{
	margin-bottom: -12px;
	z-index: 1000;
}

ul.navigation li:hover > ul
{
	margin-top: 12px;
}

ul.navigation ul
{
	box-shadow: 0 0 20px #00000026 !important;
}

ul.navigation li.TOCSeparator
{
	margin-top: -14px;
	margin-bottom: -4px;
}

ul._Skins_okta_left_menu > li.has-children[data-mc-id="1"]
{
	padding-top: 1.5rem;
}

div.nav-search-wrapper
{
	display: none;
}

.sidenav-wrapper
{
	width: 335px;
	background-color: #fbfaf9;
	margin-top: 0;
}

.sidenav-container
{
	padding-left: 2%;
	padding-right: 0%;
}

ul.sidenav li a
{
	color: #191919;
	position: relative;
	font-size: 14px;
	line-height: 1.3;
	padding: 10px 15px;
	font-family: "Aeonik Regular", Helvetica, Arial, sans-serif;
}

ul.sidenav li a:hover,
ul.sidenav li a.selected
{
	background-color: #efeee9 !important;
}

ul.sidenav li a .submenu-toggle-container
{
	width: auto;
}

ul.sidenav li a .submenu-toggle-container:focus
{
	outline: none;
}

ul.sidenav li a .submenu-toggle-container span
{
	display: none;
}

ul.sidenav li a .submenu-toggle-container::before
{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 3em;
	height: 2.75em;
}

ul.sidenav li a .submenu-toggle-container::after
{
	content: "";
	position: absolute;
	top: 45%;
	right: 21px;
	transform: translate(0, -50%) rotate(45deg);
	width: 9px;
	height: 9px;
	border: 1px #191919;
	border-style: none solid solid none;
	transition: transform 0.2s;
}

ul.sidenav li a .submenu-toggle-container[aria-expanded="true"]::after
{
	transform: translate(0, -50%) rotate(-135deg);
}

ul.sidenav ul > li > a
{
	margin-left: 14px;
	padding: 10px 15px;
}

ul.sidenav ul ul > li > a
{
	margin-left: 28px;
}

ul.sidenav ul ul ul > li > a
{
	margin-left: 42px;
}

ul.sidenav ul ul ul ul > li > a
{
	margin-left: 56px;
}

ul.menu li > a.selected
{
	color: #191919;
	background-color: #efeee9 !important;
}

@media only screen and (max-width: 1024px)
{
	ul.menu li > a.selected
	{
		font-weight: 300;
		background-color: transparent !important;
	}
}

.is-accordion-submenu-parent > a span.submenu-toggle-container
{
	width: auto;
}

.footer,
.footer2
{
	margin-top: 32px;
	padding-left: 1.5em;
	flex-shrink: 0;
}

.footer.show-search,
.footer2.show-search
{
	padding-bottom: 70px;
}

.footer--top-line
{
	font-size: 13px;
	line-height: 18px;
	color: var(--color-carbon);
	font-weight: 400;
	margin-top: 20px;
}

.footer--bottom-line
{
	font-size: 16px;
	line-height: 31px;
	color: var(--color-carbon);
	font-weight: 600;
}

div.tiles
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

div.tiles > a,
div.tiles > div
{
	display: block;
	padding: 25px;
	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	overflow: hidden;
	background: #f6f1e7;
	border-radius: 32px;
	min-height: 166px;
	margin: 12px;
	width: calc(100% / 3 - 30px);
	color: #1a31a9;
}

div.tiles > a:hover,
div.tiles > div:hover
{
	color: #fffefa;
	background: #3f59e4;
	box-shadow: 0 8px 24px #41414b08;
	cursor: pointer;
}

div.tiles > a:hover a,
div.tiles > a:hover p,
div.tiles > a:hover h3,
div.tiles > div:hover a,
div.tiles > div:hover p,
div.tiles > div:hover h3
{
	color: #fffefa;
}

@media only screen and (max-width: 1200px)
{
	div.tiles > a,
	div.tiles > div
	{
		width: calc(50% - 24px) !important;
	}
}

@media only screen and (max-width: 767px)
{
	div.tiles > a,
	div.tiles > div
	{
		width: 100% !important;
	}
}

.tile-title
{
	font-size: 22px;
	line-height: 1.35;
	font-weight: 500;
	margin: 0 0 16px;
	color: #191919;
}

.tile-title:hover
{
	color: #fffefa;
}

.tile-title a
{
	color: #191919;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tile-title-smaller
{
	text-align: left;
	padding-left: 8px;
	font-size: 1.2em;
	color: #191919;
}

.tile-subtitle
{
	min-height: 44px;
	color: #191919;
	margin-bottom: 48px;
}

.tile-subtitle:hover
{
	color: #fffefa;
}

.tile-content
{
	padding-left: 8px;
	font-size: 0.8em;
	text-align: left;
	color: #191919;
}

.dropdown a,
.dropdown .dropbtn
{
	font-size: 16px;
	border: none;
	outline: none;
	padding: 24px 12px;
	margin: 0;
	height: 70px;
	display: inline-flex;
	align-items: center;
	color: #191919;
	text-decoration: none;
}

.dropdown i
{
	margin: 0 2px 8px 10px;
	width: 9px;
	height: 9px;
	border: 1px #191919;
	border-style: none solid solid none;
	transform: rotate(45deg);
}

.dropdown .dropdown-content
{
	display: none;
	position: absolute;
	background-color: #fff;
	width: auto;
	border: 1px solid #afaba1;
	z-index: 1;
	padding: 16px 0;
}

.dropdown .dropdown-content a
{
	width: 100%;
	padding: 8px 24px;
	height: auto;
}

.dropdown .dropdown-content a:hover
{
	background-color: #fff;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .dropbtn
{
	color: #191919;
	background-color: transparent;
}

