/*<meta fileTags="Tags/okta-authors.Helena Jerney" conditions="" />*/

/* Global Okta help css -- contains classes and elements used on any and all topics.  */

@import url('okta-fonts.css');

@import url('foundation-icons/foundation-icons.css');

@import url('foundation.min.css');

@import url('../Scripts/coveo-resources/vendor/salesforce-ux/assets/styles/salesforce-lightning-design-system.css');

@import url('../Scripts/coveo-resources/css/Coveo.Okta.StandaloneSearchbox.min.css');

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

:root
{
	font-size: 16px;
}

body
{
	color: #404040;
	font-family: 'Proxima Nova Light';
	background-attachment: scroll;
	background-origin: padding-box;
	background-size: auto;
	background: #ffffff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	line-height: 1.5em;
}

a.Popup
{
	
}

a:link
{
	color: #007dc1;
	text-decoration: none;
}

a:visited
{
	font-family: 'Proxima Nova Light';
	color: #895eb7;
	text-decoration: none;
}

.tabs-title > a:focus
{
	color: #5e5e5e;
	border-bottom: solid 6px #4CBF9C;
	outline: none;
}

a:hover
{
	color: #46b3e9;
}

.tabs-title > a:hover
{
	color: #5e5e5e;
}

div.tiles a:hover	/*Complex Selector: When hovering over links within the home tiles the following properties will apply.*/
{
	color: #f59405;
}

.open-case-button > a:active
{
	box-shadow: 0 0 3px #39a081;
}

/* === In-topic tabs (see relnotes) ========================================================== */

.tabs
{
	border: none;
	padding-left: 1em;
}

.tabs-title > a
{
	color: #a7a7a7;
	font-size: 1em;
	padding-bottom: 1rem;
}

.tabs-title > a[aria-selected=true]
{
	color: #5e5e5e;
	border-bottom: solid 6px #4CBF9C;
	background-color: #ffffff;
}

.tabs-content
{
	border: none;
}

.tabs-panel.is-active
{
	display: block;
	outline: none;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ================================================ */

a.MCBreadcrumbsLink
{
	text-decoration: none;
	font-family: 'Proxima Nova Light';
	color: #404040;
}

a.MCBreadcrumbsLink:visited
{
	color: #404040;
}

a.MCBreadcrumbsLink:hover
{
	color: #007dc1;
}

b
{
	font-weight: 900;
}

img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

/*new standard per SRB 9/2019*/

img.new,
#img_new
{
	max-width: 100%;
	border: 1px solid #C2C3C3;
	-moz-box-shadow: 3px 3px 7px #C2C3C3;
	-webkit-box-shadow: 3px 3px 7px #C2C3C3;
	box-shadow: 3px 3px 7px #C2C3C3;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Proxima Nova Light';
	color: #404040;
}

p.copyright
{
	font-size: 13px;
	color: #7e7e7e;
	margin-bottom: 0pt;
	margin-top: 0pt;
}

p.earlyaccess
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #f1d10d;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

p.code,
#code
{
	border-radius: 2px;
	/* border: 1px solid #dbe3e7; */
	/*     white-space: normal;
 */
	padding: 2px 5px;
	/*     line-height: 1.428571429;
 */
	background-color: #f4f4f4;
	color: #333;
	font-size: 95%;
	font-family: Consolas, Menlo, Monaco, Courier New, monospace;
	word-break: none;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 12px;
	max-width: 90%;
}

p.beta
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

p.update
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: 'Proxima Nova Light';
}

h1
{
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
	font-size: 2rem;
	clear: left;
	line-height: 2.3rem;
}

h2
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-family: 'Proxima Nova';
	font-size: 1.6em;
	line-height: 2rem;
}

h3
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova';
	font-size: 1.2em;
}

h4
{
	font-family: 'Proxima Nova';
	font-size: 1em;
}

MadCap|popupHead
{
	color: #007dc1;
}

/* === divs === */

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Proxima Nova';
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	font-family: 'Proxima Nova Light';
}

html.templateTopic div.sideContent
{
	display: none;
}

div.toolbar-main
{
	float: right;
	clear: none;
}

div.body-main
{
	padding-top: 2rem;
	padding-bottom: 3%;
}

/* =============================================================================== */
/* === Responsive Grid ============================================================*/
/* =============================================================================== */

div.okta-topics	/*Main Row*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

div.okta-topics::before
{
	content: ' ';
	display: table;
}

div.okta-topics::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.okta-topics > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	padding-top: 1.5rem;
	/* 	padding-left: 1rem;
 */
	padding-right: 1rem;
	padding-bottom: .5rem;
}

div.okta-topics > div:nth-child(1)
{
	min-width: 255px;
	background: #007dc1;
}

/*Adjusted 8/15/19 to correct phone/tab device behavior*/

div.okta-topics > div:nth-child(2)
{
	/* 	width: 60%;
 */
	width: 100%;
	min-width: 0px;
	max-width: 1024px;
	padding-left: 2rem;
}

div.okta-topics > div:nth-child(3)
{
	min-width: 22%;
}

div.toolbar-row	/* ===== Breadcrumbs and Toolbar row ===== */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.toolbar-row::before
{
	content: ' ';
	display: table;
}

div.toolbar-row::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.toolbar-row > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	padding: 1% 1%;
	/* padding-left: 15px;
	padding-right: 15px; */
}

div.toolbar-row > div:nth-child(1)
{
	margin-left: 0%;
	width: 20%;
	background-color: #007dc1;
}

div.toolbar-row > div:nth-child(2)
{
	margin-left: 0%;
	width: 62%;
}

div.toolbar-row > div:nth-child(3)
{
	margin-left: 0%;
	width: 18%;
}

div.footer-temp	/* Temporary footer, top be deprecated once the footer rows below are fully implemented */
{
	mc-grid-row: true;
	display: flex;
}

div.footer-temp::before
{
	content: ' ';
	display: table;
}

div.footer-temp::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.footer-temp > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	max-height: 16px;
	margin-bottom: 1rem;
}

div.footer-temp > div:nth-child(1)
{
	min-width: 255px;
	background: #007dc1;
}

div.footer-temp > div:nth-child(2)
{
	width: 80%;
	min-width: 0px;
	max-width: 1024px;
	padding-left: .6rem;
}

div.footer	/* Footer row 1 */
{
	mc-grid-row: true;
	display: flex;
}

div.footer::before
{
	content: ' ';
	display: table;
}

div.footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #e5edfb;
	padding-left: 36px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 36px;
}

div.footer > div:nth-child(1)
{
	width: 20%;
	background: #e5edfb;
}

div.footer > div:nth-child(2)
{
	width: 40%;
	padding-left: 2rem;
}

div.footer > div:nth-child(3)
{
	width: 40%;
	padding-left: 2rem;
}

/* deprecated but still in use, needs to be replace in topics manually with */

div.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f9f9f9;
	background-image: url(../Images/icons/Pencil-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #eaeaea;
	border-radius: 6px;
	line-height: 1.5em;
	overflow: hidden;
	padding: 15px 20px;
}

div.noteWhite
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #ffffff;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #eaeaea;
	border-radius: 6px;
	line-height: 1.5em;
	overflow: hidden;
	padding: 15px 20px;
}

div.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #ffffff;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #eaeaea;
	border-radius: 6px;
	line-height: 1.5em;
	overflow: hidden;
	padding: 15px 20px;
}

/* New note/etc. stylez per UX consult - SRB work 9/2919 */

div.noteOkta
{
	border: solid 1px #E5E5E5;
	border-left: solid 3px #1662DD;
	position: relative;
	padding-bottom: 12px;
	margin-left: 12px;
	padding-right: 16px;
	max-width: 90%;
	margin-top: 10px;
	margin-bottom: 12px;
}

div.note_cautionOkta
{
	border: solid 1px #E5E5E5;
	border-left: solid 3px #EBD551;
	position: relative;
	padding-bottom: 12px;
	padding-right: 16px;
	margin-left: 12px;
	max-width: 90%;
	margin-bottom: 12px;
	margin-top: 10px;
}

div.noteOkta ul,
div.note_cautionOkta ul
{
	margin-left: 24px;
	margin-top: 8px;
}

div.noteOkta ol,
div.note_cautionOkta ol
{
	margin-left: 28px;
	margin-top: 8px;
}

p.noteHeading
{
	margin: 0px 20px;
	font-weight: bold;
	padding-top: 12px;
	margin-right: 12px;
	margin-left: 25px;
}

p.noteContent
{
	margin: 0px 20px;
	margin-top: 8px;
	margin-right: 12px;
	padding-left: 31px;
}

img.noteImgFloat
{
	float: left !important;
	padding-top: 12px;
	padding-left: 14px;
	padding-right: 14px;
	clear: both;
}

div.note_new
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	/* 	border: solid 2px #eaeaea;
 */
	border-left: solid 3px #E5E5E5;
	/* 	border-left-width: 8px;
 */
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

div.noteBlueflag
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

.footer--top-line
{
	font-size: 12px;
	line-height: 18px;
	font-family: 'Proxima Nova Semibold';
	color: #2f3f4a;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 30px;
}

.footer--bottom-line
{
	font-size: 16px;
	line-height: 31px;
	color: #2f3f4a;
	font-family: 'Proxima Nova Semibold';
	font-weight: 600;
}

.open-case-button
{
	box-sizing: border-box;
}

.open-case-button > a
{
	font-family: 'Proxima Nova Semibold';
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	background: #1662dd;
	border-radius: 3px;
	display: block;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
	margin-top: 20px;
	width: max-content;
}

.open-case-button > a:link,
.open-case-button > a:visited,
.open-case-button > a:hover,
.open-case-button > a:active,
.open-case-button > a:focus
{
	color: #ffffff;
}

div.footer2	/* Footer row 2 */
{
	mc-grid-row: true;
	padding-bottom: 48px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10%;
	margin-right: 15%;
	font-size: 1.1em;
	display: block;
	padding-top: 30px;
	padding-bottom: 0px;
}

div.footer2::before
{
	content: ' ';
	display: table;
}

div.footer2::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.footer2 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.footer2 > div:nth-child(1)
{
	width: 75%;
}

div.footer2 > div:nth-child(2)
{
	width: 25%;
}

div.footer2 > div > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 2.5rem;
}

div.footer2 > div > ul > li
{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

div.footer2 > div > ul > li > a
{
	display: inline-block;
}

.try-okta-button
{
	box-sizing: border-box;
}

.try-okta-button > a
{
	font-family: 'Proxima Nova Semibold';
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #0074b3;
	border-radius: 3px;
	display: block;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
	margin-top: 20px;
	width: max-content;
}

div.footer3	/* Footer row 3 */
{
	mc-grid-row: true;
	padding-bottom: 48px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10%;
	margin-right: 15%;
	font-size: 1.1em;
	display: block;
	padding-top: 0px;
	padding-bottom: 48px;
}

div.footer3::before
{
	content: ' ';
	display: table;
}

div.footer3::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.footer3 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.footer3 > div:nth-child(1)
{
	width: 66.666%;
}

div.footer3 > div:nth-child(2)
{
	width: 33.333%;
}

div.footer3 > div > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 2.5rem;
}

div.footer3 > div > ul > li
{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

div.footer3 > div > ul > li > a
{
	display: inline-block;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*=========================================================================*/
/* === Madcap styles === */

MadCap|bodyProxy
{
	margin-bottom: 25px;
	clear: left;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: '  ';
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	mc-breadcrumbs-divider: '  >  ';
	color: #404040;
	font-size: 80%;
	border-bottom-color: transparent;
	line-height: 1.6rem;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
	mc-image-spacing: 2%;
}

MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../Images/okta-assets/DropDownClosedSecondLevel.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpenSecondLevel.png');
}

MadCap|expanding
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
}

MadCap|popupBody
{
	background-color: #007dc1;
	padding: 10px;
	font-size: 95%;
	line-height: 1.3em;
	color: #ffffff;
}

MadCap|xref
{
	mc-format: '{para}';
	font-family: 'Proxima Nova';
	color: #007dc1;
	text-decoration: none;
}

MadCap|xref:hover
{
	color: #46b3e9;
}

/*=======================================================================*/
/* === Back-to-top floating button === */

.sf-back-to-top
{
	background-color: #007dc1;
	/* button color */
	color: white;
	/* text/arrow color */
	display: none;
	z-index: 999;
	/* float in bottom right corner */
	/* 20 pixels from edge */
	position: fixed;
	right: 2em;
	bottom: 80px;
	/* size of button is 50 pixels*/
	width: 50px;
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* round button */
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.sf-back-to-top:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

a.sf-back-to-top
{
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.6;
	padding-left: 2px;
	padding-top: 4px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

a.sf-back-to-top .arrow:before
{
	font-size: 18px;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	display: block;
	vertical-align: middle;
	cursor: pointer;
	margin-left: -5px;
	font-weight: bold;
	content: '^';
}

/*==============================================================================*/
/* === Tiles section === */

div.tiles	/* Tiles */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	/*display: flex;*/
	justify-content: center;
}

div.tiles::before
{
	content: ' ';
	display: table;
}

div.tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	border: 1px solid #D3D3D3;
}

div.tiles > div:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

div.tiles > div:nth-child(1)
{
	width: 32%;
	margin-left: 1%;
}

div.tiles > div:nth-child(2)
{
	width: 32%;
	margin-left: 1%;
}

div.tiles > div:nth-child(3)
{
	width: 32%;
	margin-left: 1%;
}

/* Elements for text contained within each tile */

p.tile-title
{
	text-align: center;
	color: #7E8890;
	font-family: Arial;
	font-size: 1.4em;
}

p.tile-title-smaller
{
	text-align: center;
	color: #7E8890;
	font-family: Arial;
	font-size: 1.2em;
}

p.tile-subtitle
{
	text-align: center;
	font-size: 0.9em;
	color: #7E8890;
}

p.tile-content
{
	color: #7E8890;
	font-size: 0.8em;
	text-align: center;
}

div.tiles a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #000;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

MadCap|dropDownHead
{
	font-weight: 600;
}

code,
span.code
{
	background-color: #f4f4f4;
	font-family: Consolas, Menlo, Monaco, Courier New, monospace;
	font-size: 95%;
	font-weight: lighter;
	padding-left: 1px;
	padding-right: 1px;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1024px)
{
	div.tiles > div:nth-child(1)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.tiles > div:nth-child(2)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.tiles > div:nth-child(3)
	{
		width: 32%;
		margin-left: 1%;
	}
}

@media only screen and (max-width: 480px)
{
	p.tile-title
	{
		font-size: 1.2em;
	}

	div.tiles
	{
		display: block;
	}

	div.tiles > div
	{
		margin-top: 2%;
	}

	div.tiles > div:nth-child(1)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.tiles > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.tiles > div:nth-child(3)
	{
		width: 90%;
		margin-left: 5%;
	}
}

/* ================================================================================= */

MadCap|glossaryTerm
{
	mc-closed-image: none;
	mc-open-image: none;
	mc-image-position: none;
}

a
{
	color: #007dc1;
}

MadCap|toggler
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
}

/*==========================================================================================*/
/* === Form Factors: tablet and mobile === */

@media only screen and (max-width: 1024px)
{
	.is-not-in-mobile
	{
		display: none;
	}

	div.footer > div:nth-child(1)
	{
		display: none;
	}

	div.footer > div:nth-child(2)
	{
		width: 100%;
		margin-left: auto;
	}

	div.footer > div:nth-child(3)
	{
		width: 100%;
		margin-left: auto;
	}

	div.toolbar-main
	{
		float: left;
	}
}

@media only screen and (max-width: 480px)
{
	.is-not-in-mobile
	{
		display: none;
	}

	div.footer > div:nth-child(1)
	{
		display: none;
	}

	div.footer > div:nth-child(2)
	{
		width: 100%;
		margin-left: auto;
	}

	div.footer > div:nth-child(3)
	{
		width: 100%;
		margin-left: auto;
	}

	div.toolbar-main
	{
		float: left;
	}

	a.sf-back-to-top
	{
		line-height: 1.2;
		height: 45px;
		width: 45px;
	}

	img.MCDropDown_Image_Icon	/*To control box sizing for mobile output*/
	{
		box-sizing: border-box;
		max-height: 1.5ex;
		max-width: 2ex;
	}

	MadCap|glossaryTerm
	{
		background: #992f00;
	}

	MadCap|topicToolbarProxy
	{
		clear: both;
	}
}

/* ====================================================================== */
/* ==== For Release Notes Only ========================================== */
/* ====================================================================== */

h1.relnotes	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
	font-size: 2.125em;
}

h2.relnotes	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-size: 1.7rem;
	border-bottom: solid 1px #e4e5e7;
	padding-bottom: 1em;
	font-family: 'Proxima Nova Semibold';
	border-top: solid 1px #e4e5e7;
	padding-top: 3em;
}

h3.relnotes	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova Semibold';
	font-size: 1.5rem;
}

h4.relnotes	/*For use in RelNote topics only*/
{
	font-family: 'Proxima Nova Semibold';
	font-size: 1rem;
}

h3.relnotes-reg	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-size: 1.3rem;
	font-family: 'Proxima Nova';
}

MadCap|dropDownHead.relnotes	/*For use in RelNote topics only*/
{
	font-size: 1.25rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

h1.relnotes-month	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
	font-size: 2rem;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ================================================================ */
/* ===== For Release Notes MiniTOC ================================ */
/* ================================================================ */

div.page-toc
{
	border-left: solid 6px #dddddd;
	padding-left: 1.2em;
	margin-bottom: 2em;
	margin-top: 2em;
}

p.box-heading
{
	font-family: 'Proxima Nova Semibold';
	font-size: 1.2em;
}

ul.minitoc
{
	color: #007dc1;
	margin-left: 0;
	padding-left: 1.2em;
	background-color: transparent;
	list-style-type: none;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ================================================================== */
/* ====================== For Terminal Display ====================== */
/* ================================================================== */

.terminal
{
	margin-bottom: 1em;
	max-width: 150em;
}

.terminal .terminal-toolbar
{
	background: linear-gradient(to bottom, #e5e5e5 0%, #cfcfcf 100%);
	border-radius: 5px 5px 0 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	height: 21px;
	padding-left: 4px;
	width: 100%;
}

.terminal .terminal-toolbar .terminal-circle
{
	float: left;
	width: 14px;
	height: 14px;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 14px;
	margin: 4px 4px;
}

.terminal .terminal-toolbar .terminal-circle.red
{
	background-color: #fc605c;
	border-color: #df423f;
}

.terminal .terminal-toolbar .terminal-circle.yellow
{
	background-color: #fdbc40;
	border-color: #de9f34;
}

.terminal .terminal-toolbar .terminal-circle.green
{
	background-color: #34c749;
	border-color: #20a92f;
}

.terminal .terminal-content
{
	background-color: black;
	color: #f7f7f9;
	font-family: Consolas, Menlo, Monaco, Courier New, monospace;
	font-size: 14px;
	line-height: 1.25;
	padding: 8px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.terminal.terminal-home
{
	margin-bottom: 0em;
}

.terminal.terminal-home .terminal-content
{
	font-size: 16px;
	min-height: 8em;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*== ============================================================================= */

.ea-item	/*format for ea items (blocks or inline)*/
{
	background: #fafafa;
	border-left: solid 2px #f1d10d;
	padding-left: 1rem;
}

/* =============================================================================================== */
/* ======================== Top Nav menu customizations  DO NOT TOUCH ============================ */
/* =============================================================================================== */

ul.navigation > li > a
{
	border: 1px solid transparent;
}

ul.navigation > li > a::hover,
ul.navigation > li > a::focus
{
	border-bottom: 1px solid #000 !important;
	padding-bottom: 15px !important;
	color: #2f3f4a;
}

ul.navigation > li > a::after
{
	content: url('../Images/okta-assets/Caret-down.svg');
	padding-left: 12px;
}

ul.navigation > li[data-mc-id="1"] > a::after
{
	content: none;
}

ul.navigation > li[data-mc-id="4"] > a::after	/* ,
ul.sub-menu > li[data-mc-id="7"] > a::after */
{
	content: url('../Images/okta-assets/external-link-icon.svg');
	padding-left: 6px;
	position: relative;
	top: 4px;
}

ul.navigation > li.has-children > after
{
	margin-bottom: 12px;
}

ul.navigation li:hover > ul
{
	margin-top: 12px;
}

ul.navigation > li.has-children:after
{
	margin-bottom: -12px;
	z-index: 1000;
}

ul.sub-menu > li.has-children > a::after,
ul.sub-menu > li.tree-node-leaf > a::after
{
	content: none;
}

ul.navigation ul
{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.15) !important;
}

ul._Skins_okta_left_menu > li.has-children[data-mc-id="1"]
{
	padding-top: 1.5rem;
}

div.nav-search-wrapper
{
	display: none;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

hr.hr-grey
{
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border: solid 1px #E6E6E8;
	border-color: #E6E6E8;
	border-bottom-color: #E6E6E8;
	border-left-color: #E6E6E8;
	border-right-color: #E6E6E8;
}

span.disableGlossary
{
	mc-disable-glossary-terms: true;
}

MadCap|toggler.grayArrow
{
	mc-closed-image: url('../Images/assets/Icons/Arrows/arrow-right-gray.png');
	mc-open-image: url('../Images/assets/Icons/Arrows/arrow-down-gray.png');
	color: #000000;
}

img.thumbnail,
#thumbnail
{
	mc-thumbnail: popup;
	mc-thumbnail-max-width: 220px;
	mc-thumbnail-max-height: 220px;
	border: 1px solid #C2C3C3;
	-moz-box-shadow: 3px 3px 7px #C2C3C3;
	-webkit-box-shadow: 3px 3px 7px #C2C3C3;
	box-shadow: 3px 3px 7px #C2C3C3;
}

/* ++++++++++++++++++++++ Provided by Johnatan Uribe for Matt's DT integration project +++++++++++++++++++++++++++ */

/*.section--devices{
	max-width:100%;
}
.devices--title{
	max-width:100%;
}
.card--list{
	max-width: 100%;
	height: auto;
}
.card {
	display: block;
	position: relative;
	float: left;
    align-self: start;
    max-width: 25%;
    border: 1px solid #cdd1d3;
	border-radius: 3px;
	margin: 1em;
}
.card a {
	display: block;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 1.5rem 0.75rem;
}

.card a:hover {
	transition: box-shadow 200ms linear;
    border: 0;
    box-shadow: 0 3px 6px rgba(47, 63, 74, 0.2);
    text-decoration: none;
    cursor: pointer;
}
.card--name{
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}
.card--title {
	margin: 0 0 0.375rem 0;
    font-size: 1.30622rem;
    font-weight: 600;
	line-height: 1.25;
}
.card--icon {
	flex-basis: auto;
	height: 3rem;
	margin-right: 0.75rem;
	margin-left: 0rem;
    line-height: 1;
}*/

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

