<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:onlyLocalStylesheets="False" MadCap:conditions="Primary.do-not-publish" MadCap:searchable="True">
    <head><title>[%=Heading.Level1%]</title>
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>&lt;product feature, component, approach, or task&gt;</h1>
        <p style="background-color: #faf0e6;">Instructions:&#160;<a href="https://oktawiki.atlassian.net/wiki/spaces/DOC/pages/2733028260/">Concept topic wiki</a></p>
        <p>&lt;Intro: Explain what the user achieves by using this feature. Short paragraph.&gt;</p>
        <p>&lt;Description:&#160;Define the feature and components. Explain the value and benefit to users. If users understand the concept without images, don’t include any.&gt;</p>
        <h3><a name="item1"></a>&lt;Component_name&gt;</h3>
        <p>&lt;Enter description.&gt;</p>
        <h3><a name="item2"></a>&lt;Component_name&gt;</h3>
        <p>&lt;Enter description.&gt;</p>
        <h3><a name="&lt;Item"></a>&lt;Component_name&gt;</h3>
        <h2><span>Related topics</span>
        </h2>
        <p>&lt;xref to related topic&gt;</p>
        <p>&lt;xref to related topic&gt;</p>
        <p>&lt;xref to related topic&gt;</p>
    </body>
</html>