<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:onlyLocalStylesheets="False" MadCap:conditions="Primary.do-not-publish" MadCap:searchable="True">
    <head>
        <link href="../../TableStyles/standard.css" rel="stylesheet" MadCap:stylesheetType="table" /><title>[%=Heading.Level1%]</title>
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>&lt;Reference topic title&gt;</h1>
        <p style="background-color: #faf0e6;">Instructions: <a href="https://oktawiki.atlassian.net/wiki/spaces/DOC/pages/2733029124">Reference topic wiki</a></p>
        <p>&lt;Intro. Explain what the reference info is for. Short paragraph.&gt;</p>
        <p style="background-color: #faf0e6;">Choose your format based on need:&#160;definition list &lt;dl&gt;, table (comparison), or sections (&lt;h3&gt; followed by &lt;p&gt;).<br /></p>
        <p style="color: #000000;background-color: #faf0e6;">DEFINITION LIST: </p>
        <dl>
            <dt style="color: #000000;">Parameter 1</dt>
            <dd style="color: #000000;">Description 1</dd>
            <dt style="color: #000000;">Parameter 2</dt>
            <dd style="color: #000000;">Description 2</dd>
        </dl>
        <p style="color: #000000;background-color: #faf0e6;">TABLE:<br />Column heading is the item type. For example, "Field" or "Parameter"<br /></p>
        <table style="width: 100%;border-left-style: solid;border-left-width: 1px;border-left-color: #c0c0c0;border-right-style: solid;border-right-width: 1px;border-right-color: #c0c0c0;border-top-style: solid;border-top-width: 1px;border-top-color: #c0c0c0;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #c0c0c0;margin-left: 0;margin-right: auto;mc-table-style: url('../../TableStyles/standard.css');" class="TableStyle-standard" cellspacing="0">
            <col class="TableStyle-standard-Column-Column1" />
            <col class="TableStyle-standard-Column-Column1" />
            <thead>
                <tr class="TableStyle-standard-Head-Header1">
                    <th class="TableStyle-standard-HeadF-Column1-Header1">
                        <p><span style="font-family: 'Proxima Nova';">&lt;Item type&gt;</span>
                        </p>
                    </th>
                    <th class="TableStyle-standard-HeadD-Column1-Header1">
                        <p><span style="font-family: 'Proxima Nova';">Description</span>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyF-Column1-Body1" style="color: #000000;">&lt;Enter item name or insert a graphic if needed (with alt text).&gt;                    </td>
                    <td class="TableStyle-standard-BodyD-Column1-Body1">
                        <p style="color: #000000;">&lt;Enter description. Use fragments or complete sentence.&gt;</p>
                        <ul>
                            <li style="color: #000000;">&lt;(Optional) List item&gt;</li>
                            <li style="color: #000000;">&lt;(Optional) List item&gt;</li>
                        </ul>
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body2">
                    <td class="TableStyle-standard-BodyC-Column1-Body2" style="color: #000000;">&lt;Enter item name or insert a graphic if needed (with alt text).&gt;</td>
                    <td class="TableStyle-standard-BodyA-Column1-Body2">
                        <p style="color: #000000;">&lt;Enter description. Use fragments or complete sentence.&gt;</p>
                        <ul>
                            <li style="color: #000000;">&lt;(Optional) List item&gt;</li>
                            <li style="color: #000000;">&lt;(Optional) List item&gt;</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="background-color: #faf0e6;">SECTION (&lt;h3&gt; followed by &lt;p&gt;)<br /></p>
        <h3>&lt;Section title - item name&gt;</h3>
        <p>&lt;Enter the description.&gt;</p>
        <h3>&lt;Section title - item name&gt;</h3>
        <ul>
            <li>&lt;Enter the description.&gt;</li>
            <li>&lt;Enter the description.&gt;</li>
        </ul>
        <h2><span>Related topics</span>
        </h2>
        <p>&lt;xref to related topic&gt;</p>
        <p>&lt;xref to related topic&gt;</p>
        <p>&lt;xref to related topic&gt;</p>
    </body>
</html>