/*<meta />*/

@media only screen and (max-width: 480px)
{
	nav.tab-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
		padding-left: 0em;
		max-width: 100%;
		background: #20313B none;
	}

	.tab-bar-section a.logo
	{
		background-position: center center;
		background-repeat: no-repeat;
		width: 147px;
		height: 70px;
		top: 0;
		bottom: auto;
		margin-top: 0;
		background: transparent url('Images/okta-doc-logo-half@0.5x.png') no-repeat center center;
	}

	.search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: #fafafa url('Images/SearchIcon.png') no-repeat center center;
	}

	.search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: #fafafa url('Images/FilterOutline.png') no-repeat center center;
	}

	.search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.right-off-canvas-menu
	{
		background-position: top center;
		background-color: #20313b;
	}

	.right-off-canvas-menu ul ul
	{
		background-position: top center;
		background-color: #20313b;
	}

	.left-off-canvas-menu
	{
		background-position: top center;
		background-color: #20313b;
	}

	.left-off-canvas-menu ul ul
	{
		background-position: top center;
		background-color: #20313b;
	}

	.tab-bar-section.middle > div
	{
		min-height: 70px;
	}

	.inner-wrap nav.tab-bar .outer-row
	{
		max-width: 100%;
	}

	.tab-bar .menu-icon span
	{
		top: 30px;
		background: transparent url('Images/Menu.png') no-repeat center center;
	}

	.inner-wrap .outer-row
	{
		padding-left: 60px;
	}

	.main-section > .outer-row
	{
		
	}

	ul.off-canvas-list li a
	{
		border-bottom: none 0px #262626;
		color: #fff;
	}

	ul.off-canvas-list li.back > a
	{
		
	}

	ul.off-canvas-list li a:hover
	{
		color: #e22866;
		font-weight: bold;
		background-color: #20313b;
	}

	ul.off-canvas-list li.back > a:hover
	{
		background-color: #20313b;
	}

	nav.tab-bar .menu-icon
	{
		right: -13px;
	}

	.row.nav-search
	{
		margin-top: 15px;
		margin-bottom: 0px;
	}

	.search-bar
	{
		width: 35%;
		margin-left: 0em;
	}

	.search-field
	{
		padding-right: 95px;
		background-color: #ffffff;
	}

	.search-filter-content
	{
		top: 2em;
		background-color: #007dc1;
	}

	.search-filter.open
	{
		background-color: #007dc1;
	}

	.search-filter.selected
	{
		background: transparent url('Images/Filter.png') no-repeat center center;
	}

	.search-filter-content ul li:hover
	{
		background-color: #007dc1;
	}

	.search-field::-webkit-input-placeholder
	{
		
	}

	.search-field::-moz-placeholder
	{
		
	}

	.search-field:-moz-placeholder
	{
		
	}

	.search-field:-ms-input-placeholder
	{
		
	}

	.search-filter-wrapper
	{
		right: 45px;
	}
}

