/*<meta />*/

.title-bar-container,
#title-bar-container
{
	display: none;
}

@media only screen and (max-width: 1024px)
{
	.title-bar-container,
	#title-bar-container
	{
		width: 100%;
		display: inline-flex;
		z-index: 70;
	}
}

@media only screen and (max-width: 1024px)
{
	.title-bar-layout a.logo
	{
		width: 190px;
		height: 26px;
		background: transparent url('../../images/okta-assets/logo.png') no-repeat center center;
		background-size: contain;
	}
}

@media only screen and (max-width: 767px)
{
	.title-bar-layout a.logo
	{
		width: 147px;
		height: 20px;
	}
}

nav.title-bar .menu-icon span
{
	width: 32px;
	height: 32px;
}

@media only screen and (max-width: 1024px)
{
	nav.title-bar
	{
		padding-top: 15px;
		padding-bottom: 14px;
		border-bottom: 1px solid #D7D7DC;
		z-index: 1;
	}

	nav.title-bar .menu-icon
	{
		right: 0;
	}

	nav.title-bar .menu-icon span
	{
		background-image: url('../../images/okta-assets/hamburger-icon.svg');
	}

	nav.title-bar .menu-icon[aria-expanded=true] span
	{
		background-image: url('../../images/okta-assets/cross-icon.svg');
	}
}

@media only screen and (max-width: 767px)
{
	nav.title-bar
	{
		padding-top: 12px;
		padding-bottom: 11px;
	}
}

.replace_top_nav
{
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #afaba1;
}

.logo_container
{
	width: 318px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 2;
}

.logo_container .logo
{
	max-width: 190px;
	width: 190px;
	height: 26px;
}

@media only screen and (max-width: 1024px)
{
	.logo_container
	{
		display: none;
	}
}

.navbar,
#navbar
{
	display: flex;
	align-items: center;
	padding-right: 22px;
	padding-left: 22px;
	order: 3;
	flex-grow: 1;
	max-width: calc(100% - 318px);
}

.navbar a:hover,
#navbar a:hover
{
	color: #191919;
	background-color: transparent;
}

@media only screen and (max-width: 1200px)
{
	.navbar,
	#navbar
	{
		width: calc(80% - 290px);
		margin-left: -40px;
	}
}

@media only screen and (max-width: 1024px)
{
	.navbar,
	#navbar
	{
		display: none;
	}
}

.dropdown a,
.dropdown .dropbtn
{
	font-size: 16px;
	border: none;
	outline: none;
	padding: 24px 12px;
	margin: 0;
	height: 70px;
	display: inline-flex;
	align-items: center;
	color: #191919;
	text-decoration: none;
}

.dropdown i
{
	margin: 0 2px 8px 10px;
	width: 9px;
	height: 9px;
	border: 1px #191919;
	border-style: none solid solid none;
	transform: rotate(45deg);
}

.dropdown .dropdown-content
{
	display: none;
	position: absolute;
	background-color: #fff;
	width: auto;
	border: 1px solid #afaba1;
	z-index: 1;
	padding: 16px 0;
}

.dropdown .dropdown-content a
{
	width: 100%;
	padding: 8px 24px;
	height: auto;
}

.dropdown .dropdown-content a:hover
{
	background-color: #fff;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .dropbtn
{
	color: #191919;
	background-color: transparent;
}

