/*<meta />*/

/* Global Okta help css -- contains classes and elements used on any and all topics.  */

@import url('variables.css');

@import url('qualtrics.css');

@import url('../fonts/fonts.css');

@import url('../foundation-icons/foundation-icons.css');

@import url('../foundation.min.css');

@import url('../../scripts/coveo-resources/vendor/salesforce-ux/assets/styles/salesforce-lightning-design-system.css');

@import url('../../scripts/coveo-resources/css/coveo.okta.standalonesearchbox_nav_poc.min.css');

@namespace MadCap url("http://www.madcapsoftware.com/Schemas/MadCap.xsd");

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

table
{
	overflow-x: scroll;
	max-width: 100%;
}

/*** Override: New styles for current classes (.copyright)  ***/

p.copyright
{
	font-size: 14px;
	line-height: 1.2;
	color: var(--color-gravel);
	position: relative;
}

/*** Link styles ***/

a,
.xref
{
	color: var(--color-sky);
	text-decoration: underline;
}

a:hover,
.xref:hover
{
	color: var(--color-sky);
	text-decoration: underline;
}

a:focus,
.xref:focus
{
	outline: none;
}

/*** Update external-link icon ***/

a.external-link::after
{
	content: url('../../images/okta-assets/external-link-icon.svg');
	padding-left: 7px;
}

/* Identity Engine label positioning */

.oie-label
{
	position: absolute;
	top: 6px;
	right: 2em;
	width: 120px;
}

img.oie-label
{
	width: 120px;
	height: 50px;
}

/*** Image styles ***/

img
{
	max-width: 100%;
}

/*** List styles ***/

ul
{
	margin: 16px 0;
}

ol
{
	margin-top: 6px;
	margin-bottom: 6px;
}

ul li
{
	margin-top: 6px;
	margin-bottom: 6px;
}

ol li
{
	margin-top: 6px;
	margin-bottom: 6px;
}

ul li:first-child
{
	margin-top: -6px;
}

ul li::marker
{
	color: var(--color-gravel);
}

/*** List with blue markers ***/

ul.marker-blue li::marker
{
	color: var(--color-sky);
}

/*** Unstyled - Remove the default list-style and left margin on list items ***/

ul.list-unstyled
{
	list-style: none;
	padding: 0;
	margin: 0;
}

/*** Override: Main section/container styles ***/

div.body-container
{
	padding: 0 !important;
	margin-top: 0;
}

div.height-container-no-footer,
div.height-container
{
	display: flex;
	flex-direction: column;
	padding-bottom: 1em;
}

div.okta-topics
{
	padding-right: 20%;
	flex: 1 0 auto;
}

div.body-main
{
	padding-left: 1.5em;
	padding-right: 1em;
	position: relative;
}

.main-section
{
	padding-top: 70px;
}

.main-section > .outer-row
{
	padding: 0;
}

/* 'index.htm' drops breadcrumbs and labels; push heading down */

h1.landing_title
{
	margin-top: 32px;
}

/*** TODO: check ***/

.mcf_dd_heading2
{
	font-weight: bold;
}

.external-link-icon
{
	margin: 0 8px 6px;
}

/* new standard per SRB 9/2019 */

img.new,
#img_new
{
	max-width: 100%;
	border: 1px solid var(--color-snow);
	-moz-box-shadow: 3px 3px 7px var(--color-snow);
	-webkit-box-shadow: 3px 3px 7px var(--color-snow);
	box-shadow: 3px 3px 7px var(--color-snow);
}

p.earlyaccess
{
	margin: 10px 0;
	padding: 10px 10px 10px 20px;
	text-align: left;
	background-color: var(--color-snow);
	background-clip: border-box;
	border: solid 2px var(--color-snow);
	border-left: solid 8px var(--color-sand);
}

p.beta
{
	margin: 10px 0;
	padding: 10px 10px 10px 20px;
	text-align: left;
	background-color: var(--color-cream);
	background-clip: border-box;
	border: solid 2px var(--color-cream);
	border-left: solid 8px var(--color-cloud);
}

p.update
{
	margin: 10px 0;
	padding: 10px 10px 10px 20px;
	text-align: left;
	background-color: var(--color-snow);
	background-clip: border-box;
	border: solid 2px var(--color-snow);
	border-left: solid 8px var(--color-sand);
}

div.TopicContent
{
	padding: 25px 15px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

html.templateTopic div.sideContent
{
	display: none;
}

/* === Back-to-top floating button === */

.sf-back-to-top
{
	background-color: var(--color-sky);
	color: var(--color-snow);
	display: none;
	z-index: 999;
	position: fixed;
	right: 2em;
	bottom: 80px;
	width: 50px;
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.sf-back-to-top:hover
{
	box-shadow: 0 0 7px 3px rgb(0 0 0 / 8%), 0 3px 8px 3px rgb(0 0 0 / 8%);
}

a.sf-back-to-top
{
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.6;
	padding-left: 2px;
	padding-top: 4px;
	font-weight: bold;
	color: var(--color-snow);
	text-decoration: none;
}

a.sf-back-to-top .arrow::before
{
	font-size: 18px;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	display: block;
	vertical-align: middle;
	cursor: pointer;
	margin-left: -5px;
	font-weight: bold;
	content: '^';
}

.topics
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

.topics > div
{
	margin: 0 12px;
	width: calc(100% / 3 - 25px);
}

dt
{
	padding-top: 0.75em;
	font-weight: bold;
}

dt > a,
dt > MadCap|xref
{
	font-weight: normal;
}

dd
{
	padding-bottom: 0.5em;
	margin-left: 0;
}

ul.tables_menu
{
	columns: 2;
}

/* ===========================================================================
Styles after this point are styles that are for specific mediums. If any 
additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
============================================================================ */

@media only screen and (min-width: 1200px)
{
	ul.tables_menu
	{
		width: 70%;
	}
}

@media only screen and (max-width: 1024px)
{
	div.okta-topics
	{
		padding-right: 5%;
	}

	.main-section
	{
		padding-top: 0;
	}

	/*** Body-main padding update ***/

	div.body-main
	{
		padding: 0 32px 16px;
	}

	.oie-label
	{
		right: 3%;
	}
}

@media only screen and (max-width: 767px)
{
	h1
	{
		font-size: 28px;
		line-height: 1.25;
	}

	/*** Body-main padding update ***/

	div.body-main
	{
		padding: 0 16px 16px;
	}

	/*** Featured topics width update ***/

	.topics > div
	{
		width: 100%;
	}
}

@media only screen and (max-width: 480px)
{
	a.sf-back-to-top
	{
		line-height: 1.2;
		height: 45px;
		width: 45px;
	}
}

/* ==== For Release Notes Only ========================================== */

.ea-item
{
	background: #fafafa;
	border-left: solid 2px #f1d10d;
	padding-left: 1rem;
}

/* =============================================================================================== */
/* ======================== Top Nav menu customizations  DO NOT TOUCH ============================ */
/* =============================================================================================== */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

hr.hr-grey
{
	border: solid 1px var(--color-cloud);
}

span.disableGlossary
{
	mc-disable-glossary-terms: true;
}

img.thumbnail,
#thumbnail
{
	mc-thumbnail: popup;
	mc-thumbnail-max-width: 220px;
	mc-thumbnail-max-height: 220px;
	border: 1px solid var(--color-snow);
	-moz-box-shadow: 3px 3px 7px var(--color-snow);
	-webkit-box-shadow: 3px 3px 7px var(--color-snow);
	box-shadow: 3px 3px 7px var(--color-snow);
}

span.wintitle
{
	font-weight: bold;
}

span.uicontrol
{
	font-weight: bold;
}

span.menucascade
{
	
}

span.menucascade > span.uicontrol:not(:last-child)::after
{
	content: ' > ';
}

span.userinput
{
	font-family: monospace;
}

span.term
{
	font-style: italic;
}

span.msgblock
{
	font-family: monospace;
}

span.varname
{
	font-family: monospace;
}

span.varname::before
{
	content: '<';
}

span.varname::after
{
	content: '>';
}

span.filepath
{
	font-family: monospace;
}

span.url
{
	font-family: monospace;
}

dl.ref-arch-dl dt
{
	/* TO DO */
}

dl.ref-arch-dl dd
{
	/* TO DO */
}

html.hybrid
{
	
}

p.deprecation
{
	text-align: left;
	background-clip: border-box;
	margin: 10px 0;
	padding: 10px;
	background-color: var(--color-snow);
	border-color: var(--color-cream) var(--color-sky);
	border-width: 2px 2px 2px 8px;
	border-style: solid;
}

.err_title
{
	text-align: center;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	font-size: 36px;
	color: #5c6971;
	margin-top: 98px;
}

.err_msg
{
	text-align: center;
	font-weight: normal;
	font-style: normal;
	line-height: 1.4em;
	font-size: 24px;
	color: #2f3f4a;
}

