/*<meta />*/

/* stylelint-disable value-keyword-case */
/* stylelint-enable value-keyword-case */

.font-weight-book
{
	color: #191919 !important;
}

.font-weight-normal
{
	font-weight: 400 !important;
}

.font-weight-medium
{
	font-weight: 500 !important;
}

.font-weight-bold
{
	font-weight: 700 !important;
}

.text-main
{
	color: #191919 !important;
}

.text-gray
{
	color: #6b665f !important;
}

.text-orange
{
	color: #4cb7a3 !important;
}

.text-blue
{
	color: #3f59e4 !important;
}

.text-brand
{
	color: #1a31a9 !important;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

table
{
	overflow-x: scroll;
	max-width: 100%;
}

a
{
	color: #3f59e4;
	text-decoration: underline;
}

a:hover
{
	color: #3f59e4;
	text-decoration: underline;
}

a:focus
{
	outline: none;
}

img
{
	max-width: 100%;
}

ul
{
	margin: 16px 0;
}

ul li
{
	margin-top: 6px;
	margin-bottom: 6px;
}

ul li:first-child
{
	margin-top: -6px;
}

ol
{
	margin-top: 6px;
	margin-bottom: 6px;
}

ol li
{
	margin-top: 6px;
	margin-bottom: 6px;
}

dt
{
	padding-top: 0.75em;
	font-weight: bold;
}

dt > a
{
	font-weight: normal;
}

dd
{
	padding-bottom: 0.5em;
	margin-left: 0;
}

body
{
	font-family: "Aeonik Regular", Helvetica, Arial, sans-serif;
	color: #191919;
	background-color: #fff;
	font-size: 17px;
	line-height: 1.6;
}

h1,
.h1
{
	font-size: 32px;
	color: #191919;
	line-height: 1.2;
	margin: 0 0 23px;
}

@media only screen and (max-width: 767px)
{
	h1,
	.h1
	{
		font-size: 28px;
		line-height: 1.25;
	}
}

h2,
.h2
{
	font-size: 26px;
	color: #191919;
	line-height: 1.25;
}

.h2
{
	margin-top: 24px;
	margin-bottom: 23px;
}

h2
{
	margin-bottom: 20px;
	margin-top: 23px;
}

h3
{
	font-size: 20.5px;
	color: #191919;
	line-height: 1.25;
	margin: 30px 0 23px;
}

h4,
.h4
{
	color: #191919;
	line-height: 1.35;
}

.h4
{
	font-size: 20px;
	margin-bottom: 32px;
}

h4
{
	font-size: 18px;
	margin: 26px 0 20px;
}

h5,
.h5
{
	color: #191919;
}

.h5
{
	font-size: 18px;
	margin-bottom: 16px;
}

h5
{
	font-size: 16.8px;
	margin: 20px 0 0 22px;
}

h6
{
	font-size: 16.5px;
	color: #191919;
	font-weight: 500;
	margin: 18px 0 16px;
}

.title-bar-container,
#title-bar-container
{
	display: none;
}

@media only screen and (max-width: 1024px)
{
	.title-bar-container,
	#title-bar-container
	{
		width: 100%;
		display: inline-flex;
		z-index: 70;
	}
}

@media only screen and (max-width: 1024px)
{
	.title-bar-layout a.logo
	{
		width: 190px;
		height: 26px;
		background: transparent url('../../images/okta-assets/logo.png') no-repeat center center;
		background-size: contain;
	}
}

@media only screen and (max-width: 767px)
{
	.title-bar-layout a.logo
	{
		width: 147px;
		height: 20px;
	}
}

nav.title-bar .menu-icon span
{
	width: 32px;
	height: 32px;
}

@media only screen and (max-width: 1024px)
{
	nav.title-bar
	{
		padding-top: 15px;
		padding-bottom: 14px;
		border-bottom: 1px solid #d7d7dc;
		z-index: 1;
	}

	nav.title-bar .menu-icon
	{
		right: 0;
	}

	nav.title-bar .menu-icon span
	{
		background-image: url('../../images/okta-assets/hamburger-icon.svg');
	}

	nav.title-bar .menu-icon[aria-expanded="true"] span
	{
		background-image: url('../../images/okta-assets/cross-icon.svg');
	}
}

@media only screen and (max-width: 767px)
{
	nav.title-bar
	{
		padding-top: 12px;
		padding-bottom: 11px;
	}
}

.replace_top_nav
{
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #afaba1;
}

.logo_container
{
	width: 318px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 2;
}

.logo_container .logo
{
	max-width: 190px;
	width: 190px;
	height: 26px;
}

@media only screen and (max-width: 1024px)
{
	.logo_container
	{
		display: none;
	}
}

.navbar,
#navbar
{
	display: flex;
	align-items: center;
	padding-right: 22px;
	padding-left: 22px;
	order: 3;
	flex-grow: 1;
	max-width: calc(100% - 318px);
}

.navbar a:hover,
#navbar a:hover
{
	color: #191919;
	background-color: transparent;
}

@media only screen and (max-width: 1200px)
{
	.navbar,
	#navbar
	{
		width: calc(80% - 290px);
		margin-left: -40px;
	}
}

@media only screen and (max-width: 1024px)
{
	.navbar,
	#navbar
	{
		display: none;
	}
}

div.toolbar-main
{
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 4;
	padding-right: 3em;
}

div.toolbar-main .button-group-container-left
{
	float: none;
	margin: 0;
}

div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button
{
	height: 32px;
	width: 32px;
	z-index: 99;
	margin: 0;
}

div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.expand-all-button
{
	background: url('../../images/okta-assets/nav-expand.svg') no-repeat center center;
	margin-right: 15px;
}

div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.collapse-all-button
{
	background: url('../../images/okta-assets/nav-collapse.svg') no-repeat center center;
	margin-right: 15px;
}

div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.previous-topic-button
{
	border: none;
	background: url('../../images/okta-assets/nav-prev.svg') no-repeat center center;
	margin-right: 16px;
}

div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.next-topic-button
{
	border: none;
	background: url('../../images/okta-assets/nav-next.svg') no-repeat center center;
	margin: 0;
}

div.toolbar-main ._Skins_okta_toolbar_no_expand.mc-component .button
{
	height: 32px;
	width: 32px;
	z-index: 99;
	margin: 0;
}

div.toolbar-main ._Skins_okta_toolbar_no_expand.mc-component .button .button-icon-wrapper
{
	margin: -2px 0 0;
	height: 32px;
	width: 32px;
	z-index: 99;
}

div.toolbar-main ._Skins_okta_toolbar_no_expand.mc-component .button.previous-topic-button
{
	border: none;
	background: url('../../images/okta-assets/nav-prev.svg') no-repeat center center;
	margin-right: 16px;
}

div.toolbar-main ._Skins_okta_toolbar_no_expand.mc-component .button.next-topic-button
{
	border: none;
	background: url('../../images/okta-assets/nav-next.svg') no-repeat center center;
	margin: 0;
}

div.toolbar-main ._Skins_okta_toolbar_no_expand.mc-component .button.select-language-button .button-icon
{
	background-position: center !important;
	z-index: 10;
}

@media only screen and (max-width: 1024px)
{
	div.toolbar-main
	{
		position: absolute;
		right: 4em;
		width: 36px;
		z-index: 80;
		padding-right: 0;
	}
}

@media only screen and (max-width: 767px)
{
	div.toolbar-main
	{
		top: -1px;
		right: 3.5em;
	}
}

.toolbar-button-drop-down
{
	top: 72px !important;
	left: 85% !important;
	z-index: 1;
}

.toolbar-button-drop-down > ul
{
	list-style: none;
	margin-bottom: -8px !important;
	padding: 4px;
	width: 200px;
}

.toolbar-button-drop-down > ul > li
{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

@media only screen and (max-width: 1126px)
{
	.toolbar-button-drop-down
	{
		left: 81% !important;
	}
}

@media only screen and (max-width: 1024px)
{
	.toolbar-button-drop-down
	{
		left: -310% !important;
	}
}

div.toolbar-bottom
{
	display: flex;
	justify-content: flex-end;
	padding: 0 32px;
}

@media only screen and (max-width: 1024px)
{
	div.toolbar-bottom
	{
		padding: 0 32px;
	}
}

div.toolbar-row
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.toolbar-row::before
{
	content: " ";
	display: table;
}

div.toolbar-row::after
{
	content: " ";
	display: table;
	clear: both;
}

div.toolbar-row > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	padding: 1%;
}

div.toolbar-row > div:nth-child(1)
{
	margin-left: 0%;
	width: 20%;
	background-color: #3f59e4;
}

div.toolbar-row > div:nth-child(2)
{
	margin-left: 0%;
	width: 62%;
}

div.toolbar-row > div:nth-child(3)
{
	margin-left: 0%;
	width: 18%;
}

.is-open-right .js-off-canvas-exit
{
	right: 0;
	height: 70px;
	background: none;
	box-shadow: none;
	border-bottom: 1px solid #fffefa;
}

@media only screen and (max-width: 767px)
{
	.is-open-right .js-off-canvas-exit
	{
		height: 64px !important;
	}
}

.off-canvas-wrapper-inner.is-open-right
{
	right: 0;
}

.position-right.is-open
{
	left: 0;
	top: 70px;
	width: 100%;
	transition: width 0s, top 0.3s;
}

@media only screen and (max-width: 767px)
{
	.position-right.is-open
	{
		top: 64px !important;
	}
}

ul.off-canvas-list li a
{
	font-size: 16px;
	color: #191919;
	padding: 24px 32px;
	line-height: 1.4;
	border-bottom: 1px solid #f6f1e7;
	background-color: #fffefa;
	width: 100%;
	position: relative;
}

ul.off-canvas-list li a:hover
{
	background-color: #fffefa;
	color: #191919;
}

ul.off-canvas-list li.js-drilldown-back > a
{
	padding-left: 46px;
}

@media only screen and (max-width: 767px)
{
	ul.off-canvas-list
	{
		margin-bottom: 4em !important;
	}
}

@media only screen and (max-width: 480px)
{
	ul.off-canvas-list
	{
		margin-bottom: 4em !important;
	}
}

ul.off-canvas-list ul > li > a:hover,
ul.off-canvas-list ul ul > li > a:hover
{
	background-color: #fffefa;
	color: #191919;
}

.off-canvas
{
	transition: top 0.3s;
}

.off-canvas.position-right ul ul .tree-node.tree-node-leaf
{
	margin-left: 16px;
	border-left: 14px solid #f6f1e7;
}

.is-drilldown-submenu-parent > a::before,
.js-drilldown-back > a::before
{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 5em;
	height: 4em;
}

.is-drilldown-submenu-parent > a::after
{
	content: "";
	position: absolute;
	top: 50%;
	right: 32px;
	width: 9px;
	height: 9px;
	border: 1px #e8dcc7;
	border-style: none solid solid none;
	transform: translate(0, -50%) rotate(-45deg);
	transition: transform 0.2s;
}

.js-drilldown-back > a::after
{
	content: "";
	position: absolute;
	top: 50%;
	width: 9px;
	height: 9px;
	border: 1px #e8dcc7;
	border-style: none solid solid none;
	transition: transform 0.2s;
	transform: translate(0, -50%) rotate(135deg);
	right: auto;
	left: 16px;
}

ul.sub-menu > li.has-children > a::after,
ul.sub-menu > li.tree-node-leaf > a::after
{
	content: none;
}

ul.sub-menu > li[data-mc-id="7"] > a::after
{
	content: url('../../images/okta-assets/external-link-icon.svg');
	padding-left: 6px;
	position: relative;
	top: 4px;
}

ul.navigation > li > a
{
	border: 1px solid transparent;
}

ul.navigation > li > a:hover,
ul.navigation > li > a:focus
{
	border-bottom: 1px solid #000 !important;
	padding-bottom: 15px !important;
	color: #30d5c8;
}

ul.navigation > li > a::after
{
	content: url('../../images/okta-assets/caret-down.png');
	padding-left: 12px;
}

ul.navigation > li[data-mc-id="1"] > a::after
{
	content: none;
}

ul.navigation > li[data-mc-id="4"] > a::after
{
	content: url('../../images/okta-assets/external-link-icon.svg');
	padding-left: 6px;
	position: relative;
	top: 4px;
}

ul.navigation > li.has-children::after
{
	margin-bottom: -12px;
	z-index: 1000;
}

ul.navigation li:hover > ul
{
	margin-top: 12px;
}

ul.navigation ul
{
	box-shadow: 0 0 20px #00000026 !important;
}

ul.navigation li.TOCSeparator
{
	margin-top: -14px;
	margin-bottom: -4px;
}

ul._Skins_okta_left_menu > li.has-children[data-mc-id="1"]
{
	padding-top: 1.5rem;
}

div.nav-search-wrapper
{
	display: none;
}

.sidenav-wrapper
{
	width: 335px;
	background-color: #fbfaf9;
	margin-top: 0;
}

.sidenav-container
{
	padding-left: 2%;
	padding-right: 0%;
}

ul.sidenav li a
{
	color: #191919;
	position: relative;
	font-size: 14px;
	line-height: 1.3;
	padding: 10px 15px;
	font-family: "Aeonik Regular", Helvetica, Arial, sans-serif;
}

ul.sidenav li a:hover,
ul.sidenav li a.selected
{
	background-color: #efeee9 !important;
}

ul.sidenav li a .submenu-toggle-container
{
	width: auto;
}

ul.sidenav li a .submenu-toggle-container:focus
{
	outline: none;
}

ul.sidenav li a .submenu-toggle-container span
{
	display: none;
}

ul.sidenav li a .submenu-toggle-container::before
{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 3em;
	height: 2.75em;
}

ul.sidenav li a .submenu-toggle-container::after
{
	content: "";
	position: absolute;
	top: 45%;
	right: 21px;
	transform: translate(0, -50%) rotate(45deg);
	width: 9px;
	height: 9px;
	border: 1px #191919;
	border-style: none solid solid none;
	transition: transform 0.2s;
}

ul.sidenav li a .submenu-toggle-container[aria-expanded="true"]::after
{
	transform: translate(0, -50%) rotate(-135deg);
}

ul.sidenav ul > li > a
{
	margin-left: 14px;
	padding: 10px 15px;
}

ul.sidenav ul ul > li > a
{
	margin-left: 28px;
}

ul.sidenav ul ul ul > li > a
{
	margin-left: 42px;
}

ul.sidenav ul ul ul ul > li > a
{
	margin-left: 56px;
}

ul.menu li > a.selected
{
	color: #191919;
	background-color: #efeee9 !important;
}

@media only screen and (max-width: 1024px)
{
	ul.menu li > a.selected
	{
		font-weight: 300;
		background-color: transparent !important;
	}
}

.is-accordion-submenu-parent > a span.submenu-toggle-container
{
	width: auto;
}

.footer,
.footer2
{
	margin-top: 32px;
	padding-left: 1.5em;
	flex-shrink: 0;
}

.footer.show-search,
.footer2.show-search
{
	padding-bottom: 70px;
}

.footer--top-line
{
	font-size: 13px;
	line-height: 18px;
	color: var(--color-carbon);
	font-weight: 400;
	margin-top: 20px;
}

.footer--bottom-line
{
	font-size: 16px;
	line-height: 31px;
	color: var(--color-carbon);
	font-weight: 600;
}

.main-section.show-search
{
	padding-top: 140px;
}

@media only screen and (max-width: 1024px)
{
	.main-section.hide-search,
	.main-section.show-search
	{
		padding-top: 0;
	}
}

.search-bar._Skins_okta_search_bar.mc-component
{
	margin-right: 0;
}

button.search-btn
{
	margin-left: auto;
	width: 32px;
	min-width: 32px;
	height: 32px;
	background-image: url('../../images/okta-assets/search-icon.svg');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

button.search-btn-mobile
{
	margin-left: 0;
	position: absolute;
	top: 50%;
	left: auto;
	right: 96px;
	transform: translateY(-50%);
}

@media only screen and (max-width: 767px)
{
	button.search-btn-mobile
	{
		right: 100px;
		top: 55%;
	}
}

div.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f6f1e7;
	background-position: 9px 0;
	background-repeat: no-repeat;
	border: solid 1px #f6f1e7;
	border-radius: 6px;
	line-height: 1.5em;
	overflow: hidden;
	padding: 15px 20px;
}

div.noteOkta
{
	background-position: 15px 12px;
	background-color: #f6f1e7;
	background-image: url('../../images/assets/icons/notes/help.svg');
	background-repeat: no-repeat;
	border-radius: 16px;
	padding: 2px 0 9px;
	margin: 10px 0 20px;
}

div.noteOkta ul,
div.noteOkta ol
{
	margin-left: 25px;
	margin-top: 8px;
}

div.noteOkta > ul li:first-child
{
	margin-top: 6px;
}

div.note_cautionOkta
{
	background-position: 15px 12px;
	background-color: #f6f1e7;
	background-image: url('../../images/assets/icons/notes/alert.svg');
	background-repeat: no-repeat;
	border-radius: 16px;
	padding: 2px 0 9px;
	margin: 10px 0 20px;
}

div.note_cautionOkta ul,
div.note_cautionOkta ol
{
	margin-left: 25px;
	margin-top: 8px;
}

div.note_cautionOkta > ul li:first-child
{
	margin-top: 6px;
}

div.note_tipOkta
{
	background-position: 12px 6px;
	background-color: #f6f1e7;
	background-image: url('../../images/assets/icons/notes/icon-lightbulb.png');
	background-repeat: no-repeat;
	border-radius: 16px;
	padding: 2px 0 9px;
	margin: 10px 0 20px;
}

div.note_tipOkta ul,
div.note_tipOkta ol
{
	margin-left: 25px;
	margin-top: 8px;
}

div.note_tipOkta > ul li:first-child
{
	margin-top: 6px;
}

p.noteHeading
{
	display: none;
}

p.noteContent
{
	margin: 0 20px;
	margin-top: 8px;
	margin-right: 12px;
	padding-left: 25px;
}

img.noteImgFloat
{
	display: none;
}

div.tiles
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

div.tiles > a,
div.tiles > div
{
	display: block;
	padding: 25px;
	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	overflow: hidden;
	background: #f6f1e7;
	border-radius: 32px;
	min-height: 166px;
	margin: 12px;
	width: calc(100% / 3 - 30px);
	color: #1a31a9;
}

div.tiles > a:hover,
div.tiles > div:hover
{
	color: #fffefa;
	background: #3f59e4;
	box-shadow: 0 8px 24px #41414b08;
	cursor: pointer;
}

div.tiles > a:hover a,
div.tiles > a:hover p,
div.tiles > a:hover h3,
div.tiles > div:hover a,
div.tiles > div:hover p,
div.tiles > div:hover h3
{
	color: #fffefa;
}

@media only screen and (max-width: 1200px)
{
	div.tiles > a,
	div.tiles > div
	{
		width: calc(50% - 24px) !important;
	}
}

@media only screen and (max-width: 767px)
{
	div.tiles > a,
	div.tiles > div
	{
		width: 100% !important;
	}
}

.tile-title
{
	font-size: 22px;
	line-height: 1.35;
	font-weight: 500;
	margin: 0 0 16px;
	color: #191919;
}

.tile-title:hover
{
	color: #fffefa;
}

.tile-title a
{
	color: #191919;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tile-title-smaller
{
	text-align: left;
	padding-left: 8px;
	font-size: 1.2em;
	color: #191919;
}

.tile-subtitle
{
	min-height: 44px;
	color: #191919;
	margin-bottom: 48px;
}

.tile-subtitle:hover
{
	color: #fffefa;
}

.tile-content
{
	padding-left: 8px;
	font-size: 0.8em;
	text-align: left;
	color: #191919;
}

span.code,
span.codeph,
span.codeblock,
code
{
	background-color: #efeee9;
	font-family: monospace;
}

p.code,
#code
{
	border-radius: 2px;
	padding: 2px 5px;
	background-color: #f6f1e7;
	color: #191919;
	font-size: 95%;
	font-family: Inconsolata, Consolas, Menlo, Monaco, "Courier New", monospace;
	word-break: break-all;
	margin: 0 0 0 12px;
	max-width: 90%;
}

span.code,
span.codeph
{
	font-size: 95%;
	margin: 6px 0;
	padding: 4px;
	border-radius: 6px;
}

span.codeblock,
pre > code
{
	display: block;
	white-space: pre;
	border-radius: 8px;
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 1em;
	margin: 1em 0;
	overflow: auto;
}

.codeSnippetBody pre
{
	border-radius: 8px;
	background-color: #fffefa;
}

.codeSnippetBody span.codeSnippetLineNumbers
{
	margin-top: 2em;
	padding-left: 1em;
	line-height: 1.5em;
	font-size: 1.1em;
}

.codeSnippetBody > pre > code
{
	font-size: 1.1em;
}

.terminal
{
	margin-bottom: 1em;
	max-width: 150em;
}

.terminal .terminal-toolbar
{
	background: linear-gradient(to bottom, #e5e5e5 0%, #cfcfcf 100%);
	border-radius: 5px 5px 0 0;
	box-shadow: 0 1px 0 #0000000d;
	height: 21px;
	padding-left: 4px;
	width: 100%;
}

.terminal .terminal-toolbar .terminal-circle
{
	float: left;
	width: 14px;
	height: 14px;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 14px;
	margin: 4px;
}

.terminal .terminal-toolbar .terminal-circle.red
{
	background-color: #fc605c;
	border-color: #df423f;
}

.terminal .terminal-toolbar .terminal-circle.yellow
{
	background-color: #fdbc40;
	border-color: #de9f34;
}

.terminal .terminal-toolbar .terminal-circle.green
{
	background-color: #34c749;
	border-color: #20a92f;
}

.terminal .terminal-content
{
	background-color: #000;
	color: #f7f7f9;
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	font-size: 14px;
	line-height: 1.25;
	padding: 8px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.tabs
{
	border: 1px solid #c1c1c8;
	border-style: none none solid;
	padding: 0;
	margin: 12px 0 32px;
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
}

.tabs::-webkit-scrollbar
{
	display: none;
}

ul.tabs li
{
	margin: 0;
}

.tabs-title a
{
	font-size: 16px;
	line-height: 1.4;
	color: #191919;
	padding: 15px 24px;
	border-bottom: 3px solid transparent;
	white-space: nowrap;
	text-decoration: none;
}

.tabs-title > a:hover,
.tabs-title > a:focus
{
	background: #fffefa;
	color: #191919;
}

.tabs-title > a[aria-selected="true"]
{
	background: #fffefa;
	color: #191919;
	border-color: #3f59e4;
}

.tabs-content
{
	border: none;
}

.tabs-panel
{
	padding: 0;
}

.tabs-panel.is-active
{
	display: block;
	outline: none;
}

.dropdown a,
.dropdown .dropbtn
{
	font-size: 16px;
	border: none;
	outline: none;
	padding: 24px 12px;
	margin: 0;
	height: 70px;
	display: inline-flex;
	align-items: center;
	color: #191919;
	text-decoration: none;
}

.dropdown i
{
	margin: 0 2px 8px 10px;
	width: 9px;
	height: 9px;
	border: 1px #191919;
	border-style: none solid solid none;
	transform: rotate(45deg);
}

.dropdown .dropdown-content
{
	display: none;
	position: absolute;
	background-color: #fff;
	width: auto;
	border: 1px solid #afaba1;
	z-index: 1;
	padding: 16px 0;
}

.dropdown .dropdown-content a
{
	width: 100%;
	padding: 8px 24px;
	height: auto;
}

.dropdown .dropdown-content a:hover
{
	background-color: #fff;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .dropbtn
{
	color: #191919;
	background-color: transparent;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage
{
	background: none;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage img
{
	display: none;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage::before
{
	content: "";
	display: inline-block;
	border: 5px solid transparent;
	border-left: 9px solid #6e6e78;
	margin-right: 5px;
	transform-origin: 5px 6px;
	transition: transform 0.1s;
}

.MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage img
{
	display: none;
}

.MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage::before
{
	content: "";
	display: inline-block;
	border: 5px solid transparent;
	margin-right: 5px;
	transform-origin: 5px 6px;
	transition: transform 0.1s;
	border-left: 9px solid #1662dd;
	transform: rotate(90deg);
}

@media only screen and (max-width: 480px)
{
	img.MCDropDown_Image_Icon
	{
		box-sizing: border-box;
		max-height: 1.5ex;
		max-width: 2ex;
	}
}

h1.relnotes-month
{
	font-size: 26px;
	line-height: 1.25;
	margin-top: 24px;
	margin-bottom: 23px;
}

h2.relnotes
{
	font-size: 24px;
}

h3.relnotes-reg
{
	font-size: 20px;
	line-height: 1.3;
	margin-top: 16px;
	margin-bottom: 16px;
}

h3.relnotes
{
	font-size: 20px;
	line-height: 1.3;
}

h4.relnotes
{
	font-size: 20px;
	line-height: 1.35;
	margin-bottom: 32px;
}

ul.relnotes_fixes
{
	padding-left: 0;
}

ul.relnotes_fixes li
{
	display: grid;
	grid-template-columns: 140px 1fr;
}

ul.relnotes_fixes li p:nth-of-type(n\000020+\0000202)
{
	grid-column-start: 2;
}

.relnotes_prod h2
{
	font-size: 26px;
}

.relnotes_prod h3
{
	font-size: 22px;
}

.relnotes_prod h4
{
	font-size: 18px;
}

div.relnotes_entry
{
	padding-left: 1em;
}

div.relnotes_entry > h4
{
	margin-bottom: 10px !important;
}

.relnotes_bugs > ul,
.relnotes_apps > ul
{
	padding-inline-start: 20px;
}

div.release_version
{
	float: right;
}

div.breadcrumbs
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 16px 192px 20px 1.5em;
	font-size: 14px;
	line-height: 24px;
	color: #afaba1;
	float: none;
	min-height: 64px;
}

div.breadcrumbs .MCBreadcrumbsLink
{
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
	color: #191919;
	border-bottom: 1px solid #e8dcc7;
	white-space: nowrap;
}

div.breadcrumbs .MCBreadcrumbsDivider
{
	position: relative;
	color: transparent;
	width: 12px;
	height: 16px;
	min-width: 12px;
	white-space: nowrap;
}

div.breadcrumbs .MCBreadcrumbsDivider::after
{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%) rotate(-45deg);
	width: 9px;
	height: 9px;
	border: 1px #41414b;
	border-style: none solid solid none;
}

div.breadcrumbs .MCBreadcrumbsDivider:nth-last-child(2)
{
	display: none;
}

div.breadcrumbs a,
div.breadcrumbs span
{
	margin-right: 8px;
}

div.breadcrumbs .MCBreadcrumbsSelf:last-child:not(:first-child)
{
	display: none;
}

@media only screen and (max-width: 1024px)
{
	div.breadcrumbs
	{
		padding: 16px 160px 20px 32px;
	}
}

@media only screen and (max-width: 767px)
{
	div.breadcrumbs
	{
		padding: 16px 144px 20px 16px;
	}

	div.breadcrumbs .MCBreadcrumbsLink
	{
		max-width: calc(100% - 34px);
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div.breadcrumbs .MCBreadcrumbsLink:not(:nth-last-child(3))
	{
		display: none;
	}

	div.breadcrumbs .MCBreadcrumbsSelf:not(:nth-last-child(3))
	{
		display: none;
	}

	div.breadcrumbs .MCBreadcrumbsDivider:not(:nth-last-child(4))
	{
		display: none;
	}
}

.coveo-headline-wrapper
{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #191919;
	height: 70px;
	margin-top: 70px;
	z-index: 99;
	display: none;
}

.coveo-headline-wrapper::before
{
	display: none;
}

.coveo-headline-wrapper .slds-p-vertical_small,
.coveo-headline-wrapper .slds-p-vertical--small
{
	padding-top: 15px;
	padding-bottom: 0;
}

.coveo-headline-wrapper .slds-grid_align-center,
.coveo-headline-wrapper .slds-grid--align-center
{
	justify-content: center;
	padding: 0 16px;
}

.coveo-headline-wrapper .CoveoSearchButton::before
{
	font-size: 16px;
	line-height: 1.4;
	color: #191919;
}

.coveo-headline-wrapper .magic-box .magic-box-input
{
	height: 38px;
	background-color: #fffefa;
}

.coveo-headline-wrapper .magic-box .magic-box-input .magic-box-underlay,
.coveo-headline-wrapper .magic-box .magic-box-input > input
{
	height: 38px;
	text-indent: 16px;
	padding: 9px 16px 9px 0;
}

.coveo-headline-wrapper #standaloneSearchbox
{
	min-width: 530px;
}

.coveo-headline-wrapper #standaloneSearchbox .CoveoSearchButton
{
	background-color: #fffefa;
	height: 40px;
	padding: 8px 16px;
	width: auto;
	border: 1px solid #f6f1e7;
	border-radius: 0;
	cursor: pointer;
}

.coveo-headline-wrapper #standaloneSearchbox .magic-box
{
	border-style: solid none;
}

.coveo-headline-wrapper #standaloneSearchbox .magic-box .magic-box-input > input
{
	color: #191919;
}

.coveo-headline-wrapper #standaloneSearchbox .magic-box .magic-box-input > input::placeholder
{
	color: #f6f1e7;
}

.coveo-headline-wrapper #standaloneSearchbox .magic-box.magic-box-notEmpty ~ .CoveoSearchButton
{
	background-color: #b6c9ff;
}

@media only screen and (max-width: 1200px)
{
	.coveo-headline-wrapper #standaloneSearchbox
	{
		width: calc(100% - 250px);
		min-width: auto;
	}
}

@media only screen and (max-width: 767px)
{
	.coveo-headline-wrapper #standaloneSearchbox
	{
		width: 100%;
	}
}

@media only screen and (max-width: 1024px)
{
	.coveo-headline-wrapper
	{
		position: relative;
		margin-top: 0;
	}
}

.coveo-custom-select
{
	width: 198px;
	height: 40px;
	color: #191919;
	background-color: #fffefa;
	border: 1px solid #b6c9ff;
}

@media only screen and (max-width: 767px)
{
	.coveo-custom-select
	{
		width: 120px;
	}
}

.coveo-custom-select-options
{
	margin-top: 1px;
	left: -1px;
	border-radius: 0;
}

.coveo-custom-select-options li
{
	font-size: 16px;
	line-height: 1.4;
	text-indent: 0;
	padding: 8px 16px;
	border: none;
}

.coveo-custom-select-options li:hover,
.coveo-custom-select-options li.active
{
	color: #191919;
	background-color: #b6c9ff;
}

.coveo-custom-select-styled
{
	border-radius: 0;
	border: none !important;
	padding: 9px 32px 7px 16px;
}

.coveo-custom-select-styled:hover
{
	border: none !important;
}

.coveo-custom-select-styled::after,
.coveo-custom-select-styled.active::after,
.coveo-custom-select-styled:active::after
{
	content: "";
	position: absolute;
	top: 45%;
	right: 15px;
	transform: translate(0, -50%) rotate(45deg);
	width: 9px;
	height: 9px;
	border: 1px #191919;
	border-style: none solid solid none;
}

.main-section.show-search .coveo-headline-wrapper
{
	display: block;
}

.featureBanner
{
	width: 100%;
	padding: 10px;
	border-left-color: #3f59e4;
	border-width: 0 0 0 5px;
	border-style: solid;
}

.lga_banner
{
	display: block;
	position: absolute;
	top: 35px;
	right: 50px;
}

.lga_banner_oie
{
	display: block;
	position: absolute;
	top: 28px;
	right: 28px;
}

.rev-only_banner
{
	display: block;
	position: absolute;
	top: 23px;
	right: 30px;
}

@media only screen and (max-width: 1024px)
{
	.rev-only_banner
	{
		top: 12px;
		right: 10%;
	}
}

