@font-face {
  font-family: "ABCWhyte";
  font-style: normal;
  font-weight: normal;
  src: url("ABCWhyte/ABCWhyte-Regular.woff2") format("woff2"), url("ABCWhyte/ABCWhyte-Regular.woff") format("woff"), url("ABCWhyte/ABCWhyte-Regular.otf") format("opentype");
}

@font-face {
  font-family: "ABCWhyte Light";
  font-style: normal;
  font-weight: normal;
  src: url("ABCWhyte/ABCWhyte-Light.woff2") format("woff2"), url("ABCWhyte/ABCWhyte-Light.woff") format("woff"), url("ABCWhyte/ABCWhyte-Light.otf") format("opentype");
}

@font-face {
  font-family: "ABCWhyte Book";
  font-style: normal;
  font-weight: normal;
  src: url("ABCWhyte/ABCWhyte-Book.woff2") format("woff2"), url("ABCWhyte/ABCWhyte-Book.woff") format("woff"), url("ABCWhyte/ABCWhyte-Book.otf") format("opentype");
}

@font-face {
  font-family: "ABCWhyte Medium";
  font-style: normal;
  font-weight: normal;
  src: url("ABCWhyte/ABCWhyte-Medium.woff2") format("woff2"), url("ABCWhyte/ABCWhyte-Medium.woff") format("woff"), url("ABCWhyte/ABCWhyte-Medium.otf") format("opentype");
}

@font-face {
  font-family: "ABCWhyte Bold";
  font-style: normal;
  font-weight: normal;
  src: url("ABCWhyte/ABCWhyte-Bold.woff2") format("woff2"), url("ABCWhyte/ABCWhyte-Bold.woff") format("woff"), url("ABCWhyte/ABCWhyte-Bold.otf") format("opentype");
}
