/*<meta />*/

/* Global Okta help css -- contains classes and elements used on any and all topics.  */

@import url('../../content/resources/stylesheets/fonts/fonts.css');

@import url('../../content/resources/stylesheets/foundation-icons/foundation-icons.css');

@import url('../../content/resources/stylesheets/foundation.min.css');

@import url('../../content/resources/scripts/coveo-resources/vendor/salesforce-ux/assets/styles/salesforce-lightning-design-system.css');

@import url('../../content/resources/scripts/coveo-resources/css/coveo.okta.standalonesearchbox_nav_poc.min.css');

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/** Vendor (Reamotion) settings for support site branding adjusted throughout to change font-weight: 350 to 400 and adjust color: 212126 --> 414141. To workaround Flare bug that throws dozens of warnings in the XML editor message panel. (350 not in CSS standard but is supported in broswers.) **/

.micro-response-761437289
{
	font-family: 'ABCWhyte', sans-serif;
	color: #414141;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
}

/*** Headings and paragraphs ***/
/*** .h1 through .h5 classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element. ***/
/*** Override: New styles for current classes (.relnotes, .relnotes-reg, .relnotes-month)  ***/

.micro-response-761437289 h1,
.micro-response-761437289 .h1,
.micro-response-761437289 h2,
.micro-response-761437289 .h2,
.micro-response-761437289 h3,
.micro-response-761437289 .h3,
.micro-response-761437289 h4,
.micro-response-761437289 .h4,
.micro-response-761437289 h5,
.micro-response-761437289 .h5
{
	color: #414141;
	font-weight: 400;
}

.micro-response-761437289 h1,
.micro-response-761437289 .h1
{
	font-size: 32px;
	line-height: 1.2;
	margin: 0 0 24px 0;
}

.micro-response-761437289 h2,
.micro-response-761437289 .h2,
.micro-response-761437289 h1.relnotes-month
{
	font-size: 26px;
	line-height: 1.25;
	margin-top: 0;
	margin-top: 24px;
	margin-bottom: 24px;
}

.micro-response-761437289 h3
{
	line-height: 1.25;
	font-size: 20.5px;
	margin: 40px 0px 32px;
	margin-bottom: 23px;
	margin-top: 30px;
}

.micro-response-761437289 h3.relnotes-reg
{
	font-size: 20px;
	line-height: 1.3;
	margin-top: 16px;
	margin-bottom: 16px;
}

.micro-response-761437289 h3.relnotes
{
	font-size: 20px;
	line-height: 1.3;
}

.micro-response-761437289 h4,
.micro-response-761437289 .h4,
.micro-response-761437289 h4.relnotes
{
	font-size: 20px;
	line-height: 1.35;
	margin-bottom: 32px;
}

.micro-response-761437289 h5,
.micro-response-761437289 .h5
{
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 16px;
}

.micro-response-761437289 p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

/*** Override: New styles for current classes (.copyright)  ***/

.micro-response-761437289 p.copyright
{
	font-size: 14px;
	line-height: 1.2;
	color: #909090;
	margin-left: -14px;
}

/*** Link styles ***/

.micro-response-761437289 a,
.micro-response-761437289 .xref
{
	font-family: 'ABCWhyte', sans-serif;
	color: #1662DD;
	text-decoration: none;
	/* 	font-weight: 500;
 */
}

.micro-response-761437289 a:hover,
.micro-response-761437289 .xref:hover
{
	color: #1662DD;
	text-decoration: none;
}

.micro-response-761437289 a:focus,
.micro-response-761437289 .xref:focus
{
	outline: none;
}

/*** Update external-link icon ***/

.micro-response-761437289 a.external-link::after
{
	content: url('../../content/resources/images/okta-assets/external-link-icon.svg');
	padding-left: 7px;
}

/*** Font weight ***/
/*** Quickly change the weight (boldness) of text ***/

.micro-response-761437289 .font-weight-book
{
	/* 	font-weight: unset!important;
 */
	color: #212126 !important;
}

.micro-response-761437289 .font-weight-normal
{
	font-weight: 400 !important;
}

.micro-response-761437289 .font-weight-medium
{
	font-weight: 500 !important;
}

.micro-response-761437289 .font-weight-bold
{
	font-weight: 700 !important;
}

/*** Color utility classes ***/

.micro-response-761437289 .text-main
{
	color: #212126 !important;
}

.micro-response-761437289 .text-gray
{
	color: #41414B !important;
}

.micro-response-761437289 .text-orange
{
	color: #E97107 !important;
}

.micro-response-761437289 .text-blue
{
	color: #1662DD !important;
}

.micro-response-761437289 .text-brand
{
	color: #00297A !important;
}

/* For labels in master pages */

.micro-response-761437289 .lga_banner
{
	display: block;
	position: absolute;
	top: 35px;
	right: 50px;
}

.micro-response-761437289 .lga_banner_oie
{
	display: block;
	position: absolute;
	top: 28px;
	right: 28px;
}

.micro-response-761437289 .rev-only_banner
{
	display: block;
	position: absolute;
	top: 23px;
	right: 30px;
}

.micro-response-761437289 .end-user-heading
{
	display: inline-block;
	position: relative;
	float: right;
	margin-top: -5px;
	margin-right: 100px;
}

/*Identity Engine label positioning*/

.micro-response-761437289 .oie-label
{
	display: block;
	float: right;
	margin-right: 14px;
}

.micro-response-761437289 img.oie-label
{
	width: 120px;
	height: 50px;
}

/* end label styles */
/*** Code styles ***/

.micro-response-761437289 span.uicontrol
{
	font-weight: bold;
}

.micro-response-761437289 span.code,
.micro-response-761437289 code,
.micro-response-761437289 span.codeph
{
	background-color: #f0f0f0;
	font-family: Inconsolata, Consolas, Menlo, Monaco, 'Courier New', monospace;
	font-size: 95%;
	margin: 6px 0;
	padding: 4px;
	border-radius: 6px;
}

.micro-response-761437289 p.code,
.micro-response-761437289 #code
{
	border-radius: 2px;
	padding: 2px 5px;
	background-color: #f4f4f4;
	color: #333;
	font-size: 95%;
	font-family: Inconsolata, Consolas, Menlo, Monaco, Courier New, monospace;
	word-break: break-all;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 12px;
	max-width: 90%;
}

/*** Image styles ***/

.micro-response-761437289 img
{
	max-width: 100%;
}

/*** List styles ***/

.micro-response-761437289 ul
{
	margin: 16px 0;
}

.micro-response-761437289 ol
{
	margin-top: 6px;
	margin-bottom: 6px;
}

.micro-response-761437289 ul li
{
	margin-top: 6px;
	margin-bottom: 6px;
}

.micro-response-761437289 ol li
{
	margin-top: 6px;
	margin-bottom: 6px;
}

.micro-response-761437289 ul li:first-child
{
	margin-top: -6px;
}

/*** List with blue markers ***/

.micro-response-761437289 ul.marker-blue li::marker
{
	color: #1662DD;
}

/*** Unstyled - Remove the default list-style and left margin on list items ***/

.micro-response-761437289 ul.list-unstyled
{
	list-style: none;
	padding: 0;
	margin: 0;
}

/*** Override: Sidenav styles  ***/

.micro-response-761437289 .sidenav-wrapper
{
	width: 335px;
	background-color: #F5F5F6;
	margin-top: 0;
}

.micro-response-761437289 .sidenav-container
{
	padding-left: 2%;
	padding-right: 0%;
}

.micro-response-761437289 ul.sidenav li a
{
	font-family: 'ABCWhyte', sans-serif;
	color: #636363;
	position: relative;
	font-size: 15.5px;
	line-height: 1.3;
	/* 	font-weight: 300;
 */
	padding: 0;
	padding: 10px 15px;
}

.micro-response-761437289 ul.sidenav ul > li > a
{
	padding: 10px 15px;
	margin-left: 14px;
}

.micro-response-761437289 ul.sidenav ul ul > li > a
{
	margin-left: 28px;
}

.micro-response-761437289 ul.sidenav ul ul ul > li > a
{
	margin-left: 42px;
}

.micro-response-761437289 ul.sidenav ul ul ul ul > li > a
{
	margin-left: 56px;
}

.micro-response-761437289 ul.sidenav li a:hover
{
	background-color: #EBEBED !important;
}

.micro-response-761437289 ul.sidenav li a:hover
{
	background-color: #EBEBED !important;
}

.micro-response-761437289 ul.sidenav li a.selected
{
	font-weight: 300;
	background-color: #F5F5F6 !important;
}

.micro-response-761437289 ul.menu li > a.selected
{
	font-weight: 500;
	color: #41414B;
	background-color: #EBEBED !important;
}

.micro-response-761437289 .is-accordion-submenu-parent > a span.submenu-toggle-container
{
	width: auto;
}

.micro-response-761437289 ul.sidenav li a .submenu-toggle-container:focus
{
	outline: none;
}

.micro-response-761437289 ul.sidenav li a .submenu-toggle-container span
{
	display: none;
}

.micro-response-761437289 ul.sidenav li a span.submenu-toggle-container:before
{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 3em;
	height: 2.75em;
}

.micro-response-761437289 ul.sidenav li a span.submenu-toggle-container:after
{
	content: '';
	position: absolute;
	top: 45%;
	right: 21px;
	transform: translate(0, -50%) rotate(45deg);
	width: 9px;
	height: 9px;
	border: 1px #41414B;
	border-style: none solid solid none;
	transition: transform .2s;
}

.micro-response-761437289 ul.sidenav li a span.submenu-toggle-container[aria-expanded="true"]:after
{
	transform: translate(0, -50%) rotate(-135deg);
}

/*** Override: Search-box styles ***/

.micro-response-761437289 .coveo-headline-wrapper
{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #00297A;
	height: 70px;
	margin-top: 70px;
	z-index: 99;
}

.micro-response-761437289 .coveo-headline-wrapper:before
{
	display: none;
}

.micro-response-761437289 .coveo-custom-select
{
	width: 198px;
	height: 40px;
	color: #00297A;
	border: 1px solid #AAAAB4;
}

.micro-response-761437289 .coveo-custom-select-options li:hover
{
	color: #00297A;
}

.micro-response-761437289 .coveo-custom-select-styled
{
	border-radius: 0;
	border: none !important;
	padding: 9px 32px 7px 16px;
}

.micro-response-761437289 .coveo-custom-select-styled:hover
{
	border: none !important;
}

.micro-response-761437289 .coveo-headline-wrapper .slds-p-vertical_small,
.micro-response-761437289 .coveo-headline-wrapper .slds-p-vertical--small
{
	padding-top: 15px;
	padding-bottom: 0;
}

.micro-response-761437289 .coveo-headline-wrapper .slds-grid_align-center,
.micro-response-761437289 .coveo-headline-wrapper .slds-grid--align-center
{
	justify-content: center;
	padding: 0 16px;
}

.micro-response-761437289 .coveo-headline-wrapper #standaloneSearchbox
{
	min-width: 530px;
}

.micro-response-761437289 .coveo-custom-select-styled:after,
.micro-response-761437289 .coveo-custom-select-styled.active:after,
.micro-response-761437289 .coveo-custom-select-styled:active:after
{
	content: "";
	position: absolute;
	top: 45%;
	right: 15px;
	transform: translate(0, -50%) rotate(45deg);
	width: 9px;
	height: 9px;
	border: 1px #00297A;
	border-style: none solid solid none;
}

.micro-response-761437289 .coveo-headline-wrapper #standaloneSearchbox .CoveoSearchButton
{
	background: #fff;
	height: 40px;
	padding: 8px 16px;
	width: auto;
	border: 1px solid #AAAAB4;
	border-radius: 0;
	cursor: pointer;
}

.micro-response-761437289 .coveo-headline-wrapper #standaloneSearchbox .magic-box
{
	border-style: solid none solid none;
}

.micro-response-761437289 .coveo-headline-wrapper .CoveoSearchButton:before
{
	font-size: 16px;
	line-height: 1.4;
	color: #212126;
	/* 	font-weight: unset;
 */
}

.micro-response-761437289 .coveo-headline-wrapper .magic-box .magic-box-input
{
	height: 38px;
}

.micro-response-761437289 .coveo-custom-select-options
{
	margin-top: 1px;
	left: -1px;
	border-radius: 0;
}

.micro-response-761437289 .coveo-headline-wrapper #standaloneSearchbox .magic-box .magic-box-input > input
{
	color: #00297A;
}

.micro-response-761437289 .coveo-headline-wrapper #standaloneSearchbox .magic-box .magic-box-input > input::placeholder
{
	color: #C1C1C8;
}

.micro-response-761437289 .coveo-headline-wrapper .magic-box .magic-box-input .magic-box-underlay,
.micro-response-761437289 .coveo-headline-wrapper .magic-box .magic-box-input > input
{
	font-family: 'ABCWhyte', sans-serif;
	height: 38px;
	text-indent: 16px;
	padding: 9px 16px 9px 0;
}

.micro-response-761437289 .coveo-custom-select-options li
{
	font-size: 16px;
	line-height: 1.4;
	text-indent: 0;
	padding: 8px 16px;
	border: none;
}

.micro-response-761437289 .coveo-custom-select-options li:hover,
.micro-response-761437289 .coveo-custom-select-options li.active
{
	background-color: #F2F5FF;
}

/*** Header components styles ***/

.micro-response-761437289 div.title-bar-container,
.micro-response-761437289 #title-bar-container
{
	display: none;
}

.micro-response-761437289 div.replace_top_nav
{
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #D7D7DC;
}

.micro-response-761437289 .logo_container
{
	width: 318px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 2;
}

.micro-response-761437289 .logo_container .logo
{
	max-width: 190px;
	width: 190px;
	height: 26px;
}

/*** Navbar components styles ***/

.micro-response-761437289 .navbar,
.micro-response-761437289 #navbar
{
	display: flex;
	align-items: center;
	padding-right: 64px;
	padding-left: 22px;
	order: 3;
	flex-grow: 1;
	max-width: calc(100% - 318px);
	/* logo_container width */
}

.micro-response-761437289 .dropdown .dropbtn,
.micro-response-761437289 .dropdown a
{
	font-size: 16px;
	/* 	font-weight: 300;
 */
	border: none;
	outline: none;
	padding: 24px 12px;
	margin: 0;
	height: 70px;
	display: inline-flex;
	align-items: center;
	color: #636363;
}

.micro-response-761437289 .dropbtn i
{
	margin: 0 2px 8px 10px;
	width: 9px;
	height: 9px;
	border: 1px #41414B;
	border-style: none solid solid none;
	transform: rotate(45deg);
}

.micro-response-761437289 .navbar a:hover,
.micro-response-761437289 .dropdown:hover .dropbtn
{
	color: #212126;
	background-color: transparent;
}

.micro-response-761437289 .dropdown:hover .dropdown-content
{
	display: block;
}

.micro-response-761437289 .dropdown-content
{
	display: none;
	position: absolute;
	background-color: white;
	width: auto;
	border: 1px solid #D7D7DC;
	z-index: 1;
	padding: 16px 0;
}

.micro-response-761437289 .dropdown-content a
{
	width: 100%;
	padding: 8px 24px;
	height: auto;
}

.micro-response-761437289 .dropdown-content a:hover
{
	background-color: #F2F5FF;
}

/*** Override: Main section/container styles ***/

.micro-response-761437289 div.body-container
{
	padding: 0 !important;
	margin-top: 0;
}

.micro-response-761437289 div.body-main
{
	/* 	padding: 0 64px 16px 24px;
 */
	padding-left: 35px;
	position: relative;
	padding-right: 25px;
}

.micro-response-761437289 .main-section
{
	padding-top: 140px;
}

.micro-response-761437289 .main-section.hide-search
{
	padding-top: 70px;
}

.micro-response-761437289 .main-section.hide-search .coveo-headline-wrapper
{
	display: none;
}

.micro-response-761437289 .main-section > .outer-row
{
	padding: 0;
}

/* Hide back-to-top button */

.micro-response-761437289 .sf-back-to-top
{
	display: none;
}

/*** Footer styles ***/

.micro-response-761437289 .footer,
.micro-response-761437289 .footer2
{
	margin-top: 32px;
	padding: 0 48px;
}

/*** Override: Breadcrumbs styles ***/

.micro-response-761437289 div.breadcrumbs
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 16px 192px 20px 24px;
	font-size: 14px;
	line-height: 24px;
	color: #6E6E78;
	float: none;
	min-height: 64px;
}

.micro-response-761437289 div.breadcrumbs .MCBreadcrumbsLink
{
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
	color: #323131;
	border-bottom: 1px solid #6E6E78;
	white-space: nowrap;
}

.micro-response-761437289 div.breadcrumbs .MCBreadcrumbsDivider
{
	position: relative;
	color: transparent;
	width: 12px;
	height: 16px;
	min-width: 12px;
	white-space: nowrap;
}

.micro-response-761437289 div.breadcrumbs a,
.micro-response-761437289 div.breadcrumbs span
{
	margin-right: 8px;
}

.micro-response-761437289 div.breadcrumbs .MCBreadcrumbsDivider:after
{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%) rotate(-45deg);
	width: 9px;
	height: 9px;
	border: 1px #41414B;
	border-style: none solid solid none;
}

.micro-response-761437289 div.breadcrumbs .MCBreadcrumbsSelf:last-child:not(:first-child)
{
	display: none;
}

.micro-response-761437289 div.breadcrumbs .MCBreadcrumbsDivider:nth-last-child(2)
{
	display: none;
}

/*** Override: Toolbar styles and icons ***/

.micro-response-761437289 div.toolbar-main
{
	position: absolute;
	right: 64px;
	top: 16px;
}

.micro-response-761437289 div.toolbar-bottom
{
	display: flex;
	justify-content: flex-end;
	padding: 0 64px;
}

.micro-response-761437289 div.toolbar-main .button-group-container-left
{
	float: none;
	margin: 0;
}

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button,
.micro-response-761437289 ._Skins_okta_toolbar_no_expand.mc-component .button
{
	margin: 0;
}

/* New toolbar expand icon */

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.expand-all-button
{
	background: url('../../content/resources/images/okta-assets/nav-expand.svg') no-repeat center center;
	margin-right: 32px;
}

/* New toolbar collapse icon */

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.collapse-all-button
{
	background: url('../../content/resources/images/okta-assets/nav-collapse.svg') no-repeat center center;
	margin-right: 32px;
}

/* New toolbar prev icon */

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.previous-topic-button,
.micro-response-761437289 ._Skins_okta_toolbar_no_expand.mc-component .button.previous-topic-button
{
	border: none;
	background: url('../../content/resources/images/okta-assets/nav-prev.svg') no-repeat center center;
	margin-right: 10px;
}

/* New toolbar next icon */

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.next-topic-button,
.micro-response-761437289 ._Skins_okta_toolbar_no_expand.mc-component .button.next-topic-button
{
	border: none;
	background: url('../../content/resources/images/okta-assets/nav-next.svg') no-repeat center center;
	margin: 0;
}

/*** TODO: check ***/

.micro-response-761437289 .MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage
{
	background: none;
}

.micro-response-761437289 .MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage img,
.micro-response-761437289 .MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage img
{
	display: none;
}

.micro-response-761437289 .MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage
{
	background: none;
}

.micro-response-761437289 .MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage:before,
.micro-response-761437289 .MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage:before
{
	content: '';
	display: inline-block;
	border: 5px solid transparent;
	border-left: 9px solid #6E6E78;
	margin-right: 5px;
	transform-origin: 5px 6px;
	transition: transform .1s;
}

.micro-response-761437289 .MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage:before
{
	border-left: 9px solid #1662DD;
	transform: rotate(90deg);
}

.micro-response-761437289 .external-link-icon
{
	margin: 0 8px 6px 8px;
}

/*** Override: Tabs styles ***/

.micro-response-761437289 .tabs
{
	border: 1px solid #C1C1C8;
	border-style: none none solid none;
	padding: 0;
	margin: 12px 0 32px;
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
}

/*** Hide tabs scrollbar ***/

.micro-response-761437289 .tabs::-webkit-scrollbar
{
	display: none;
}

.micro-response-761437289 ul.tabs li
{
	margin: 0;
}

.micro-response-761437289 .tabs-title a
{
	font-size: 16px;
	line-height: 1.4;
	color: #1D1D21;
	padding: 15px 24px;
	border-bottom: 3px solid transparent;
	white-space: nowrap;
}

.micro-response-761437289 .tabs-title > a:hover
{
	background: white;
	color: #1D1D21;
}

.micro-response-761437289 .tabs-title > a[aria-selected=true]
{
	background: white;
	color: #1D1D21;
	border-color: #1662DD;
}

.micro-response-761437289 .tabs-title > a:focus
{
	background: white;
	color: #1D1D21;
}

.micro-response-761437289 .tabs-content
{
	border: none;
}

/* override foundation setting--too much padding */

.micro-response-761437289 .tabs-panel
{
	padding: 0rem;
}

.micro-response-761437289 .tabs-panel.is-active
{
	display: block;
	outline: none;
}

/*new standard per SRB 9/2019*/

.micro-response-761437289 img.new,
.micro-response-761437289 #img_new
{
	max-width: 100%;
	border: 1px solid #C2C3C3;
	-moz-box-shadow: 3px 3px 7px #C2C3C3;
	-webkit-box-shadow: 3px 3px 7px #C2C3C3;
	box-shadow: 3px 3px 7px #C2C3C3;
}

.micro-response-761437289 p.copyright
{
	font-size: 14px;
	line-height: 1.2;
	color: #909090;
}

.micro-response-761437289 p.earlyaccess
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #f1d10d;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

.micro-response-761437289 p.beta
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

.micro-response-761437289 p.update
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

.micro-response-761437289 div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.micro-response-761437289 div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

.micro-response-761437289 html.templateTopic div.sideContent
{
	display: none;
}

.micro-response-761437289 div.toolbar-main
{
	position: absolute;
	top: 18px;
	right: 48px;
	z-index: 1;
}

/* override language drop-down styling--may need more to override element style for drop-down div*/

.micro-response-761437289 .toolbar-button-drop-down
{
	top: 28px !important;
	left: -100px !important;
	z-index: 1;
}

.micro-response-761437289 .toolbar-button-drop-down > ul
{
	list-style: none;
	margin-bottom: -8px !important;
	padding: 4px;
	width: 200px;
}

.micro-response-761437289 .toolbar-button-drop-down > ul > li
{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/* end overrides */

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button,
.micro-response-761437289 ._Skins_okta_toolbar_no_expand.mc-component .button
{
	margin: 0;
}

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.expand-all-button
{
	background: url('../../content/resources/images/okta-assets/nav-expand.svg') no-repeat center center;
	margin-right: 15px;
}

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.collapse-all-button
{
	background: url('../../content/resources/images/okta-assets/nav-collapse.svg') no-repeat center center;
	margin-right: 15px;
}

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.previous-topic-button,
.micro-response-761437289 ._Skins_okta_toolbar_no_expand.mc-component .button.previous-topic-button
{
	border: none;
	background: url('../../content/resources/images/okta-assets/nav-prev.svg') no-repeat center center;
	margin-right: 16px;
}

.micro-response-761437289 div.toolbar-main ._Skins_okta_toolbar_nav_poc.mc-component .button.next-topic-button,
.micro-response-761437289 ._Skins_okta_toolbar_no_expand.mc-component .button.next-topic-button
{
	border: none;
	background: url('../../content/resources/images/okta-assets/nav-next.svg') no-repeat center center;
	margin: 0;
}

/* div.body-main
{
	padding: 64px 48px 16px;
	position: relative;
} */

.micro-response-761437289 div.toolbar-bottom
{
	display: flex;
	justify-content: flex-end;
	padding: 0 48px;
}

.micro-response-761437289 div.toolbar-row
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

.micro-response-761437289 div.toolbar-row::before
{
	content: ' ';
	display: table;
}

.micro-response-761437289 div.toolbar-row::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response-761437289 div.toolbar-row > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	padding: 1% 1%;
	/* padding-left: 15px;
	padding-right: 15px; */
}

.micro-response-761437289 div.toolbar-row > div:nth-child(1)
{
	margin-left: 0%;
	width: 20%;
	background-color: #007dc1;
}

.micro-response-761437289 div.toolbar-row > div:nth-child(2)
{
	margin-left: 0%;
	width: 62%;
}

.micro-response-761437289 div.toolbar-row > div:nth-child(3)
{
	margin-left: 0%;
	width: 18%;
}

/* deprecated: notes need to be replaced in topics manually with new note styles below*/

.micro-response-761437289 div.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f9f9f9;
	/* 	background-image: url(../Images/icons/Pencil-48.png);
 */
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #eaeaea;
	border-radius: 6px;
	line-height: 1.5em;
	overflow: hidden;
	padding: 15px 20px;
}

.micro-response-761437289 div.noteWhite
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #ffffff;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #eaeaea;
	border-radius: 6px;
	line-height: 1.5em;
	overflow: hidden;
	padding: 15px 20px;
}

.micro-response-761437289 div.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #ffffff;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #eaeaea;
	border-radius: 6px;
	line-height: 1.5em;
	overflow: hidden;
	padding: 15px 20px;
}

.micro-response-761437289 div.note_new
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	/* 	border: solid 2px #eaeaea;
 */
	border-left: solid 3px #E5E5E5;
	/* 	border-left-width: 8px;
 */
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

.micro-response-761437289 div.noteBlueflag
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

/* New note/etc. styles per UX consult - SRB work 9/2919 */

.micro-response-761437289 div.noteOkta
{
	padding-bottom: 9px;
	margin-top: 10px;
	/* test style was 8px*/
	margin-bottom: 20px;
	/* test style */
	background-color: #F0F0FC;
	padding-top: 2px;
	background-repeat: no-repeat;
	background-position: 15px 12px;
	/* 	padding: .25rem 1rem 0 2.5rem;
 */
	background-image: url('../../content/resources/images/assets/icons/notes/help.svg');
}

.micro-response-761437289 div.note_cautionOkta
{
	padding-bottom: 9px;
	margin-top: 10px;
	/* test style - was 8px */
	margin-bottom: 20px;
	/* test style */
	background-color: #F0F0FC;
	padding-top: 2px;
	background-image: url('../../content/resources/images/assets/icons/notes/alert.svg');
	background-repeat: no-repeat;
	background-position: 15px 12px;
}

.micro-response-761437289 div.note_tipOkta
{
	padding-bottom: 9px;
	margin-top: 10px;
	/* test style - was 8px */
	margin-bottom: 20px;
	/* test style */
	background-color: #F0F0FC;
	padding-top: 2px;
	background-image: url('../../content/resources/images/assets/icons/notes/icon-lightbulb.png');
	background-repeat: no-repeat;
	background-position: 12px 6px;
}

.micro-response-761437289 div.noteOkta ul,
.micro-response-761437289 div.note_cautionOkta ul,
.micro-response-761437289 div.note_tipOkta ul
{
	margin-left: 25px;
	margin-top: 8px;
}

.micro-response-761437289 div.noteOkta ol,
.micro-response-761437289 div.note_cautionOkta ol div.note_tipOkta ol
{
	margin-left: 25px;
	margin-top: 8px;
}

.micro-response-761437289 p.noteHeading
{
	display: none;
}

.micro-response-761437289 p.noteContent
{
	margin: 0px 20px;
	margin-top: 8px;
	margin-right: 12px;
	padding-left: 25px;
}

.micro-response-761437289 img.noteImgFloat
{
	display: none;
	/* 	float: left !important;
	padding-top: 12px;
	padding-left: 14px;
	padding-right: 14px;
	clear: both; */
}

.micro-response-761437289 div.noteOkta > ul li:first-child,
.micro-response-761437289 div.note_cautionOkta > ul li:first-child
{
	margin-top: 6px;
}

.micro-response-761437289 .footer--top-line
{
	font-size: 13px;
	line-height: 18px;
	font-family: 'Proxima Nova Semibold';
	color: #2f3f4a;
	font-weight: 400;
	margin-top: 20px;
}

.micro-response-761437289 .footer--bottom-line
{
	font-size: 16px;
	line-height: 31px;
	color: #2f3f4a;
	font-family: 'Proxima Nova Semibold';
	font-weight: 600;
}

.micro-response-761437289 .open-case-button
{
	box-sizing: border-box;
}

.micro-response-761437289 .open-case-button > a
{
	font-family: 'Proxima Nova Semibold';
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
	background: #1662dd;
	border-radius: 3px;
	display: block;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
	margin-top: 12px;
	width: max-content;
}

.micro-response-761437289 .open-case-button > a:link,
.micro-response-761437289 .open-case-button > a:visited,
.micro-response-761437289 .open-case-button > a:hover,
.micro-response-761437289 .open-case-button > a:active,
.micro-response-761437289 .open-case-button > a:focus
{
	color: #ffffff;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*=========================================================================*/
/* === Madcap styles === */

.micro-response-761437289 MadCap|bodyProxy
{
	margin-bottom: 25px;
	clear: left;
}

.micro-response-761437289 MadCap|breadcrumbsProxy
{
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	mc-breadcrumbs-divider: '  >  ';
	color: #404040;
	font-size: 80%;
	border-bottom-color: transparent;
	line-height: 1.6rem;
	mc-breadcrumbs-prefix: '';
	padding-left: 6px;
}

.micro-response-761437289 MadCap|dropDown
{
	mc-closed-image: url('../../content/resources/images/okta-assets/dropdownclosed.png');
	mc-open-image: url('../../content/resources/images/okta-assets/dropdownopen.png');
	mc-image-spacing: 2%;
}

.micro-response-761437289 MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../../content/resources/images/okta-assets/dropdownclosedsecondlevel.png');
	mc-open-image: url('../../content/resources/images/okta-assets/dropdownopensecondlevel.png');
}

.micro-response-761437289 MadCap|expanding
{
	mc-closed-image: url('../../content/resources/images/okta-assets/dropdownclosed.png');
	mc-open-image: url('../../content/resources/images/okta-assets/dropdownopen.png');
}

.micro-response-761437289 MadCap|popupBody
{
	background-color: #007dc1;
	padding: 10px;
	font-size: 95%;
	line-height: 1.3em;
	color: #ffffff;
}

.micro-response-761437289 MadCap|xref
{
	mc-format: '{para}';
	color: #007dc1;
	text-decoration: none;
}

.micro-response-761437289 MadCap|xref:hover
{
	color: #46b3e9;
}

/*=======================================================================*/
/* === Back-to-top floating button === */

.micro-response-761437289 .sf-back-to-top
{
	background-color: #007dc1;
	/* button color */
	color: white;
	/* text/arrow color */
	display: none;
	z-index: 999;
	/* float in bottom right corner */
	/* 20 pixels from edge */
	position: fixed;
	right: 2em;
	bottom: 80px;
	/* size of button is 50 pixels*/
	width: 50px;
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* round button */
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.micro-response-761437289 .sf-back-to-top:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

.micro-response-761437289 a.sf-back-to-top
{
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.6;
	padding-left: 2px;
	padding-top: 4px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

.micro-response-761437289 a.sf-back-to-top .arrow:before
{
	font-size: 18px;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	display: block;
	vertical-align: middle;
	cursor: pointer;
	margin-left: -5px;
	font-weight: bold;
	content: '^';
}

/*==============================================================================*/
/* === Tiles section === */

.micro-response-761437289 .topics
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

.micro-response-761437289 .topics > div
{
	margin: 0 12px;
	width: calc(100% / 3 - 25px);
}

.micro-response-761437289 div.tiles	/* Tiles */
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}

.micro-response-761437289 div.tiles > a,
.micro-response-761437289 div.tiles > div
{
	display: block;
	padding: 25px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	background: #F5F5F6;
	border-radius: 0px 32px;
	min-height: 166px;
	margin: 12px;
	width: calc(90% / 3 - 30px);
	color: #00297A;
}

.micro-response-761437289 div.tiles > a:hover,
.micro-response-761437289 div.tiles > div:hover
{
	color: white;
	background: #00297A;
	box-shadow: 0px 8px 24px rgba(65, 65, 75, 0.3);
	cursor: pointer;
}

.micro-response-761437289 div.tiles > a:hover a,
.micro-response-761437289 div.tiles > a:hover p,
.micro-response-761437289 div.tiles > a:hover h3,
.micro-response-761437289 div.tiles > div:hover a,
.micro-response-761437289 div.tiles > div:hover p,
.micro-response-761437289 div.tiles > div:hover h3
{
	color: white;
}

/* Elements for text contained within each tile */

.micro-response-761437289 .tile-title
{
	font-size: 22px;
	line-height: 1.35;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 16px;
	color: #00297A;
}

.micro-response-761437289 .tile-title-smaller
{
	text-align: left;
	padding-left: 8px;
	color: #2b2c2d;
	font-family: Arial;
	font-size: 1.2em;
}

.micro-response-761437289 .tile-subtitle
{
	min-height: 44px;
	color: #212126;
	margin-bottom: 48px;
	/* 	font-weight: unset;
 */
}

.micro-response-761437289 .tile-content
{
	color: #2b2c2d;
	padding-left: 8px;
	font-size: 0.8em;
	text-align: left;
}

.micro-response-761437289 div.tiles .tile-title a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	color: #00297A;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.micro-response-761437289 .is-open-right .js-off-canvas-exit
{
	right: 0;
	height: 70px;
	background: none;
	box-shadow: none;
	border-bottom: 1px solid #D7D7DC;
}

.micro-response-761437289 .off-canvas-wrapper-inner.is-open-right
{
	right: 0;
}

.micro-response-761437289 .position-right.is-open
{
	left: 0;
	top: 70px;
	width: 100%;
	transition: width 0s, top .3s;
}

.micro-response-761437289 ul.off-canvas-list li a
{
	font-size: 16px;
	color: #212126;
	padding: 24px 32px;
	font-family: 'ABCWhyte', sans-serif;
	line-height: 1.4;
	border-bottom: 1px solid #D7D7DC;
	background-color: #fff;
	/* 	font-weight: unset;
 */
	width: 100%;
	position: relative;
}

.micro-response-761437289 ul.off-canvas-list li.js-drilldown-back > a
{
	padding-left: 46px;
}

.micro-response-761437289 ul.off-canvas-list li a:hover,
.micro-response-761437289 ul.off-canvas-list li.js-drilldown-back > a:hover,
.micro-response-761437289 ul.off-canvas-list ul > li > a:hover,
.micro-response-761437289 ul.off-canvas-list ul ul > li > a:hover
{
	/* 	font-weight: unset;
 */
	background-color: #fff;
	color: #212126;
}

.micro-response-761437289 .off-canvas
{
	transition: top .3s;
}

.micro-response-761437289 .off-canvas.position-right ul ul .tree-node.tree-node-leaf
{
	margin-left: 16px;
	border-left: 14px solid #EBEBED;
}

.micro-response-761437289 .is-drilldown-submenu-parent > a::before,
.micro-response-761437289 .js-drilldown-back > a::before
{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 5em;
	height: 4em;
}

.micro-response-761437289 .is-drilldown-submenu-parent > a::after,
.micro-response-761437289 .js-drilldown-back > a::after
{
	content: '';
	position: absolute;
	top: 50%;
	right: 32px;
	width: 9px;
	height: 9px;
	border: 1px #41414B;
	transform: translate(0, -50%) rotate(-45deg);
	border-style: none solid solid none;
	transition: transform .2s;
}

.micro-response-761437289 .js-drilldown-back > a::after
{
	transform: translate(0, -50%) rotate(135deg);
	right: auto;
	left: 16px;
}

.micro-response-761437289 .title-bar .menu-icon span
{
	width: 32px;
	height: 32px;
}

.micro-response-761437289 button.search-btn
{
	margin-left: auto;
	width: 32px;
	min-width: 32px;
	height: 32px;
	background-image: url('../../content/resources/images/okta-assets/search-icon.svg');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.micro-response-761437289 button.search-btn-mobile
{
	margin-left: 0;
	position: absolute;
	top: 50%;
	left: auto;
	right: 64px;
	transform: translateY(-50%);
}

.micro-response-761437289 h4
{
	font-size: 18px;
	margin: 26px 0px 20px;
}

.micro-response-761437289 h2.relnotes
{
	font-size: 24px;
}

.micro-response-761437289 h6
{
	font-size: 16.5px;
	font-weight: 500;
	margin: 18px 0px 16px;
}

.micro-response-761437289 h1
{
	margin: 0 0 23px;
}

.micro-response-761437289 h2
{
	margin-bottom: 20px;
	margin-top: 23px;
}

.micro-response-761437289 h5
{
	font-size: 16.8px;
	margin: 20px 0px 0px;
	margin-bottom: 22px;
}

.micro-response-761437289 dt
{
	padding-top: 0.75em;
}

.micro-response-761437289 dd
{
	padding-top: 0.5em;
	margin-left: 24px;
}

/* Target IE11 and set font-weight to 400 */

/* @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
	body,
	h3.relnotes-reg,
	ul.sidenav li a,
	ul.sidenav li a.selected,
	.coveo-headline-wrapper .CoveoSearchButton:before,
	.dropdown .dropbtn,
	.dropdown a,
	div.breadcrumbs .MCBreadcrumbsLink,
	ul.off-canvas-list li a,
	ul.menu li > a.selected,
	ul.off-canvas-list li a:hover,
	ul.off-canvas-list li.js-drilldown-back > a:hover,
	ul.off-canvas-list ul > li > a:hover,
	ul.off-canvas-list ul ul > li > a:hover,
  .tile-subtitle
	{
		font-weight: 400;
	}
} */

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1200px)
{
	.micro-response-761437289 .coveo-headline-wrapper #standaloneSearchbox
	{
		width: calc(100% - 250px);
		min-width: auto;
	}

	.micro-response-761437289 div.tiles > a,
	.micro-response-761437289 div.tiles > div
	{
		width: calc(100% / 2 - 24px);
	}
}

@media only screen and (max-width: 1024px)
{
	.micro-response-761437289 .main-section,
	.micro-response-761437289 .main-section.hide-search
	{
		padding-top: 0;
	}

	.micro-response-761437289 div.title-bar-container
	{
		width: 100%;
		display: inline-flex;
	}

	.micro-response-761437289 nav.title-bar
	{
		padding-top: 15px;
		padding-bottom: 14px;
		border-bottom: 1px solid #D7D7DC;
	}

	.micro-response-761437289 .title-bar .menu-icon span
	{
		background-image: url('../../content/resources/images/okta-assets/hamburger-icon.svg');
	}

	.micro-response-761437289 .title-bar .menu-icon[aria-expanded="true"] span
	{
		background-image: url('../../content/resources/images/okta-assets/cross-icon.svg');
	}

	.micro-response-761437289 .title-bar-layout a.logo
	{
		width: 190px;
		height: 26px;
		background: transparent url('../../content/resources/images/okta-assets/logo.png') no-repeat center center;
		background-size: contain;
	}

	/*** Hide desktop navbar ***/

	.micro-response-761437289 div.navbar
	{
		display: none;
	}

	/*** Hide desktop logo container ***/

	.micro-response-761437289 .logo_container
	{
		display: none;
	}

	/*** Update search-box position ***/

	.micro-response-761437289 .coveo-headline-wrapper
	{
		position: relative;
		margin-top: 0;
	}

	/*** Body-main padding update ***/

	.micro-response-761437289 div.body-main
	{
		padding: 0 32px 16px;
	}

	/*** Breadcrumbs padding update ***/

	.micro-response-761437289 div.breadcrumbs
	{
		padding: 16px 160px 20px 32px;
	}

	/*** Toolbar position update ***/

	.micro-response-761437289 .main-section.hide-search .toolbar-main
	{
		top: 16px;
	}

	.micro-response-761437289 div.toolbar-main
	{
		top: 88px;
		right: 32px;
	}

	.micro-response-761437289 div.toolbar-bottom
	{
		padding: 0 32px;
	}

	/*** Footer padding update ***/

	.micro-response-761437289 .footer,
	.micro-response-761437289 .footer2
	{
		padding: 0 32px;
	}

	/*** Override: Mobile menu-icon styles ***/

	.micro-response-761437289 nav.title-bar .menu-icon
	{
		right: 0;
	}

	.micro-response-761437289 ul.menu li > a.selected
	{
		font-weight: 300;
		background-color: transparent !important;
	}
}

@media only screen and (max-width: 767px)
{
	.micro-response-761437289 h1
	{
		font-size: 28px;
		line-height: 1.25;
	}

	/*** Body-main padding update ***/

	.micro-response-761437289 div.body-main
	{
		padding: 0 16px 16px;
	}

	.micro-response-761437289 .footer,
	.micro-response-761437289 .footer2
	{
		padding: 0 16px;
	}

	/*** Tiles(cards) width update ***/

	.micro-response-761437289 div.tiles > a,
	.micro-response-761437289 div.tiles > div
	{
		width: 100%;
	}

	/*** Featured topics width update ***/

	.micro-response-761437289 .topics > div
	{
		width: 100%;
	}

	/*** Featured topics width update ***/

	.micro-response-761437289 div.toolbar-main
	{
		right: 16px;
	}

	.micro-response-761437289 .coveo-headline-wrapper #standaloneSearchbox
	{
		width: 100%;
	}

	.micro-response-761437289 .coveo-custom-select
	{
		width: 120px;
	}

	/*** Mobile header padding update ***/

	.micro-response-761437289 nav.title-bar
	{
		padding-top: 12px;
		padding-bottom: 11px;
	}

	/*** Mobile logo size update ***/

	.micro-response-761437289 .title-bar-layout a.logo
	{
		width: 147px;
		height: 20px;
	}

	/*** Mobile navbar position update ***/

	.micro-response-761437289 .position-right.is-open
	{
		top: 64px;
	}

	.micro-response-761437289 .is-open-right .js-off-canvas-exit
	{
		height: 64px;
	}

	.micro-response-761437289 ul.off-canvas-list
	{
		margin-bottom: 4em;
	}

	.micro-response-761437289 .menu-icon-container button.sear\000441h-btn
	{
		right: 56px;
	}

	.micro-response-761437289 button.search-btn-mobile
	{
		right: 56px;
	}

	/*** Breadcrumbs padding update ***/

	.micro-response-761437289 div.breadcrumbs
	{
		padding: 16px 144px 20px 16px;
	}

	/*** Breadcrumbs visibility update(show only last link) ***/

	.micro-response-761437289 div.breadcrumbs .MCBreadcrumbsLink
	{
		max-width: calc(100% - 34px);
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.micro-response-761437289 div.breadcrumbs .MCBreadcrumbsLink:not(:nth-last-child(3))
	{
		display: none;
	}

	.micro-response-761437289 div.breadcrumbs .MCBreadcrumbsSelf:not(:nth-last-child(3))
	{
		display: none;
	}

	.micro-response-761437289 div.breadcrumbs .MCBreadcrumbsDivider:not(:nth-last-child(4))
	{
		display: none;
	}
}

.micro-response-761437289 MadCap|glossaryTerm
{
	mc-closed-image: none;
	mc-open-image: none;
	mc-image-position: none;
}

.micro-response-761437289 MadCap|toggler
{
	mc-closed-image: url('../../content/resources/images/okta-assets/dropdownclosed.png');
	mc-open-image: url('../../content/resources/images/okta-assets/dropdownopen.png');
}

@media only screen and (max-width: 480px)
{
	.micro-response-761437289 ul.off-canvas-list
	{
		margin-bottom: 4em;
	}

	.micro-response-761437289 a.sf-back-to-top
	{
		line-height: 1.2;
		height: 45px;
		width: 45px;
	}

	.micro-response-761437289 img.MCDropDown_Image_Icon	/*To control box sizing for mobile output*/
	{
		box-sizing: border-box;
		max-height: 1.5ex;
		max-width: 2ex;
	}

	.micro-response-761437289 MadCap|glossaryTerm
	{
		background: #992f00;
	}

	.micro-response-761437289 MadCap|topicToolbarProxy
	{
		clear: both;
	}
}

/* ====================================================================== */
/* ==== For Release Notes Only ========================================== */
/* ====================================================================== */

.micro-response-761437289 MadCap|dropDownHead.relnotes	/*For use in RelNote topics only*/
{
	font-size: 1.25rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ================================================================ */
/* ===== For Release Notes MiniTOC ================================ */
/* ================================================================ */

.micro-response-761437289 div.page-toc
{
	border-left: solid 8px #D7D7DC;
	padding-left: 24px;
	margin-bottom: 48px;
	margin-top: 48px;
}

.micro-response-761437289 p.box-heading
{
	font-size: 20px;
	line-height: 1.3;
	font-weight: 400;
	margin: 0 0 24px;
	color: #414141;
}

.micro-response-761437289 ul.minitoc
{
	margin: 0;
	padding-left: 24px;
	background-color: transparent;
	list-style-type: none;
}

.micro-response-761437289 ul.minitoc a
{
	font-family: 'ABCWhyte', sans-serif;
	color: #1662DD;
	text-decoration: none;
	font-weight: 600;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ================================================================== */
/* ====================== For Terminal Display ====================== */
/* ================================================================== */

.micro-response-761437289 .terminal
{
	margin-bottom: 1em;
	max-width: 150em;
}

.micro-response-761437289 .terminal .terminal-toolbar
{
	background: linear-gradient(to bottom, #e5e5e5 0%, #cfcfcf 100%);
	border-radius: 5px 5px 0 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	height: 21px;
	padding-left: 4px;
	width: 100%;
}

.micro-response-761437289 .terminal .terminal-toolbar .terminal-circle
{
	float: left;
	width: 14px;
	height: 14px;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 14px;
	margin: 4px 4px;
}

.micro-response-761437289 .terminal .terminal-toolbar .terminal-circle.red
{
	background-color: #fc605c;
	border-color: #df423f;
}

.micro-response-761437289 .terminal .terminal-toolbar .terminal-circle.yellow
{
	background-color: #fdbc40;
	border-color: #de9f34;
}

.micro-response-761437289 .terminal .terminal-toolbar .terminal-circle.green
{
	background-color: #34c749;
	border-color: #20a92f;
}

.micro-response-761437289 .terminal .terminal-content
{
	background-color: black;
	color: #f7f7f9;
	font-family: Consolas, Menlo, Monaco, Courier New, monospace;
	font-size: 14px;
	line-height: 1.25;
	padding: 8px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.micro-response-761437289 .terminal.terminal-home
{
	margin-bottom: 0em;
}

.micro-response-761437289 .terminal.terminal-home .terminal-content
{
	font-size: 16px;
	min-height: 8em;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*== ============================================================================= */

.micro-response-761437289 .ea-item	/*format for ea items (blocks or inline)*/
{
	background: #fafafa;
	border-left: solid 2px #f1d10d;
	padding-left: 1rem;
}

/* =============================================================================================== */
/* ======================== Top Nav menu customizations  DO NOT TOUCH ============================ */
/* =============================================================================================== */

.micro-response-761437289 ul.navigation > li > a
{
	border: 1px solid transparent;
}

.micro-response-761437289 ul.navigation > li > a:hover,
.micro-response-761437289 ul.navigation > li > a:focus
{
	border-bottom: 1px solid #000 !important;
	padding-bottom: 15px !important;
	color: #2f3f4a;
}

.micro-response-761437289 ul.navigation > li > a:after
{
	content: url('../../content/resources/images/okta-assets/caret-down.png');
	padding-left: 12px;
}

.micro-response-761437289 ul.navigation > li[data-mc-id="1"] > a::after
{
	content: none;
}

.micro-response-761437289 ul.navigation > li[data-mc-id="4"] > a::after,
.micro-response-761437289 ul.sub-menu > li[data-mc-id="7"] > a::after
{
	content: url('../../content/resources/images/okta-assets/external-link-icon.svg');
	padding-left: 6px;
	position: relative;
	top: 4px;
}

.micro-response-761437289 ul.navigation > li.has-children > after
{
	margin-bottom: 12px;
}

.micro-response-761437289 ul.navigation li:hover > ul
{
	margin-top: 12px;
}

.micro-response-761437289 ul.navigation > li.has-children:after
{
	margin-bottom: -12px;
	z-index: 1000;
}

.micro-response-761437289 ul.sub-menu > li.has-children > a::after,
.micro-response-761437289 ul.sub-menu > li.tree-node-leaf > a::after
{
	content: none;
}

.micro-response-761437289 ul.navigation ul
{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.15) !important;
}

.micro-response-761437289 ul._Skins_okta_left_menu > li.has-children[data-mc-id="1"]
{
	padding-top: 1.5rem;
}

.micro-response-761437289 div.nav-search-wrapper
{
	display: none;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.micro-response-761437289 hr.hr-grey
{
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border: solid 1px #E6E6E8;
	border-color: #E6E6E8;
	border-bottom-color: #E6E6E8;
	border-left-color: #E6E6E8;
	border-right-color: #E6E6E8;
}

.micro-response-761437289 span.disableGlossary
{
	mc-disable-glossary-terms: true;
}

.micro-response-761437289 MadCap|toggler.grayArrow
{
	mc-closed-image: url('../../content/resources/images/assets/icons/arrows/arrow-right-gray.png');
	mc-open-image: url('../../content/resources/images/assets/icons/arrows/arrow-down-gray.png');
	color: #000000;
}

.micro-response-761437289 img.thumbnail,
.micro-response-761437289 #thumbnail
{
	mc-thumbnail: popup;
	mc-thumbnail-max-width: 220px;
	mc-thumbnail-max-height: 220px;
	border: 1px solid #C2C3C3;
	-moz-box-shadow: 3px 3px 7px #C2C3C3;
	-webkit-box-shadow: 3px 3px 7px #C2C3C3;
	box-shadow: 3px 3px 7px #C2C3C3;
}

.micro-response-761437289 ul.navigation li.TOCSeparator
{
	margin-top: -14px;
	margin-bottom: -4px;
}

.micro-response-761437289 span.wintitle
{
	font-weight: bold;
}

.micro-response-761437289 span.userinput
{
	font-family: monospace;
}

.micro-response-761437289 span.term
{
	font-style: italic;
}

.micro-response-761437289 span.msgblock
{
	font-family: monospace;
}

.micro-response-761437289 span.varname
{
	font-family: monospace;
}

.micro-response-761437289 span.filepath
{
	font-family: monospace;
}

.micro-response-761437289 span.url
{
	font-family: monospace;
}

.micro-response-761437289 html.hybrid
{
	
}

.micro-response-761437289 span.codeblock
{
	display: block;
	unicode-bidi: embed;
	font-family: monospace;
	background-color: #ededed;
	white-space: pre;
	border-radius: 4px;
}

.micro-response-761437289 p.deprecation
{
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
	background-color: #fafafa;
	border-left-color: #76b5c5;
	padding-left: 10px;
	border-bottom-color: #eaeaea;
	border-top-color: #eaeaea;
	border-right-color: #76b5c5;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-style: solid;
}

