/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
	font-family: 'Proxima Nova Light';
	color: #1f93d0;
}

a.MCBreadcrumbsLink:visited
{
	color: #895eb7;
}

a.MCBreadcrumbsLink:hover
{
	color: #78a900;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Proxima Nova';
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
}

h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-family: 'Proxima Nova';
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova';
}

h4
{
	font-family: 'Proxima Nova';
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
	font-family: 'Proxima Nova Light';
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	font-family: 'Proxima Nova';
	color: #1f93d0;
}

MadCap|xref:hover
{
	color: #78a900;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Proxima Nova Light';
}

p.Copyright
{
	font-size: 0.8em;
	text-align: left;
	color: #888888;
	line-height: 1.6em;
	margin: 0 0 0 0;
}

p.earlyaccess
{
	background-color: #fcc;
	text-align: center;
	padding-bottom: 5px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	font-family: 'Proxima Nova Light';
}

html.templateTopic div.sideContent
{
	display: none;
}

a:visited
{
	font-family: 'Proxima Nova Light';
	color: #895eb7;
}

a:hover
{
	font-family: 'Proxima Nova Light';
	color: #78a900;
}

ul.menu li a:hover:not(.active)
{
	background-color: #ddd;
}

html.templateTopic
{
	font-family: 'Proxima Nova';
}

/* Footer */

div.footer
{
	font-size: small;
	text-align: left;
	text-indent: 10px;
	vertical-align: bottom;
	height: auto;
	overflow: hidden;
	position: static;
	padding-bottom: 0px;
	padding-top: 0px;
	bottom: -20px;
	background-color: #ededed;
}

MadCap|bodyProxy
{
	margin-bottom: 25px;
}


img
{
	
}

MadCap|menuProxy.relnote-class
{
	mc-context-sensitive: True;
	mc-include-parent: True;
	mc-include-siblings: True;
	mc-include-children: True;
}

/* Tabs */

body
{
	margin: 0;
}

ul.menu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
	background-color: white;
	height: auto;
}

ul.menu li
{
	float: left;
}

ul.menu li a
{
	display: block;
	color: #888888;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.menu li a.active
{
	background-color: #007DC1;
	color: white;
}

ul.menu li.right
{
	float: right;
}

@media screen and (max-width: 600px)
{
	ul.menu li.right,
	ul.menu li
	{
		float: none;
	}
}