/*<meta fileTags="Tags/okta-authors.Helena Jerney" conditions="" />*/

/* Global Okta help css -- contains classes and elements used on any and all topics.  */

@import url('okta-fonts.css');

@import url('foundation-icons/foundation-icons.css');

@import url('foundation.min.css');

@import url('../Scripts/coveo-resources/vendor/salesforce-ux/assets/styles/salesforce-lightning-design-system.css');

@import url('../Scripts/coveo-resources/css/Coveo.Okta.StandaloneSearchbox.min.css');

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

.micro-response :root
{
	font-size: 16px;
}

.micro-response nav.tab-bar
{
	border-bottom: solid 3px #EAEAEA;
}

.micro-response
{
	color: #404040;
	font-family: 'Proxima Nova Light';
	background-attachment: scroll;
	background-origin: padding-box;
	background-size: auto;
	background: #ffffff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	line-height: 1.5em;
}

.micro-response a.Popup
{
	
}

.micro-response a:link
{
	color: #007dc1;
	text-decoration: none;
}

.micro-response a:visited
{
	font-family: 'Proxima Nova Light';
	color: #895eb7;
	text-decoration: none;
}

.micro-response .tabs-title > a:focus
{
	color: #5e5e5e;
	border-bottom: solid 6px #4CBF9C;
}

.micro-response a:hover
{
	color: #46b3e9;
}

.micro-response div.tiles a:hover	/*Complex Selector: When hovering over links within the tiles the following properties will apply.*/
{
	color: #3f4652;
}

.micro-response .tabs-title > a:hover
{
	color: #5e5e5e;
}

.micro-response div.tiles a:hover	/*Complex Selector: When hovering over links within the home tiles the following properties will apply.*/
{
	color: #f59405;
}

/* === In-topic tabs (see relnotes) ========================================================== */

.micro-response .tabs
{
	border: none;
	padding-left: 1em;
}

.micro-response .tabs-title > a
{
	color: #a7a7a7;
	font-size: 1em;
	padding-bottom: 1rem;
}

.micro-response .tabs-title > a[aria-selected=true]
{
	color: #5e5e5e;
	border-bottom: solid 6px #4CBF9C;
	background-color: #ffffff;
}

.micro-response .tabs-content
{
	border: none;
}

/* ================================================ */

.micro-response a.MCBreadcrumbsLink
{
	text-decoration: none;
	font-family: 'Proxima Nova Light';
	color: #404040;
}

.micro-response a.MCBreadcrumbsLink:visited
{
	color: #404040;
}

.micro-response a.MCBreadcrumbsLink:hover
{
	color: #007dc1;
}

.micro-response b
{
	font-weight: 900;
}

.micro-response img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

.micro-response img.new
{
	max-width: 100%;
	vertical-align: text-top;
}

.micro-response p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Proxima Nova Light';
	color: #404040;
}

.micro-response p.copyright
{
	font-size: 75%;
	color: #ffffff;
}

.micro-response p.earlyaccess
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #f1d10d;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

.micro-response p.beta
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

.micro-response p.update
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

.micro-response li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: 'Proxima Nova Light';
}

.micro-response h1
{
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
	font-size: 2rem;
	clear: left;
}

.micro-response h2
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-family: 'Proxima Nova';
	font-size: 1.6em;
}

.micro-response h3
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova';
	font-size: 1.2em;
}

.micro-response h4
{
	font-family: 'Proxima Nova';
	font-size: 1em;
}

.micro-response MadCap|popupHead
{
	color: #007dc1;
}

/* === divs === */

.micro-response div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Proxima Nova';
}

.micro-response div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	font-family: 'Proxima Nova Light';
}

.micro-response html.templateTopic div.sideContent
{
	display: none;
}

.micro-response div.toolbar-main
{
	float: right;
	clear: none;
}

.micro-response div.body-main
{
	padding-top: 2rem;
	padding-bottom: 3%;
}

/* =============================================================================== */
/* === Responsive Grid ============================================================*/
/* =============================================================================== */

.micro-response div.okta-topics	/*Main Row*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.micro-response div.okta-topics::before
{
	content: ' ';
	display: table;
}

.micro-response div.okta-topics::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response div.okta-topics > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	padding-top: 3rem;
	padding-left: 15px;
	padding-right: 15px;
}

.micro-response div.okta-topics > div:nth-child(1)
{
	width: 20%;
	background: #007dc1;
}

.micro-response div.okta-topics > div:nth-child(2)
{
	width: 60%;
	padding-left: 2rem;
}

.micro-response div.okta-topics > div:nth-child(3)
{
	width: 20%;
}

.micro-response div.toolbar-row	/* ===== Breadcrumbs and Toolbar row ===== */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

.micro-response div.toolbar-row::before
{
	content: ' ';
	display: table;
}

.micro-response div.toolbar-row::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response div.toolbar-row > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	padding: 1% 1%;
	/* padding-left: 15px;
	padding-right: 15px; */
}

.micro-response div.toolbar-row > div:nth-child(1)
{
	margin-left: 0%;
	width: 20%;
	background-color: #007dc1;
}

.micro-response div.toolbar-row > div:nth-child(2)
{
	margin-left: 0%;
	width: 62%;
}

.micro-response div.toolbar-row > div:nth-child(3)
{
	margin-left: 0%;
	width: 18%;
}

.micro-response div.footer	/* Footer row */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	height: 25vh;
}

.micro-response div.footer::before
{
	content: ' ';
	display: table;
}

.micro-response div.footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response div.footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 6% 3%;
	background: transparent;
}

.micro-response div.footer > div:nth-child(1)
{
	width: 20%;
	background: #007dc1;
}

.micro-response div.footer > div:nth-child(2)
{
	width: 80%;
	padding-left: 2rem;
}

/*=========================================================================*/
/* === Madcap styles === */

.micro-response MadCap|bodyProxy
{
	margin-bottom: 25px;
	clear: left;
}

.micro-response MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: '  ';
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	mc-breadcrumbs-divider: '  >  ';
	color: #404040;
	font-size: 80%;
	border-bottom-color: transparent;
	line-height: 1.6rem;
}

.micro-response MadCap|dropDown
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
	mc-image-spacing: 2%;
}

.micro-response MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../Images/okta-assets/DropDownClosedSecondLevel.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpenSecondLevel.png');
}

.micro-response MadCap|expanding
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
}

.micro-response MadCap|popupBody
{
	background-color: #007dc1;
	padding: 10px;
	font-size: 95%;
	line-height: 1.3em;
	color: #ffffff;
}

.micro-response MadCap|xref
{
	mc-format: '{para}';
	font-family: 'Proxima Nova';
	color: #007dc1;
	text-decoration: none;
}

.micro-response MadCap|xref:hover
{
	color: #46b3e9;
}

/*=======================================================================*/
/* === Back-to-top floating button === */

.micro-response .sf-back-to-top
{
	background-color: #007dc1;
	/* button color */
	color: white;
	/* text/arrow color */
	display: none;
	z-index: 999;
	/* float in bottom right corner */
	/* 20 pixels from edge */
	position: fixed;
	right: 2em;
	bottom: 80px;
	/* size of button is 50 pixels*/
	width: 50px;
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* round button */
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.micro-response .sf-back-to-top:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

.micro-response a.sf-back-to-top
{
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.6;
	padding-left: 2px;
	padding-top: 4px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

.micro-response a.sf-back-to-top .arrow:before
{
	font-size: 18px;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	display: block;
	vertical-align: middle;
	cursor: pointer;
	margin-left: -5px;
	font-weight: bold;
	content: '^';
}

/*==============================================================================*/
/* === Tiles section === */

.micro-response div.tiles	/* Tiles */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

.micro-response div.tiles::before
{
	content: ' ';
	display: table;
}

.micro-response div.tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response div.tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	border: 1px solid #D3D3D3;
}

.micro-response div.tiles > div:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

.micro-response div.tiles > div:nth-child(1)
{
	width: 32%;
	margin-left: 1%;
}

.micro-response div.tiles > div:nth-child(2)
{
	width: 32%;
	margin-left: 1%;
}

.micro-response div.tiles > div:nth-child(3)
{
	width: 32%;
	margin-left: 1%;
}

/* Elements for text contained within each tile */

.micro-response p.tile-title
{
	text-align: center;
	color: #7E8890;
	font-family: Arial;
	font-size: 1.4em;
}

.micro-response p.tile-subtitle
{
	text-align: center;
	font-size: 0.9em;
	color: #7E8890;
}

.micro-response p.tile-content
{
	color: #7E8890;
	font-size: 0.8em;
	text-align: center;
}

.micro-response div.tiles a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #000;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1024px)
{
	.micro-response div.tiles > div:nth-child(1)
	{
		width: 32%;
		margin-left: 1%;
	}

	.micro-response div.tiles > div:nth-child(2)
	{
		width: 32%;
		margin-left: 1%;
	}

	.micro-response div.tiles > div:nth-child(3)
	{
		width: 32%;
		margin-left: 1%;
	}
}

@media only screen and (max-width: 480px)
{
	.micro-response p.tile-title
	{
		font-size: 1.2em;
	}

	.micro-response div.tiles > div
	{
		margin-top: 2%;
	}

	.micro-response div.tiles > div:nth-child(1)
	{
		width: 90%;
		margin-left: 5%;
	}

	.micro-response div.tiles > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}

	.micro-response div.tiles > div:nth-child(3)
	{
		width: 90%;
		margin-left: 5%;
	}
}

/* ================================================================================= */

.micro-response MadCap|glossaryTerm
{
	mc-closed-image: none;
	mc-open-image: none;
	mc-image-position: none;
}

.micro-response a
{
	color: #007dc1;
}

.micro-response MadCap|toggler
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
}

/*==========================================================================================*/
/* === Form Factors: tablet and mobile === */

@media only screen and (max-width: 1024px)
{
	.micro-response .is-not-in-mobile
	{
		display: none;
	}

	.micro-response div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		padding-bottom: 3%;
	}

	.micro-response div.LeftRightMenu > div:nth-child(2)
	{
		width: 8.3333%;
		display: none;
	}

	.micro-response div.TopBarLeftRight
	{
		display: block;
	}

	.micro-response div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
	}

	.micro-response div.TopBarLeftRight > div:nth-child(2)
	{
		width: 8.3333%;
		margin-left: 0%;
		display: none;
	}

	.micro-response div.Footer > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response div.Footer > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response div.Footer > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response div.toolbar-main
	{
		float: left;
	}

	.micro-response MadCap|breadcrumbsProxy
	{
		
	}
}

@media only screen and (max-width: 480px)
{
	.micro-response .is-not-in-mobile
	{
		display: none;
	}

	.micro-response div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		padding-bottom: 3%;
	}

	.micro-response div.LeftRightMenu > div:nth-child(2)
	{
		width: 8.3333%;
		margin-left: 0%;
		display: none;
	}

	.micro-response div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
	}

	.micro-response div.TopBarLeftRight > div:nth-child(2)
	{
		width: 8.3333%;
		margin-left: 0%;
		display: none;
	}

	.micro-response div.Footer > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response div.Footer > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response div.Footer > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response div.toolbar-main
	{
		float: left;
	}

	.micro-response a.sf-back-to-top
	{
		line-height: 1.2;
		height: 45px;
		width: 45px;
	}

	.micro-response img.MCDropDown_Image_Icon	/*To control box sizing for mobile output*/
	{
		box-sizing: border-box;
		max-height: 1.5ex;
		max-width: 2ex;
	}

	.micro-response MadCap|glossaryTerm
	{
		background: #992f00;
	}

	.micro-response img.new-leaf-icon	/*To style the "New" leaf icon responsively*/
	{
		
	}

	.micro-response MadCap|breadcrumbsProxy
	{
		
	}

	.micro-response MadCap|topicToolbarProxy
	{
		clear: both;
	}
}

/* ====================================================================== */
/* ==== For Release Notes Only ========================================== */
/* ====================================================================== */

.micro-response h1.relnotes	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
	font-size: 2.125em;
}

.micro-response h2.relnotes	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-size: 1.7rem;
	border-bottom: solid 1px #e4e5e7;
	padding-bottom: 1em;
	font-family: 'Proxima Nova Semibold';
	border-top: solid 1px #e4e5e7;
	padding-top: 3em;
}

.micro-response h3.relnotes	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova Semibold';
	font-size: 1.5rem;
}

.micro-response h4.relnotes	/*For use in RelNote topics only*/
{
	font-family: 'Proxima Nova Semibold';
	font-size: 1rem;
}

.micro-response h3.relnotes-reg	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-size: 1.3rem;
	font-family: 'Proxima Nova';
}

.micro-response MadCap|dropDownHead.relnotes	/*For use in RelNote topics only*/
{
	font-size: 1.25rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.micro-response h1.relnotes-month	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
	font-size: 2rem;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ================================================================ */
/* ===== For Release Notes MiniTOC ================================ */
/* ================================================================ */

.micro-response div.page-toc
{
	border-left: solid 6px #dddddd;
	padding-left: 1.2em;
	margin-bottom: 2em;
	margin-top: 2em;
}

.micro-response p.box-heading
{
	font-family: 'Proxima Nova Semibold';
	font-size: 1.2em;
}

.micro-response ul.minitoc
{
	color: #007dc1;
	margin-left: 0;
	padding-left: 1.2em;
	background-color: transparent;
	list-style-type: none;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ================================================================== */
/* ====================== For Terminal Display ====================== */
/* ================================================================== */

.micro-response .terminal
{
	margin-bottom: 1em;
	max-width: 150em;
}

.micro-response .terminal .terminal-toolbar
{
	background: linear-gradient(to bottom, #e5e5e5 0%, #cfcfcf 100%);
	border-radius: 5px 5px 0 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	height: 21px;
	padding-left: 4px;
	width: 100%;
}

.micro-response .terminal .terminal-toolbar .terminal-circle
{
	float: left;
	width: 14px;
	height: 14px;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 14px;
	margin: 4px 4px;
}

.micro-response .terminal .terminal-toolbar .terminal-circle.red
{
	background-color: #fc605c;
	border-color: #df423f;
}

.micro-response .terminal .terminal-toolbar .terminal-circle.yellow
{
	background-color: #fdbc40;
	border-color: #de9f34;
}

.micro-response .terminal .terminal-toolbar .terminal-circle.green
{
	background-color: #34c749;
	border-color: #20a92f;
}

.micro-response .terminal .terminal-content
{
	background-color: black;
	color: #f7f7f9;
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 14px;
	line-height: 1.25;
	padding: 8px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.micro-response .terminal.terminal-home
{
	margin-bottom: 0em;
}

.micro-response .terminal.terminal-home .terminal-content
{
	font-size: 16px;
	min-height: 8em;
}

/*== ============================================================================= */

.micro-response .ea-item	/*format for ea items (blocks or inline)*/
{
	background: #fafafa;
	border-left: solid 2px #f1d10d;
	padding-left: 1rem;
}

/* ================================================================================= */
/* ======================== Top Nav menu customizations ============================ */
/* ================================================================================= */

.micro-response ul.navigation > li > a
{
	border: 1px solid transparent;
}

.micro-response ul.navigation > li > a::hover,
.micro-response ul.navigation > li > a::focus
{
	border-bottom: solid 1px #2f3f4a;
}

.micro-response ul.navigation > li > a::after
{
	content: url('../Images/okta-assets/Caret-down.png');
	padding-left: 4px;
}

.micro-response ul.navigation > li[data-mc-id="1"] > a::after,
.micro-response ul.navigation > li[data-mc-id="4"] > a::after,
.micro-response ul.sub-menu > li[data-mc-id="7"] > a::after,
.micro-response ul.sub-menu > li[data-mc-id="8"] > a::after,
.micro-response ul.sub-menu > li[data-mc-id="9"] > a::after,
.micro-response ul.sub-menu > li[data-mc-id="10"] > a::after,
.micro-response ul.sub-menu > li[data-mc-id="11"] > a::after,
.micro-response ul.sub-menu > li[data-mc-id="12"] > a::after,
.micro-response ul.sub-menu > li[data-mc-id="13"] > a::after
{
	content: url('../Images/okta-assets/external-link-icon.png');
	padding-left: 4px;
}

.micro-response ul.sub-menu > li.has-children > a::after,
.micro-response ul.sub-menu > li.tree-node-leaf > a::after
{
	content: none;
}

.micro-response ul._Skins_okta_left_menu > li.has-children[data-mc-id="1"]
{
	padding-top: 1.5rem;
}

/*div.nav-search-wrapper
{
	display: none;
}*/

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* === Responsive Grid (OLD -- TO BE DEPRECATED ON MAY 3)=== ========================================================*/

.micro-response div.LeftRightMenu	/* Main row*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

.micro-response div.LeftRightMenu::before
{
	content: ' ';
	display: table;
}

.micro-response div.LeftRightMenu::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response div.LeftRightMenu > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
	background: transparent;
	height: auto;
	margin-top: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.micro-response div.LeftRightMenu > div:nth-child(1)
{
	width: 75%;
	background: #fff;
	/* box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08); */
	padding-bottom: 200px;
}

.micro-response div.LeftRightMenu > div:nth-child(2)
{
	width: 25%;
	background-color: transparent;
	margin-top: 2%;
}

.micro-response div.LeftRightTopRow	/* Breadcrumbs and Toolbar row*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

.micro-response div.LeftRightTopRow::before
{
	content: ' ';
	display: table;
}

.micro-response div.LeftRightTopRow::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response div.LeftRightTopRow > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
	background: transparent;
	height: auto;
	margin-top: 2%;
	padding-left: 15px;
	padding-right: 15px;
}

.micro-response div.LeftRightTopRow > div:nth-child(1)
{
	width: 75%;
	background: #fff;
	/* box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08); */
}

.micro-response div.LeftRightTopRow > div:nth-child(2)
{
	width: 25%;
	background-color: transparent;
}

