/*<meta fileTags="Tags/okta-authors.Helena Jerney" conditions="" />*/

/* Global Okta help css -- contains classes and elements used on any and all topics.  */

@import url('okta-fonts.css');

@import url('foundation.min.css');

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

nav.tab-bar
{
	border-bottom: solid 3px #EAEAEA;
}

body
{
	color: #404040;
	font-family: 'Proxima Nova Light';
	background-attachment: scroll;
	background-origin: padding-box;
	background-size: auto;
	background: #ffffff;
	/* For browsers that do not support gradients
	background: -webkit-linear-gradient(left top, #20313b, #336699);
	/* For Safari 5.1 to 6.0
	background: -o-linear-gradient(bottom right, #20313b, #336699);
	/* For Opera 11.1 to 12.0
	background: -moz-linear-gradient(bottom right, #20313b, #336699);
	/* For Firefox 3.6 to 15
	background: linear-gradient(to bottom right, #20313b, #336699);
	/* Standard syntax */
	background-repeat: no-repeat;
	background-attachment: fixed;
	line-height: 1.5em;
}

a.Popup
{
	
}

a:link
{
	color: #007dc1;
	text-decoration: none;
}

a:visited
{
	font-family: 'Proxima Nova Light';
	color: #895eb7;
	text-decoration: none;
}

.tabs-title > a:focus
{
	color: #5e5e5e;
	border-bottom: solid 6px #4CBF9C;
}

a:hover
{
	color: #46b3e9;
}

div.tiles a:hover	/*Complex Selector: When hovering over links within the tiles the following properties will apply.*/
{
	color: #3f4652;
}

.tabs-title > a:hover
{
	color: #5e5e5e;
}

/* === In-topic tabs (see relnotes) ========================================================== */

.tabs
{
	border: none;
	padding-left: 1em;
}

.tabs-title > a
{
	color: #a7a7a7;
	font-size: 1em;
	padding-bottom: 1rem;
}

.tabs-title > a[aria-selected=true]
{
	color: #5e5e5e;
	border-bottom: solid 6px #4CBF9C;
	background-color: #ffffff;
}

.tabs-content
{
	border: none;
}

/* ================================================ */

a.MCBreadcrumbsLink
{
	text-decoration: none;
	font-family: 'Proxima Nova Light';
	color: #404040;
}

a.MCBreadcrumbsLink:visited
{
	color: #404040;
}

a.MCBreadcrumbsLink:hover
{
	color: #007dc1;
}

b
{
	font-weight: 900;
}

img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

img.new
{
	max-width: 100%;
	vertical-align: text-top;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Proxima Nova Light';
	color: #404040;
}

p.copyright
{
	font-size: 75%;
}

p.earlyaccess
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #f1d10d;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

p.beta
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

p.update
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f9f9f9;
	margin-left: 10px;
	text-align: left;
	background-clip: border-box;
	border: solid 2px #eaeaea;
	border-left: solid 2px #1f93d0;
	border-left-width: 8px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	margin: .67em 0;
	margin-bottom: 10 px;
	margin-top: 10px;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: 'Proxima Nova Light';
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
}

h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-family: 'Proxima Nova';
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova';
}

h4
{
	font-family: 'Proxima Nova';
	font-size: 1.3;
}

/*================================================================*/
/*=== Left Menu Items ===*/

ul.nocontent.menu._Skins_relnote_tabs.mc-component
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
	background-color: #ffffff;
	height: auto;
}

ul.nocontent.menu._Skins_relnote_tabs.mc-component li
{
	float: left;
}

ul.nocontent.menu._Skins_relnote_tabs.mc-component li a
{
	display: block;
	color: #888888;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.nocontent.menu._Skins_relnote_tabs.mc-component li a.active
{
	background-color: #007DC1;
	color: white;
}

ul.nocontent.menu._Skins_relnote_tabs.mc-component li.right
{
	float: right;
}

ul._Skins_relnote_tabs
{
	font-size: 14pt;
	border: solid 2px #000077;
	border-bottom-color: #007dc1;
	background-color: #ffffff;
}

@media screen and (max-width: 600px)
{
	ul.nocontent.menu._Skins_relnote_tabs.mc-component li.right,
	ul.nocontent.menu._Skins_relnote_tabs.mc-component li
	{
		float: none;
	}
}

/*==================================================================*/
/* === Right menu items ================================================== */

/* ul.right-menu
{

	font-size: .90em;
	list-style-type: none;
	border-left: 1px solid #007dc1;
} */

/* === divs === */

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Proxima Nova';
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	font-family: 'Proxima Nova Light';
}

html.templateTopic div.sideContent
{
	display: none;
}

html.templateTopic
{
	font-family: 'Proxima Nova';
}

div.toolbar-main
{
	float: right;
	clear: none;
}

div.body-main
{
	padding-bottom: 3%;
}

/* === Responsive Grid === ========================================================*/

div.LeftRightMenu	/* Main row*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.LeftRightMenu::before
{
	content: ' ';
	display: table;
}

div.LeftRightMenu::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.LeftRightMenu > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
	background: transparent;
	height: auto;
	margin-top: auto;
	padding-left: 15px;
	padding-right: 15px;
}

div.LeftRightMenu > div:nth-child(1)
{
	width: 75%;
	background: #fff;
	/* box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08); */
	padding-bottom: 200px;
}

div.LeftRightMenu > div:nth-child(2)
{
	width: 25%;
	background-color: transparent;
	margin-top: 2%;
}

div.LeftRightTopRow	/* Breadcrumbs and Toolbar row*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.LeftRightTopRow::before
{
	content: ' ';
	display: table;
}

div.LeftRightTopRow::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.LeftRightTopRow > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
	background: transparent;
	height: auto;
	margin-top: 2%;
	padding-left: 15px;
	padding-right: 15px;
}

div.LeftRightTopRow > div:nth-child(1)
{
	width: 75%;
	background: #fff;
	/* box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08); */
}

div.LeftRightTopRow > div:nth-child(2)
{
	width: 25%;
	background-color: transparent;
}

/* div.footer -- Footer row --
{
	font-size: small;
	text-align: left;
	text-indent: 10px;
	vertical-align: bottom;
	height: auto;
	overflow: hidden;
	position: static;
	padding-bottom: 0px;
	padding-top: 0px;
	bottom: -20px;
	background-color: #ededed;
} */

div.Footer	/* Footer row */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.Footer::before
{
	content: ' ';
	display: table;
}

div.Footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.Footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 6% 3%;
	background: transparent;
}

div.Footer > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.Footer > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.Footer > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

footer
{
	padding: 100px 60px;
}

/*=========================================================================*/
/* === Madcap styles === */

MadCap|bodyProxy
{
	margin-bottom: 25px;
	clear: left;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: '  ';
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	mc-breadcrumbs-divider: '  >  ';
	color: #404040;
	font-size: 80%;
	border-bottom-color: transparent;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
	mc-image-spacing: 2%;
}

MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../Images/okta-assets/DropDownClosedSecondLevel.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpenSecondLevel.png');
}

MadCap|expanding
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
}

MadCap|popupBody
{
	background-color: #007dc1;
	color: #ffffff;
	padding: 10px;
	font-size: 95%;
	line-height: 1.3em;
}

MadCap|xref
{
	mc-format: '{para}';
	font-family: 'Proxima Nova';
	color: #007dc1;
	text-decoration: none;
}

MadCap|xref:hover
{
	color: #46b3e9;
}

/*=======================================================================*/
/* === Back-to-top floating button === */

.sf-back-to-top
{
	background-color: #007dc1;
	/* button color */
	color: white;
	/* text/arrow color */
	display: none;
	z-index: 999;
	/* float in bottom right corner */
	/* 20 pixels from edge */
	position: fixed;
	right: 2em;
	bottom: 80px;
	/* size of button is 50 pixels*/
	width: 50px;
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* round button */
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.sf-back-to-top:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

a.sf-back-to-top
{
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.6;
	padding-left: 2px;
	padding-top: 4px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

a.sf-back-to-top .arrow:before
{
	font-size: 18px;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	display: block;
	vertical-align: middle;
	cursor: pointer;
	margin-left: -5px;
	font-weight: bold;
	content: '^';
}

/*==============================================================================*/
/* === Tiles section === */

div.tiles-container
{
	padding-top: 60px;
	padding-bottom: 60px;
}

div.tiles	/* Tiles */
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.tiles::before
{
	content: ' ';
	display: table;
}

div.tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
}

div.tiles > div:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

div.tiles > div:nth-child(1)
{
	width: 32%;
	margin-left: 1%;
}

div.tiles > div:nth-child(2)
{
	width: 32%;
	margin-left: 1%;
}

div.tiles > div:nth-child(3)
{
	width: 32%;
	margin-left: 1%;
}

/* Elements for text contained within each tile */

p.tile-title
{
	text-align: center;
	color: #000000;
}

div.tiles a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #F26849;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* HJ Elements for text contained within tile-like sections */

p.TopBarTile-title	/* HJ */
{
	text-align: center;
	color: #ffffff;
}

div.TopBarLeftRight a	/* HJ Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #F26849;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

MadCap|glossaryTerm
{
	mc-closed-image: none;
	mc-open-image: none;
	mc-image-position: none;
}

a
{
	color: #007dc1;
}

MadCap|toggler
{
	mc-closed-image: url('../Images/okta-assets/DropDownClosed.png');
	mc-open-image: url('../Images/okta-assets/DropDownOpen.png');
}

/*==========================================================================================*/
/* === Form Factors: tablet and mobile === */

@media only screen and (max-width: 1024px)
{
	div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		padding-bottom: 3%;
	}

	div.LeftRightMenu > div:nth-child(2)
	{
		width: 8.3333%;
	}

	div.TopBarLeftRight
	{
		display: block;
	}

	div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
	}

	div.TopBarLeftRight > div:nth-child(2)
	{
		width: 8.3333%;
		margin-left: 0%;
		display: none;
	}

	div.Footer > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.toolbar-main
	{
		float: left;
	}
}

@media only screen and (max-width: 480px)
{
	div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		padding-bottom: 3%;
	}

	div.LeftRightMenu > div:nth-child(2)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
	}

	div.TopBarLeftRight > div:nth-child(2)
	{
		width: 8.3333%;
		margin-left: 0%;
		display: none;
	}

	div.Footer > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.toolbar-main
	{
		float: left;
	}

	a.sf-back-to-top
	{
		line-height: 1.2;
		height: 45px;
		width: 45px;
	}

	img.MCDropDown_Image_Icon	/*To control box sizing for mobile output*/
	{
		box-sizing: border-box;
		max-height: 1.5ex;
		max-width: 2ex;
	}

	MadCap|glossaryTerm
	{
		background: #992f00;
	}

	img.new-leaf-icon	/*To style the "New" leaf icon responsively*/
	{
		
	}
}

h1.relnotes	/*For use in RelNote topics only*/
{
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
	font-size: 2.125em;
}

h2.relnotes
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-size: 1.7rem;
	border-bottom: solid 1px #e4e5e7;
	padding-bottom: 1em;
	font-family: 'Proxima Nova Semibold';
	border-top: solid 1px #e4e5e7;
	padding-top: 3em;
}

h3.relnotes
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova Semibold';
	font-size: 1.5rem;
}

h4.relnotes
{
	font-family: 'Proxima Nova Semibold';
	font-size: 1rem;
}

h3.relnotes-reg
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-size: 1.3rem;
	font-family: 'Proxima Nova';
}

MadCap|dropDownHead.relnotes
{
	font-size: 1.25rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

h1.relnotes-month
{
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
	font-size: 2rem;
}

/*===== For Release Notes MiniTOC ======================================================*/

div.page-toc
{
	border-left: solid 6px #dddddd;
	padding-left: 1.2em;
	margin-bottom: 2em;
	margin-top: 2em;
}

p.box-heading
{
	font-family: 'Proxima Nova Semibold';
	font-size: 1.2em;
}

ul.minitoc
{
	color: #007dc1;
	margin-left: 0;
	padding-left: 1.2em;
	background-color: transparent;
}

