/*<meta />*/

@import url('okta-fonts.css');

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	color: #404040;
	line-height: 1.7em;
	font-family: 'Proxima Nova Light';
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
	font-family: 'Proxima Nova Light';
	color: #1f93d0;
}

a.MCBreadcrumbsLink:visited
{
	color: #895eb7;
}

a.MCBreadcrumbsLink:hover
{
	color: #78a900;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Proxima Nova';
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Proxima Nova';
}

h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-family: 'Proxima Nova';
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Proxima Nova';
}

h4
{
	font-family: 'Proxima Nova';
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: 'Proxima Nova Light';
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
	font-family: 'Proxima Nova Light';
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	font-family: 'Proxima Nova';
	color: #1f93d0;
}

MadCap|xref:hover
{
	color: #78a900;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Proxima Nova Light';
}

p.Copyright
{
	font-size: 0.8em;
	text-align: left;
	color: #888888;
	line-height: 1.6em;
	margin: 0 0 0 0;
}

p.earlyaccess
{
	background-color: #fcc;
	text-align: center;
	padding-bottom: 5px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	font-family: 'Proxima Nova Light';
}

html.templateTopic div.sideContent
{
	display: none;
}

a:visited
{
	font-family: 'Proxima Nova Light';
	color: #895eb7;
}

a:hover
{
	font-family: 'Proxima Nova Light';
	color: #78a900;
}

html.templateTopic
{
	font-family: 'Proxima Nova';
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/DropDownClosed.png');
	mc-open-image: url('../Images/DropDownOpen.png');
}

/* Footer */

div.footer
{
	background-color: #DADADA;
	padding-top: 10px;
	padding-bottom: 10px;
}

MadCap|bodyProxy
{
	margin-bottom: 25px;
}

MadCap|expanding
{
	mc-closed-image: url(resources:Images/WebHelp/DropDownClosed.gif);
	mc-open-image: url(resources:Images/WebHelp/DropDownOpen.png);
}

MadCap|glossaryTerm
{
	mc-closed-image: url(resources:Images/WebHelp/DropDownClosed.gif);
	mc-open-image: url(resources:Images/WebHelp/DropDownOpen.png);
}

