/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

#feedback a
{
	display: block;
	position: fixed;
	top: 200px;
	right: -1px;
	background: #007dc1;
	padding: 7px 5px;
	border: 1px solid #030;
	border-left-color: #060;
	border-top-color: #090;
}

#feedback a:hover
{
	background: #030;
	border: 1px solid #030;
}

div.LeftMenu	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.LeftMenu::before
{
	content: ' ';
	display: table;
}

div.LeftMenu::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.LeftMenu > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
}

div.LeftMenu > div:nth-child(1)
{
	background: #20313b;
	background-color: #20313b;
	background-attachment: scroll;
	padding: 60px 30px 60px 60px;
	height: auto;
	width: 25%;
	margin-left: 0%;
}

div.LeftMenu > div:nth-child(2)
{
	background: #ffffff;
	padding: 60px;
	width: 75%;
	margin-left: 0%;
}

div.LeftRightMenu	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.LeftRightMenu::before
{
	content: ' ';
	display: table;
}

div.LeftRightMenu::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.LeftRightMenu > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
	background: transparent;
}

div.LeftRightMenu > div:nth-child(1)
{
	background-attachment: scroll;
	height: auto;
	width: 25%;
	margin-left: 0%;
	padding-top: 20px;
	padding: 40px 30px 60px 60px;
}

div.LeftRightMenu > div:nth-child(2)
{
	width: 58.333%;
	margin-left: 0%;
	padding-top: 20px;
	background: #fff;
	padding-bottom: 200px;
	border-bottom: solid 2px #d2d2d6;
	border-right-color: #d2d2d6;
	padding: 40px 60px 200px;
}

div.LeftRightMenu > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 0%;
	background-color: transparent;
}

div.TopBarLeftRight	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.TopBarLeftRight::before
{
	content: ' ';
	display: table;
}

div.TopBarLeftRight::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.TopBarLeftRight > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	margin: 0px;
	background-attachment: fixed;
	background: transparent;
}

div.TopBarLeftRight > div:nth-child(1)
{
	height: auto;
	width: 25%;
	margin-left: 0%;
	padding-right: 10px;
	padding: 10px;
	padding-left: 60px;
	padding-top: 25px;
	padding-bottom: 10px;
	background-color: transparent;
}

div.TopBarLeftRight > div:nth-child(2)
{
	width: 58.333%;
	margin-left: 0%;
	padding: 10px;
	padding-left: 60px;
	padding-top: 25px;
	background: #fff;
	background-color: #fff;
}

div.TopBarLeftRight > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 0%;
	padding: 10px;
	padding-top: 25px;
	background-color: transparent;
}

MadCap|breadcrumbsProxy
{
	color: #3d3d3d;
	font-size: 75%;
	font-style: normal;
	mc-breadcrumbs-prefix: Skin / Formats / BreadcrumbsYouAreHereText(HOME > );
}

div.Footer	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.Footer::before
{
	content: ' ';
	display: table;
}

div.Footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.Footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 120px 60px;
	background: transparent;
}

div.Footer > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.Footer > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.Footer > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

footer
{
	padding: 100px 60px;
}

@media only screen and (max-width: 1024px)
{
	div.LeftMenu > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftMenu > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftRightMenu > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftRightMenu > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.TopBarLeftRight > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.TopBarLeftRight > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 480px)
{
	div.LeftMenu > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		padding-right: 20px;
	}

	div.LeftMenu > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftMenu > div
	{
		height: auto;
	}

	div.LeftRightMenu > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		padding-right: 20px;
	}

	div.LeftRightMenu > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.LeftRightMenu > div
	{
		height: auto;
	}

	div.LeftRightMenu > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.TopBarLeftRight > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		padding-right: 20px;
	}

	div.TopBarLeftRight > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.TopBarLeftRight > div
	{
		height: auto;
	}

	div.TopBarLeftRight > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.Footer > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}
}

p.copyright
{
	color: #fff;
	font-size: 75%;
}

